<div class="animated fadeInRight  container w-xxl w-auto-xs" ng-init="logout()">
    <a href class="navbar-brand block m-t" style="color:#ffffff;">{{app.name}}</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong style="color:#ffffff;">You have Siggned out!</strong><br><br>
             <a ui-sref="staffSignin" class="list-group-item">
				<i class="fa fa-chevron-right text-muted"></i>
	            <i class="fa fa-fw fa-sign-in m-r-xs"></i> Sign in
	        </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    Loading(false);
</script>
