<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Gallery</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewGallery()">Add New Gallery</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="listGallery()">
        <div class="panel-heading">
            Manage Gallery
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Event Name</th>
                            <th>Title</th>
                            <th>Add View Image</th>
                            <th>Created on</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div class="" ng-if="galleries.length > 0">
                            <tr ng-repeat="gallery in galleries">
                                <td>{{gallery.title}}</td>
                                <td>{{gallery.gallery_title}}</td>
                                <td>
                                    <button class="btn btn-default" ng-click="viewAlbum(gallery.id)">Add/View Images</button>
                                </td>
                                <td>{{gallery.created_at| date:'MM-dd-yyyy'}}</td>
                                <td ng-if="gallery.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveGallery(gallery.id)">Active</button>
                                </td>
                                <td ng-if="gallery.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeGallery(gallery.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editGallery(gallery.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteGallery(gallery.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                        <tr ng-if="galleries.length === 0 || !galleries">
                            <td>No record found</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
