  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Medical Info</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createMedicalInfo()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Medical Info</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Type</label>
                            <div class="col-sm-9">
                                <select ng-model="info.type" class="form-control" required="true">
                                    <option value="">Please Select</option>
                                    <option value="Immunizations">Immunizations</option>
                                    <option value="Allergies">Allergies</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="info.name" placeholder="Name" required="true">
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelMedicalInfoCreate()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
