<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Medical Info</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewMedicalInfo()">Add Medical Info</button>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            Manage Medical Info
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>School name</th>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Created On</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="infos.length > 0">
                            <tr ng-repeat="info in infos">
                                <td>{{info.school_name}}</td>
                                <td>{{info.type}}</td>
                                <td>{{info.name}}</td>
                                <td>{{info.created_at | date:'MM-dd-yyyy'}}</td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editInfo(info.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteInfo(info.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
