<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit School</h1>
</div>
<div class="wrapper-md" ng-controller="districtSchoolEditController" ng-init="getSchoolEdit()" style="min-height:78vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit="saveEditDistrictSchool()" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit School</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">School Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="school_name" ng-model="school.school_name" placeholder="School Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model='school.address' name='address' placeholder="Address" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="City" ng-model="school.city" name="city" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="State" ng-model="school.state" name="state" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Country" ng-model="school.country" name="country" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Phone number" ng-model="school.phone_number" name="phone_number" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Office Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Office Number" ng-model="school.office_number" name="office_number" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fax Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Fax Number" ng-model="school.fax_number" name="fax_number" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Max Number Of Students</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" placeholder="Max Number Of Students" ng-model="school.max_students" name="fax_number" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Authorized Person Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Authorized Person Name" ng-model="school.ap_name" name="ap_name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Authorized Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" readonly="true" placeholder="Authorized Email" ng-model="school.email" name="email" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Authorized Mobile</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Authorized Mobile" ng-model="school.ap_mobile" name="ap_mobile" required>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelDistrictSchool()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
