<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Subject</h1>
</div>
<div class="wrapper-md" ng-controller="editDistrictSubjectController" style="min-height:76vh;" data-ng-init="getEditSubject()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit="saveEditSubject()" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Subject</strong>
                    </div>
                    <div class="panel-body" ng-init="getSchools()">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select School</label>
                            <div class="col-sm-9">
                                <select ng-model="subject.school_id" class="form-control" ng-change="getAllSchool()">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="school in schools" ng-value="{{school.id}}" value="{{school.id}}">{{school.school_name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Grade</label>
                            <div class="col-sm-9">
                                <select ng-model="subject.grade_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="grade in grades" ng-value="{{grade.id}}" value="{{grade.id}}">{{grade.grade}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Session</label>
                            <div class="col-sm-9">
                                <select ng-model="subject.session_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="session in Sessions" ng-value="{{session.id}}" value="{{session.id}}">{{session.session_name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Department</label>
                            <div class="col-sm-9">
                                <select ng-model="subject.department_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="department in departments" ng-value="{{department.id}}" value="{{department.id}}">{{department.department_name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Subject Name</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model='subject.subject_name' class="form-control" placeholder="Subject Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Type</label>
                            <div class="col-sm-9">
                                <select ng-model="subject.type" class="form-control" ng-value="subject.type">
                                    <option value="">Please Select</option>
                                    <option value="core">Core</option>
                                    <option value="elective">Elective</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea ng-model="subject.description" class="form-control" placeholder="Description" rows="8" cols="40" required></textarea>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelSubjectForm()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
