<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Payments</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewPayment()">Add New Payment</button>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            Payments
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only">
                    <thead>
                        <tr>
                            <th>School Name</th>
                            <th>Email</th>
                            <th>Payment</th>
                            <th>Amount</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
