<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add Book Category</h1>
</div>
<div class="wrapper-md">
    <div class="row" style="min-height:78vh;">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="addBookCategory()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Add Book Category</strong>
                    </div>
                    <br>
                    <div class="panel-body">
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Category Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="category_name" class="form-control" ng-model="book.category_name" placeholder="Category name" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-10 control-label"></label>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-success">Create</button>
                                <button type="button" class="btn btn-default" ng-click="listBookCategory()" type="button">Cancel</button>
                            </div>
                        </div>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
