<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Book Category</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-init="getAllSchoolBookCategory()">
    <button class="btn btn-default" ng-click="addNewBookCategory()">Add Book Category</button>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            Book Category
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-striped table-hover table-condensed table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Added At</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="categories.length > '0'">
                            <tr ng-repeat="category in categories">
                                <td>{{category.category_name}}</td>
                                <td>{{category.created_at| date:'MM-dd-yyyy'}}</td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteBookCategory(category.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
