<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Notices</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <div class="panel panel-default" ng-init="getAllNotices()">
        <div class="panel-heading">
            Manage Notices
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Message</th>
                            <th>Send Notice to</th>
                            <th>Created On</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="notices.length > '0'">
                            <tr ng-repeat="notice in notices">
                                <td>{{notice.message}}</td>
                                <td>{{notice.send_notice_to}}</td>
                                <td>{{notice.created_at | date:'MM-dd-yyyy'}}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
