<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Page</h1>
</div>
<div class="wrapper-md" ng-controller="newPagesController" ng-init="getEditPage()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit='editSavePage()' class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Page</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Page Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="title" ng-model="page.title" placeholder="Page Title" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Content</label>
                            <div class="col-sm-9">
                              <textarea rows="8" name='content' class="form-control" cols="40" ng-model="page.content" placeholder="Page Content" required></textarea>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success">Update</button>
                            <button class="btn btn-default" ng-click="cancelPage()" type="button" >Cancel</button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
