<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add New Page</h1>
</div>
<div class="wrapper-md" ng-controller='allPagesListController' ng-init='getAllPages()' style="min-height:78vh;">
  <button class="btn btn-default" ng-click="addNewPageRedirect()">Add New Page</button>
  <br><br>
    <div class="panel panel-default">
        <div class="panel-heading">
            Add New Page
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only">
                    <thead>
                        <tr>
                            <th style="width:15%">Page Title</th>
                            <th style="width:15%">Content</th>
                            <th style="width:10%">Created On</th>
                            <th style="width:15%">Status</th>
                            <th style="width:15%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="pages.length > '0'">
                            <tr ng-repeat="page in pages">
                                <td>{{page.title}}</td>
                                <td>{{page.content}}</td>
                                <td>{{page.created_at | date:'MM-dd-yyyy' }}</td>
                                <td ng-if="page.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactivePage(page.id)">Active</button>
                                </td>
                                <td ng-if="page.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activePage(page.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editPage(page.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deletePage(page.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
