<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Page</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit='SavePage()' class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Page</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="page.title" ng-model="page.title" placeholder="Menu Title" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Menu</label>
                            <div class="col-sm-9">
                                <select ng-model="page.parents_menu_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="childmenu in ChildMenus" ng-value="{{childmenu.id}}" value="{{childmenu.id}}">{{childmenu.title}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Parent Page</label>
                            <div class="col-sm-9">
                                <select ng-model="page.parent_page_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="parentpages in ParentPages" ng-value="{{parentpages.id}}" value="{{parentpages.id}}">{{parentpages.title}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Content</label>
                            <div class="col-sm-9">
                                <trix-editor angular-trix ng-model="page.content" col="5" style="min-height: 190px !important;"></trix-editor>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <div class="info-section">
                                    <button ngf-select="uploadFile($file)" ng-model="image_url" class="btn btn-primary" > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp;   Select Image</button>
                                </div>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success">Add</button>
                            <button class="btn btn-default" ng-click="cancelPage()" type="button" >Cancel</button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
