<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Pages</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-init="getAllPages()">
    <button class="btn btn-default" ng-click="addNewPage()">Add New Page</button>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            Manage Pages
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Selected Menu</th>
                            <th>Parent Page</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="Pages.length > '0'">
                            <tr ng-repeat="page in Pages">
                                <td>{{page.title}}</td>
                                <td>{{page.menu}}</td>
                                <td>{{page.parent_page_title}}</td>
                                <td>{{page.created_at | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="page.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactivePage(page.id)">Active</button>
                                </td>
                                <td ng-if="page.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activePage(page.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editPage(page.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deletePage(page.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
