<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add Fee</h1>
</div>
<div class="wrapper-md" ng-controller="schoolFeeCreateController" ng-init="getAllSchoolGrades()" style="min-height:78vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit="createNewFee()" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Add Fee</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="title" ng-model="fee.title" placeholder="Title" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">School Grades</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="fee.grade_id" change-to-number required>
                                    <option value="">Please Select</option>
                                    <option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Amount</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="amount" ng-model="fee.amount" placeholder="Amount" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="fee.status" required="true">
                                    <option value="">Please Select</option>
                                    <option value="pending">Pending</option>
                                    <option value="in_process">In Process</option>
                                    <option value="received">Received</option>
                                </select>
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success"">Add</button>
                            <button class="btn btn-default" ng-click="cancelFee()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>