<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Fees List</h1>
</div>
<div class="wrapper-md" ng-controller="schoolFeeListController" ng-init="getAllSchoolFees()" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="createFeeRedirect()">New Fee</button>
    <br>
    <br>
    <div class="panel panel-default" >
        <div class="panel-heading" >
            Fees List
        </div>
        <div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>School Name</th>
                            <th>Grade</th>
                            <th>Amount</th>
                            <th>Created on</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="fees.length > '0'">
                            <tr ng-repeat="fee in fees">
                                <td>{{fee.title}}</td>
                                <td>{{fee.school_name}}</td>
                                <td>{{fee.grade_name}}</td>
                                <td>{{fee.amount}}</td>
                                <td>{{fee.created_at | date:'MM-dd-yyyy'}}</td>
                                <td>{{fee.status}}</td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editFee(fee.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteFee(fee.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
