<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Location</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;">
    <div class="row">
        <div class="col-sm-8" ng-init="getEditLocation()">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveEditLocation()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Location</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="location.title" required="true" placeholder="Enter Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Building Name</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="location.building_name" class="form-control" placeholder="Enter Building Name" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Street Name</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="location.street_name" class="form-control" placeholder="Enter Street Name" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">City</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="location.city" class="form-control" placeholder="Enter City" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Zip Code</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="location.zip_code" class="form-control" placeholder="Enter Zip Code" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Floor</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="location.floor" class="form-control" placeholder="Enter Floor" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Room Number</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="location.room_number" class="form-control" placeholder="Enter Room Number" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Max Students</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="location.max_students" class="form-control" placeholder="Max Students" min="1" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-8">
                                <textarea ng-model="location.description" class="form-control" rows="8" cols="40" required="true" placeholder="Enter Description"></textarea>
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="listLocation()" type="button">Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
