<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Location</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewLocation()">Add New Location</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllLocation()">
        <div class="panel-heading">
            Manage Location
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>School Name</th>
                            <th>Building Name</th>
                            <th>Street Name</th>
                            <th>City</th>
                            <th>Zip Code</th>
                            <th>Floor</th>
                            <th>Room Number</th>
                            <th>Description</th>
                            <th>Number of seats</th>
                            <th>Created At</th>
                            <!-- <th>Status</th> -->
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="locations.length > '0'">
                            <tr ng-repeat="location in locations">
                                <td>{{location.title}}</td>
                                <td>{{location.school_name}}</td>
                                <td>{{location.building_name}}</td>
                                <td>{{location.street_name}}</td>
                                <td>{{location.city}}</td>
                                <td>{{location.zip_code}}</td>
                                <td>{{location.floor}}</td>
                                <td>{{location.room_number}}</td>
                                <td>{{location.description}}</td>
                                <td>{{location.max_students}}</td>
                                <td>{{location.created_at | date:"MM-dd-yyyy"}}</td>
                                <!-- <td ng-if="location.status === '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveLocations(location.id)">Active</button>
                                </td>
                                <td ng-if="location.status === '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeLocations(location.id)">Inactive</button>
                                </td> -->
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editLocation(location.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteLocations(location.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
