<style type="text/css">
   .hand_cursor{
       cursor: pointer;
   }
</style>
<div class="col-md-12  bg-light" style="min-height:80vh;">
    <div class="wrapper" ng-controller="takeExamController" ng-init="verifyStudent()">
        <div ng-show='exam_div_show'>
            <div class="pull-right">
                <timer autostart="false" id="exam_timer" finish-callback="finished()" countdown="countdownVal" interval="1000" > <h1> <span style="font-size:16px;">Remaining Time :</span> {{hours}} <span style="font-size:14px;">hours,</span>  {{minutes}} <span style="font-size:14px;">minutes,</span> {{seconds}} <span style="font-size:14px;">seconds.</span> </h1></timer>    
            </div>            
            <br>
            <h3 class="m-n font-thin">Exam Question <span style="font-size:15px;">Details</span></h3>
            <br>
            <br>
            <br>

            <br>
            <blockquote class="bg-white">
                <p ng-bind="current_question" class="ng-binding"></p>
                <br>
            </blockquote>
            <br>
            <div ng-if="current_question_type == 'muliple_choice'">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4 hand_cursor" ng-click="selectOption('option_a')">
                        <blockquote class="bg-white option_class option_a">
                            <p ng-bind="option_a" class="ng-binding"></p>
                        </blockquote>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4 hand_cursor" ng-click="selectOption('option_b')">
                        <blockquote class="bg-white option_class option_b">
                            <p ng-bind="option_b" class="ng-binding"></p>
                        </blockquote>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4 hand_cursor" ng-click="selectOption('option_c')">
                        <blockquote class="bg-white option_class option_c">
                            <p ng-bind="option_c" class="ng-binding"></p>
                        </blockquote>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4 hand_cursor" ng-click="selectOption('option_d')">
                        <blockquote class="bg-white option_class option_d">
                            <p ng-bind="option_d" class="ng-binding"></p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div ng-if="current_question_type == 'essay'">
                <div class="row" ng-if="current_question_type == 'essay'">
                    <div class="col-md-12">
                        <textarea id="essay_answer_text" name="name" rows="8" ng-bind="essay_answer" cols="40" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <center ng-show="save_and_next_button_show">
                <button type="button" name="button" ng-click="submit_and_next()" class="btn btn-lg btn-success">Save & Next &nbsp;<i class="fa fa-chevron-right text-muted"></i></button>
            </center>
        </div>
        <div ng-show="go_ahead_button">
            <center>
                <h1>Instructions for Exam</h1>
            </center>
            <br>
            <br>
            <h3>Before beginning the exam:</h3>
            <h4>1. Make sure you have a good internet connection.</h4>
            <h4>2. If you are taking the exam late in the day, it is recommended that you reboot your 
                computer before beginning to free up memory resources from other programs on 
                your computer.
            </h4>
            <h4>3. Maximize your browser window before starting the test.  Minimizing the browser 
                window during the exam can prevent the submission of your exam.
            </h4>
            <br>
            <h3>During the exam:</h3>
            <h4>1. Do not resize (minimize) the browser during the test.</h4>
            <h4>2. Never click the “Back” button on the browser.  This will take you out of the test and 
                prevent Blackboard from tracking your selected answers.
            </h4>
            <h4>3. Click the “Submit” button to submit your exam.  Do not press “Enter” on the 
                keyboard to submit the exam.
            </h4>
            <br>
            <h3>Instructions for accessing the Exam:</h3>
            <h4>1. Read the notes above titled “Before beginning the exam” and “During the exam.”</h4>
            <h4>2. Log in to the Thunder-School.</h4>
            <h4>3. Click on the “Exam” link from the left menu</h4>
            <h4>4. You will have DEFINE TIMELIMIT to complete your exam.</h4>
            <h4>5. The exam must be completed in one sitting. You can only open it once.  </h4>
            <h4>6. Answer all questions in the exam.</h4>
            <h4>7. Click the “Submit” button in the bottom right corner when you are done to submit  your work.</h4>
            <br>
            <center>
                <h1><button type="button" class="btn btn-lg btn-primary" ng-click="start_exam()"> Start Exam </button></h1>
            </center>
        </div>
        <div ng-show="!go_ahead_button && !exam_div_show && !exam_completed_div">
            <center>
                <h1>You are not authorized to take this Exam.</h1>
            </center>
        </div>
        <div ng-show="exam_completed_div">
            <center>
                <h1>Congratulations, You have completed this Exam.</h1>
                <br><br><br><br>
                <h1><button type="button" class="btn btn-lg btn-primary" ng-click="viewReportRedirect()"> View Report </button></h1>
            </center>
        </div>
        
    </div>
</div>