<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Menu</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit='createMenu()' class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Menu</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Menu Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="title" ng-model="menu.title" placeholder="Menu Title" required>
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success">Add</button>
                            <button class="btn btn-default" ng-click="cancelMenu()" type="button" >Cancel</button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
