<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Parent Menu</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-init="getAllParentMenus()">
    <button class="btn btn-default" ng-click="addNewMenu()">Add New Menu</button>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            Manage Parent Menu
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="parentMenus.length > '0'">
                            <tr ng-repeat="menu in ParentMenus">
                                <td>{{menu.title}}</td>
                                <td>{{menu.created_at| date:'MM-dd-yyyy'}}</td>
                                <td ng-if="menu.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveParentMenu(menu.id)">Active</button>
                                </td>
                                <td ng-if="menu.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeParentMenu(menu.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editParentMenu(menu.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteParentMenu(menu.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
