<div class="col-sm-3" style="min-height:82vh;" ng-init="getChildList()">
    <div ng-repeat="childrens in all_childrens ">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="clearfix">
                <a href="" class="pull-left thumb-md avatar b-3x m-r">
                    <img src="/upload/studentImages/{{childrens.image}}" alt="Image Not found" width="100px" height="100px">
                    <!--{{childrens.image}} -->
                </a>
                <div class="clear">
                    <div class="h3 m-t-xs m-b-xs">
                        {{childrens.first_name | capitalize}} {{childrens. last_name | capitalize}}
                    </div>
                    <small class="text-muted">{{childrens.email}}</small>
                    
                    <button ng-if="logged_in_child != childrens.id " type="button" class="btn btn-primary pull-right" ng-click="changeAnotherChild(childrens.id)"> View Details </button>
                </div>
            </div>
        </div>
        <div class="list-group no-radius alt">
            <a class="list-group-item" href="">
                <!-- <span class="badge bg-success">25</span> -->
                Phone Number
                <div class="pull-right">{{childrens.phone}}</div>

            </a>
            <a class="list-group-item" href="">
                  Remarks<div class="pull-right">{{childrens.remarks}}</div>
            </a>
            <a class="list-group-item" href="">
              Comments<div class="pull-right">{{childrens.comments}}</div>
          </a>
            <a class="list-group-item" href="">
            Birth date <div class="pull-right">{{childrens.birth_date | date:'MM-dd-yyyy'}}</div>
          </a>
        </div>
    </div>
    </div>
</div>
