<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Package</h1>
</div>
<div class="wrapper-md">
    <div class="row" style="min-height:78vh;">
        <div class="col-sm-8" ng-controller="editPackageController" ng-init="getEditPackage()">
            <form name="formValidate" ng-submit='saveUpdatedPackage()' class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Package</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Type</label>
                            <div class="col-sm-9" ng-model="package.value">
                                <select class="form-control" ng-model="package.school_type" required="">
                                    <option value="">Please select</option>
                                    <option value="school" >School</option>
                                    <option value="district">District</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="package.package_name" ng-model="package.package_name" placeholder="Package Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Price</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="package.price" ng-model="package.price" placeholder="Package Price" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Period</label>
                            <div class="col-sm-9">
                                <select class="form-control" required="" ng-model="package.period">
                                    <option value="">Please select</option>
                                    <option value="1">1 month</option>
                                    <option value="2">2 month</option>
                                    <option value="3">3 month</option>
                                    <option value="4">4 month</option>
                                    <option value="5">5 month</option>
                                    <option value="6">6 month</option>
                                    <option value="7">7 month</option>
                                    <option value="8">8 month</option>
                                    <option value="9">9 month</option>
                                    <option value="10">10 month</option>
                                    <option value="11">11 month</option>
                                    <option value="12">12 month</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-10 control-label"></label>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-success" ng-click="saveEditUser()" style="width: 64.44px;">Save</button>
                                <button class="btn btn-default" ng-click="cancelPackage()" type="button" >Cancel</button>
                            </div>
                        </div>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
