<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add New Package</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewPackage()">Add New Package</button>
    <br>
    <br>
    <div class="panel panel-default" ng-controller="allPackageController" data-ng-init="superAdminPackages()">
        <div class="panel-heading" >
            Manage Packages
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only">
                    <thead>
                        <tr>
                            <th style="width:15%">Name</th>
                            <th style="width:10%">Type</th>
                            <th style="width:10%">Price</th>
                            <th style="width:15%">Period</th>
                            <th style="width:20%">Created on</th>
                            <th style="width:10%">Status</th>
                            <th style="width:20%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="packages.length > '0'">
                            <tr ng-repeat="package in packages">
                                <td>{{package.package_name}}</td>
                                <td>{{package.school_type}}</td>
                                <td>{{package.price}}</td>
                                <td>{{package.period}} Months</td>
                                <td>{{package.created_at| date:'MM-dd-yyyy'}}</td>
                                <td ng-if="package.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactivePackage(package.id)">Active</button>
                                </td>
                                <td ng-if="package.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activePackage(package.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editPackage(package.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deletePackage(package.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
