<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">School List</h1>
</div>

<div class="wrapper-md" ng-controller="schoolManageController" ng-init="getAllSchoolList()" style="min-height:78vh;">
    <!-- <button class="btn btn-default" ng-click="addNewSchool()">Add New School</button> -->
    <br>
    <!-- <button ng-click="goToDashboard()" class='btn btn-primary'> << GOTO Dashboard</button> -->
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
              <div class=" col-md-8">School List</div>
              <div class="col-md-4">
                <!-- <input type="text" ng-model='txtsearch' class="form-control bg-light no-border rounded ng-touched ng-pristine ng-valid ng-empty" id="exampleInputEmail2" placeholder="Search Here"> -->
              </div>
              </div>
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>School Name</th>
                            <th>City</th>
                            <th>Office Number</th>
                            <th>Authorized Person Name</th>
                            <th>Profile Image</th>
                            <th>Authorized Person Email</th>
                            <th>Authorized Person Mobile</th>
                            <th>Status</th>
                            <th>Login</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="schools.length > '0'">
                            <tr ng-repeat="school in schools  |filter:txtsearch">
                                <td>{{school.school_name}}</td>
                                <td>{{school.city}}</td>
                                <td>{{school.office_number}}</td>
                                <td>{{school.ap_name}}</td>
                                <td> <img ng-src="/upload/users/{{school.profile_image}}" alt="superAdmin Image" height="70px" width="70px" class="r r-2x" on-error-src="/img/a0.jpg" /></td>
                                <td>{{school.email}}</td>
                                <td>{{school.ap_mobile}}</td>
                                <td ng-if="school.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveSchool(school.id)">Active</button>
                                </td>
                                <td ng-if="school.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeSchool(school.id)">Inactive</button>
                                </td>
                                <td>
                                <a ng-click="loginSchool(school.id)">
                                    <b class="badge dk pull-right"></b>
                                    <i class="fa icon-login" aria-hidden="true"></i>
                                </a>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
</div>
</div>
