<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Attendance</h1>
</div>
<div class="wrapper-md" style="min-height:80vh;" ng-init="getEditAttendance()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveEditAttendance()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Attendance</strong>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Date</label>
                        <div class="col-sm-8">
                            <datepicker date-format="'yyyy-MM-dd">
                                <input type="text" placeholder="Select Date" data-ng-model="attendance.date" class="form-control" required="true">
                            </datepicker>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Grade</label>
                        <div class="col-sm-8">
                            <select ng-model="attendance.grade_id" class="form-control" ng-change="getSubject(attendance.grade_id)" required="true">
                                <option value="">Please Select</option>
                                <option ng-repeat="grade in grades" value="{{grade.id}}" ng-value="{{grade.id}}">{{grade.grade}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Subject Name</label>
                        <div class="col-sm-8">
                            <select ng-model="attendance.subject_id" class="form-control" required="true" ng-change="getClass(attendance.subject_id)">
                                <option value="" selected="selected">Please Select</option>
                                <option ng-repeat="subject in subjects" value="{{subject.id}}" ng-value="{{subject.id}}">{{subject.subject_name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Class</label>
                        <div class="col-sm-8">
                            <select ng-model="attendance.class_id" class="form-control" required="true">
                                <option value="">Please Select</option>
                                <option ng-repeat="class in classes" value="{{class.id}}" ng-value="{{class.id}}">{{class.class_name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-8">
                            <textarea name="name" rows="8" cols="40" placeholder="Enter Description (Optional)" class="form-control" ng-model="attendance.description"></textarea>
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button class="btn btn-default" ng-click="listAttendance()" type="button">Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
