<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Attendance</h1>
</div>
<div class="wrapper-md" style="min-height:80vh;">
    <button class="btn btn-default" ng-click="addNewAttendane()">Add Attendance</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllAttendance()">
        <div class="panel-heading">
            Manage Attendance
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Grade</th>
                            <th>Subject</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="attendances.length > '0'">
                            <tr ng-repeat="attendance in attendances">
                                <td>{{attendance.date | date:'MM-dd-yyyy'}}</td>
                                <td>{{attendance.grade}}</td>
                                <td>{{attendance.subject_name}}</td>
                                <td>{{attendance.description}}</td>
                                <td>
                                    <button class="btn btn-primary" ng-click="attendanceReport(attendance.id)"><i class="glyphicon glyphicon-book"></i>&nbsp;Attendance Report</button>
                                    <button class="btn btn-primary" ng-click="editAttendance(attendance.id)"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit</button>
                                    <button class="btn btn-danger" ng-click="deleteAttendance(attendance.id)"><i class="glyphicon glyphicon-remove"></i>&nbsp;Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
