<div ng-controller="listAttendanceReportController" style="min-height:85vh;" ng-init="getAttendaceRequiredData()">
    <button class="btn btn-default" ng-click="listAttendance()">List Attendace</button>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <button style="margin-left:60px;" class="btn btn-danger" ng-click="makeNotAttendAll()"><i class="glyphicon glyphicon-ok"></i>&nbsp;Not Attend All</button>
            <button style="margin-right:60px;width:123px;" class="btn btn-success pull-right" ng-click="makeAttendAll()"><i class="glyphicon glyphicon-ok"></i>&nbsp;Attend All</button>
        </div>
    </div>
    <div class="row">
      <div class="wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Students List
                </div>
                <div>
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>Status</th>
                                    <th>Last Updated On</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div ng-if="attendance_report_lists.length > '0'">
                                    <tr ng-repeat="attendance_report_list in attendance_report_lists">
                                        <td>{{attendance_report_list.student_name}}</td>
                                        <td ng-if="attendance_report_list.status == '0'">
                                            <button class="btn btn-danger" ng-click="studentAttend(attendance_report_list.id)" style="width:107px;!important"><i class="glyphicon glyphicon-remove"></i>&nbsp;Not Attend</button>
                                        </td>
                                        <td ng-if="attendance_report_list.status == '1'">
                                            <button class="btn btn-success" ng-click="studentNotAttend(attendance_report_list.id)" style="width:107px;!important"><i class="glyphicon glyphicon-ok"></i>&nbsp;Attend</button>
                                        </td>
                                        <td>{{attendance_report_list.modified_at | date:'MM-dd-yyyy'}}</td>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
