<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Profile</h1>
</div>

<div class="wrapper-md" ng-init="getDistrictAdmin()">
    <div class="row" style="min-height:71vh;">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="updateDistrictAdmin()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Profile</strong>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="user.first_name" placeholder="First Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="user.last_name" placeholder="Last Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="user.email" placeholder="Email" required="true" disabled="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mobile Number</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="user.mobile" placeholder="Mobile Number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <div class="info-section" required="true">
                                    <button ngf-select="uploadFile($file)" ng-model="admission.image" ngf-required="true" class="btn btn-primary" > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp;   Select Image</button>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                        <label class="col-sm-3 control-label">Gender</label>
                        <div class="radio col-sm-8">
                            <label class="i-checks">
                                <input ng-model="user.gender" type="radio" name="rdoGender" ng-value="'male'">
                                <i></i>Male
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="user.gender" type="radio" name="rdoGender" ng-value="'female'">
                                <i></i>Female
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="user.gender" type="radio" name="rdoGender" ng-value="'other'">
                                <i></i>Other
                            </label> &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Birth Date</label>
                        <div class="col-sm-8">
                            <datepicker date-format="'yyyy-MM-dd">
                                <input type="text" placeholder="Date of Birth" data-ng-model="user.birth_date" class="form-control">
                            </datepicker>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-8">
                            <textarea ng-model="user.address" class="form-control" rows="8" cols="40" placeholder="Address" ></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">City</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="user.city" class="form-control" placeholder="City" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">State</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="user.state" class="form-control" placeholder="State" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Zip code</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="user.zipcode" class="form-control" placeholder="Enter zip code">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Country</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="user.country" class="form-control" placeholder="Country" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Height</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="user.height" class="form-control" placeholder="Height" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Weight</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="user.weight" class="form-control" placeholder="Weight" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Blood Group</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="user.blood_group" class="form-control" placeholder="Blood Group">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Other Medical Info</label>
                        <div class="col-sm-8">
                            <textarea ng-model="user.dieases_information" class="form-control ng-pristine ng-valid ng-empty ng-touched" rows="8" cols="20" style=""></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Emergency Contacts</label>
                        <div class="col-sm-8">
                            <textarea ng-model="user.emergency_contacts" class="form-control ng-pristine ng-valid ng-empty ng-touched" rows="8" cols="20" style=""></textarea>
                        </div>
                    </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button class="btn btn-success" type="submit" ui-toggle-class="btn-success" style="width: 64.44px;">Save</button>
                            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
