<div style="min-height:84vh;" ng-init="getParentsList()">
    <div ng-repeat="parents in all_parents" class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="clearfix">
                    <a href="" class="pull-left thumb-md avatar b-3x m-r">
                      <!-- <img ng-src="upload/parents/{{parents.parentImage}}" alt="" /> -->
                      <img ng-src="upload/parents/{{parents.parentImage}}"  src="/img/a0.jpg" alt="Parents Image" height="70px" width="70px" class="r r-2x" on-error-src="/img/a0.jpg">
                      <!-- {{parents.parentImage}} -->
                    </a>
                    <div class="clear">
                        <div class="h3 m-t-xs m-b-xs">
                            {{parents.full_name | capitalize}}
                        </div>
                        <small class="text-muted">{{parents.email}}</small>
                        <!-- <button ng-if="logged_in_child != parents.id " type="button" class="btn btn-primary pull-right" ng-click="changeAnotherChild(parents.id)"> View Details </button> -->
                    </div>
                </div>
            </div>
            <div class="list-group no-radius alt">
                <a class="list-group-item" href="">
                Phone Number 
                <div class="pull-right">{{parents.phone}}</div>
            </a>
                <a class="list-group-item" href="">
                  Relation<div class="pull-right">{{parents.relation_name}}</div>
            </a>
                <a class="list-group-item" href="">
              Mobile<div class="pull-right">{{parents.mobile}}</div>
          </a>
                <a class="list-group-item" style="height:83px;">
            Address <div class="pull-right" style="text-align:right;">
              {{parents.address}},
              <p>{{parents.city}}, {{parents.state}},<br>
              {{parents.country}}-{{parents.zipcode}}.</p>
              </div>
          </a>
            </div>
        </div>
    </div>
</div>
