<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Student Admission</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;">
    <div class="row" ng-init="getEditAdmission()">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveSkills()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Skills Information</strong>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select</label>
                        <div class="col-sm-8">
                            <select ng-model="admission.academics" class="form-control" ng-change="admission.academics">
                                <option value="">Please Select</option>
                                <option ng-value="Academic" value="Academic">Academic</option>
                                <!-- <option ng-value="non-academics" value="non-academics">Non-Academic</option> -->
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Sports</label>
                        <div class="col-sm-9">
                            <div class="checkbox col-sm-4">
                                <label class="i-checks">
                                    <input type="checkbox" name="sports" ng-model="sports.football">
                                    <i></i> Football
                                </label>
                            </div>
                            <div class="checkbox col-sm-4">
                                <label class="i-checks">
                                    <input type="checkbox" name="sports" ng-model="sports.baseball">
                                    <i></i> Baseball
                                </label>
                            </div>
                            <div class="checkbox col-sm-4">
                                <label class="i-checks">
                                    <input type="checkbox" name="sports" ng-model="sports.track">
                                    <i></i> Track
                                </label>
                            </div>
                            <div class="checkbox col-sm-4">
                                <label class="i-checks">
                                    <input type="checkbox" name="sports" ng-model="sports.soccer">
                                    <i></i> Soccer
                                </label>
                            </div>
                            <div class="checkbox col-sm-4">
                                <label class="i-checks">
                                    <input type="checkbox" name="sports" ng-model="sports.swimming">
                                    <i></i> Swimming
                                </label>
                            </div>
                            <div class="checkbox col-sm-4">
                                <label class="i-checks">
                                    <input type="checkbox" name="sports" ng-model="sports.basketball">
                                    <i></i> Basket Ball
                                </label>
                            </div>
                            <div class="checkbox col-sm-4">
                                <label class="i-checks">
                                    <input type="checkbox" name="sports" ng-model="sports.other">
                                    <i></i> Other
                                </label>
                            </div>
                        </div>


                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Remarks</label>
                        <div class="col-sm-8">
                            <textarea ng-model="admission.remarks" class="form-control" rows="8" cols="20"></textarea>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Health information</strong>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Height</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="admission.height" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Weight</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="admission.weight" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Blood Group</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="admission.blood_group" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                            <label class="col-sm-3 control-label">Medical Immunizations</label>
                            <div class="col-sm-8">
                                <select ng-model="admission.medical_immunizations" class="form-control" multiple="true">
                                    <option ng-repeat="info in infos" ng-if="info.type == 'Immunizations'" value="{{info.id}}">{{info.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Medical Allergies</label>
                            <div class="col-sm-8">
                                <select ng-model="admission.medical_allergies" class="form-control" multiple="true">
                                    <option ng-repeat="info in infos" ng-if="info.type == 'Allergies'" value="{{info.id}}">{{info.name}}</option>
                                </select>
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Social (Behavioral)</label>
                            <div class="col-sm-8">
                                <textarea rows="2" class="form-control" ng-model="admission.social_behavioral" placeholder="Social (Behavioral) Information"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Physical (Handicaps)</label>
                            <div class="col-sm-8">
                                <textarea rows="2" class="form-control" ng-model="admission.physical_handicaps" placeholder="Physical (Handicaps) Information"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Other Medical Information</label>
                            <div class="col-sm-8">
                                <textarea rows="2" class="form-control" ng-model="admission.medicalinfo" placeholder="Medical Information"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                        <label class="col-sm-3 control-label">Notes</label>
                        <div class="col-sm-8">
                            <textarea ng-model="admission.notes" class="form-control ng-pristine ng-valid ng-empty ng-touched" rows="8" cols="20" style=""></textarea>
                        </div>
                    </div>

                    <footer class="panel-footer text-right bg-light lter">
                        <!-- <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button> -->
                        <button class="btn btn-default" type="submit" ui-toggle-class="btn-success">
                            <span class="text">Save & Next</span>
                            <i class="fa fa-chevron-right text-muted"></i>
                        </button>
                        <button class="btn btn-default" ng-click="cancelAdmissionForm()" type="button" >Cancel</button>
                    </footer>
                </div>

            </form>
        </div>
    </div>
</div>
