<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Student Admission</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;">
    <div class="row" ng-init="getEditAdmission()">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveEditAcademics()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Manage Student Admission</strong>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Grade</label>
                        <div class="col-sm-8">
                            <select ng-model="admission.grade_id" class="form-control" ng-change="getSchoolGrades(admission.grade_id);">
                                <option value="">Please Select</option>
                                <option ng-repeat="grade in grades" ng-value="{{grade.id}}" value="{{grade.id}}">{{grade.grade}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Session</label>
                        <div class="col-sm-8">
                            <select ng-model="admission.session_id" class="form-control" ng-change="getSchoolGrades(admission.session_id);">
                                <option value="">Please Select</option>
                                <option ng-repeat="session in sessions" ng-value="{{session.id}}" value="{{session.id}}">{{session.session_name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Comments</label>
                        <div class="col-sm-8">
                            <textarea ng-model="admission.comments" class="form-control" rows="8" cols="20"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Previous Academic History</label>
                        <div class="col-sm-8">
                            <trix-editor angular-trix ng-model="admission.academic_history" col="5" style="min-height: 190px !important;"></trix-editor>
                        </div>
                    </div>

                    <footer class="panel-footer text-right bg-light lter">
                        <!-- <button type="submit" class="btn btn-success">Proceed</button> -->
                        <!-- <button type="submit" class="btn btn-success">Save & Next </button> -->
                        <button class="btn btn-default" type="submit" ui-toggle-class="btn-success">
                            <span class="text">Save & Next</span>
                            <i class="fa fa-chevron-right text-muted"></i>
                        </button>

                        <button class="btn btn-default" ng-click="cancelAdmissionForm()" type="button" >Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
