<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">View Follow Up</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-init="getStudentsFollowUpList()">
    <button class="btn btn-default" ng-click="createFollowUpredirect(student_id)">Add New Follow Up</button>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            View Follow Up
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-striped table-hover table-condensed table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Follow through</th>
                            <th>remarks</th>
                            <th>next follow date</th>
                            <th>Inquiry status</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="followups.length > '0'">
                            <tr ng-repeat="student in followups">
                                <td>{{student.followup}}</td>
                                <td>{{student.remarks}}</td>
                                <td>{{student.next_follow_date| date:'MM-dd-yyyy'}}</td>
                                <td>{{student.inquiry_status}}</td>
                                <td>{{student.created_at| date:'MM-dd-yyyy'}}</td>
                                <td ng-if="student.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveInquiry(student.id)">Active</button>
                                </td>
                                <td ng-if="student.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeInquiry(student.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteInquiry(student.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
