<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Session</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-controller="editSchoolSessionController" ng-init="getEditSession()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveEditSession()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Session</strong>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Session Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="session.session_name" placeholder="Session Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Start Date</label>
                            <div class="col-sm-9">
                                <datepicker date-format="'yyyy-MM-dd">
                                    <input type="text" placeholder="Start Date" data-ng-model="session.start_date" class="form-control">
                                </datepicker>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">End Date</label>
                            <div class="col-sm-9">
                                <datepicker date-format="'yyyy-MM-dd">
                                    <input type="text" placeholder="End Date" data-ng-model="session.end_date" class="form-control">
                                </datepicker>
                            </div>
                        </div>
                    </div>

                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                        <button class="btn btn-default" ng-click="cancelSessionForm()" type="button" >Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
