<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Session</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="listSchoolSessionController">
    <button class="btn btn-default" ng-click="addNewSession()">Add New Session</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllSessions()">
        <div class="panel-heading">
            Manage Session
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>School Name</th>
                            <th>Session Name</th>
                            <th>Created by</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Created On</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="sessions.length > '0'">
                            <tr ng-repeat="session in sessions">
                                <td>{{session.school_name}}</td>
                                <td>{{session.session_name}}</td>
                                <td>{{session.user_name}}</td>
                                <td>{{session.start_date | date:'MM-dd-yyyy'}}</td>
                                <td>{{session.end_date | date:'MM-dd-yyyy'}}</td>
                                <td>{{session.created_at | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="session.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveSession(session.id)">Active</button>
                                </td>
                                <td ng-if="session.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeSession(session.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editSession(session.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteSession(session.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
