<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add Book</h1>
</div>
<div class="wrapper-md">
    <div class="row" style="min-height:78vh;">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="addBook()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Add Book</strong>
                    </div>
                    <br>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Only Epub File</label>
                            <div class="col-sm-9">
                                <button ngf-select="uploadBook($file)" accept="application/epub" ng-model="book.book" class="btn btn-primary ng-pristine ng-valid ng-empty ng-touched"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>&nbsp;Select Book</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Category</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="book.category" required="true">
                                    <option value="">Please Select Category</option>
                                    <option ng-repeat="s_cat in categories" value="{{s_cat.id}}">{{s_cat.category_name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Publisher Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="publisher_name" class="form-control" ng-model="book.publisher_name" placeholder="Publisher name" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" name="title" class="form-control" ng-model="book.title" placeholder="Book Title" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <button ngf-select="uploadFile($file)" accept="image/*" ng-model="book.image" class="btn btn-primary ng-pristine ng-valid ng-empty ng-touched" style=""><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>&nbsp;Select Book Front Image</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">ISBN Number</label>
                            <div class="col-sm-9">
                                <input type="text" name="isbn_number" class="form-control" ng-model="book.isbn_number" placeholder="Book ISBN Number" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Author Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="author_name" class="form-control" ng-model="book.author_name" placeholder="Book Author Name" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea rows="8" name='description' class="form-control" cols="40" ng-model="book.description" placeholder="Book Description" required="true"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-10 control-label"></label>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-success">Create</button>
                                <button type="button" class="btn btn-default" ng-click="listBookStore()" type="button">Cancel</button>
                            </div>
                        </div>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
