<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage BookStore</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-init="listBookStore()">
    <button class="btn btn-default" ng-click="addNewBook()">Add Book</button>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            Manage BookStore
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-striped table-hover table-condensed table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Publisher Name</th>
                            <th>Title</th>
                            <th>Image</th>
                            <th>Download Book</th>
                            <th>ISBN Number</th>
                            <th>Author Name</th>
                            <!-- <th>Pages</th> -->
                            <th>Description</th>
                            <th>Added At</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="bookstore.length > '0'">
                            <tr ng-repeat="book in bookstore">
                                <td>{{book.category}}</td>
                                <td>{{book.publisher_name}}</td>
                                <td>{{book.title}}</td>
                                <td><img ng-src="/upload/bookImages/{{book.image}}" alt="Image" height="70px" width="70px" /></td>
                                <td><button class="btn btn-default" ng-click="downloadBook(book)"><i class="glyphicon glyphicon-download-alt"></i>&nbsp;Download</button></td>
                                <td>{{book.isbn_number}}</td>
                                <td>{{book.author_name}}</td>
                                <!-- <td>{{book.pages}}</td> -->
                                <td>{{book.description | limitTo : 200}}</td>
                                <td>{{book.created_at| date:'MM-dd-yyyy'}}</td>
                                <td ng-if="book.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" style="width:102px;" ng-click="notAvailableBook(book.id)">Available</button>
                                </td>
                                <td ng-if="book.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" style="width:102px;"  ng-click="availableBook(book.id)">Not Available</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-default" ng-click="viewBook(book)">View</button>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editBook(book.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteBook(book.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
