<div ng-controller="myModalController">
	<div class="modal-header">
        <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
     <div class="modal-body" id="modal-body">
            {{myVariable}}
      </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="hii()">OK</button>
        <button class="btn btn-info" type="button" ng-click="cancel()" type="button" >Cancel</button>
    </div>	
</div>
