<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Product Category</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="listDistrictProductCategoryController">
    <button class="btn btn-default" ng-click="addNewCategory()">Add New Product Category</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllCategories()">
        <div class="panel-heading">
            Manage Product Category
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>School Name</th>
                            <th>Category Name</th>
                            <th>Description</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="categories.length > '0'">
                            <tr ng-repeat="category in categories">
                                <td>{{category.school_name}}</td>
                                <td>{{category.name}}</td>
                                <td>{{category.description}}</td>
                                <td>{{category.created_at | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="category.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveCategory(category.id)">Active</button>
                                </td>
                                <td ng-if="category.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeCategory(category.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editCategory(category.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deletecategory(category.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
