<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Role</h1>
</div>
<div class="wrapper-md" ng-controller="staffRoleEditController" ng-init="getEditRole()" style="min-height:78vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit="editSaveRole()" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Role</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Role Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="role_name" ng-model="role.role_name" placeholder="Role Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Modules to Access</label>
                            <div class="col-sm-9">
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.dashboard">
                                        <i></i> View Dashboard
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.students">
                                        <i></i> Manage Students
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.manage_academics">
                                        <i></i> Manage Academics
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.manage_exam">
                                        <i></i> Manage Exam
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.my_schedule">
                                        <i></i> My Schedule
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.manage_appointments">
                                        <i></i> Manage Appointments
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.receptionist">
                                        <i></i> Receptionist
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.manage_issues">
                                        <i></i> Manage Issues
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.mailbox">
                                        <i></i> Mailbox
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.video_conferance">
                                        <i></i> Video Conferance
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.events">
                                        <i></i> Events
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.book_store">
                                        <i></i> Manage BookStore
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Role Description</label>
                            <div class="col-sm-9">
                                <textarea rows="8" name='description' class="form-control" cols="40" ng-model="role.description" placeholder="Role Description" required></textarea>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success"">Update</button>
                            <button class="btn btn-default" ng-click="cancelRole()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
