<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Template</h1>
</div>
<div class="wrapper-md">
    <div class="row" style="min-height:74vh;">
        <div class="col-sm-8" ng-init="editGradeScale()">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveUpdateGradeScale()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Grade Scale</strong>
                    </div>
                    <br>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">From Percentage Grade</label>
                            <div class="col-sm-9">
                              <input type="text" name="name" class="form-control" ng-model="template.from_per" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">To Percentage Grade</label>
                            <div class="col-sm-9">
                             <input type="text" name="name" class="form-control" ng-model="template.to_per" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Scale (must be a number)</label>
                            <div class="col-sm-9">
                                <input type="text" name="name" class="form-control" ng-model="template.scale" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-10 control-label"></label>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-success" ng-disabled='form.$invalid' style="width: 64.44px;">Save</button>
                                <button class="btn btn-default" ng-click="listGradeScale()" type="button">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
