<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">List Grade Scale</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <!-- <button class="btn btn-default" ng-click="addNewTemplate()">Add New Template</button> -->
    <br>
    <br>
    <div class="panel panel-default" data-ng-init="listGradeScale()">
        <div class="panel-heading">
            List Grade Scale
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>From Percentage Grade</th>
                            <th>To Percentage Grade</th>
                            <th>Scale</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="templates.length > '0'">
                            <tr ng-repeat="template in templates">
                                <td>{{template.from_per}}</td>
                                <td>{{template.to_per}}</td>
                                <td>{{template.scale}}</td>
                                <td>{{template.created_at| date:'MM-dd-yyyy'}}</td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editGradeScale(template.id)">Edit</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
