<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Designations</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="listDistrictDesignationController">
    <button class="btn btn-default" ng-click="addNewDesignation()">Add New Designation</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllDesignations()">
        <div class="panel-heading">
            Manage Designations
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>School Name</th>
                            <th>Designation</th>
                            <th>Description</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="designation.length > '0'">
                            <tr ng-repeat="designation in designations">
                                <td>{{designation.school_name}}</td>
                                <td>{{designation.designation}}</td>
                                <td>{{designation.description}}</td>
                                <td>{{designation.created_at | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="designation.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveDesignation(designation.id)">Active</button>
                                </td>
                                <td ng-if="designation.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeDesignation(designation.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editDesignation(designation.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteDesignation(designation.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
