<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Districts</h1>
</div>
<div class="wrapper-md" ng-controller="districtManageController" ng-init="getAllDistrictList()" style="min-height:78vh;">
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
              <div class=" col-md-8">Manage District</div>
              <div class="col-md-4">
                <!-- <input type="text" ng-model='txtsearch' class="form-control bg-light no-border rounded ng-touched ng-pristine ng-valid ng-empty" id="exampleInputEmail2" placeholder="Search Here"> -->
              </div>
              </div>
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only">
                    <thead>
                            <th>District Name</th>
                            <th>City</th>
                            <th>Office Number</th>
                            <th>Authorized Person Name</th>
                            <th>Authorized Person Image</th>
                            <th>Authorized Person Email</th>
                            <th>Authorized Person Mobile</th>
                            <th>Status</th>
                            <th>Login</th>
                            <th>Actions</th>
                    </thead>
                    <tbody>
                        <div ng-if="districts.length > '0'">
                            <tr ng-repeat="school in districts |filter:txtsearch">
                                <td>{{school.school_name}}</td>
                                <td>{{school.city}}</td>
                                <td>{{school.office_number}}</td>
                                  <td>{{school.ap_name}}</td>
                                <td>
                                  <img ng-src="/upload/users/{{school.profile_image}}" src="/upload/users/{{school.profile_image}}" alt="Authorized Person Image" height="70px" width="70px" class="r r-2x" on-error-src="/img/a0.jpg" />
                                </td>
                                <td>{{school.email}}</td>
                                <td>{{school.ap_mobile}}</td>
                                <td >
                                    <button ng-if="school.status == '1'" class="btn m-b-xs w-xs btn-success" ng-click="inactiveSchool(school.id)">Active</button>
                                    <button ng-if="school.status == '0'" class="btn m-b-xs w-xs btn-danger" ng-click="activeSchool(school.id)">Inactive</button>
                                </td>
                                <td>
                                    <a ng-click="loginDistrict(school.id)">
                                        <b class="badge dk pull-right"></b>
                                        <i class="fa icon-login" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editDestict(school.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteSchool(school.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
