<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Parents Profile</h1>
</div>
<div class="wrapper-md" ng-controller="editParentsProfileController" ng-init="getParents()">
    <div class="row" style="min-height:71vh;">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveParents()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Parents Profile</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Full Name</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.full_name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Relation</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="" ng-model="parents.relation">
                                <option value="">Please Select</option>
                                <option value="father">Father</option>
                                <option value="mother">Mother</option>
                                <option value="uncle">Uncle</option>
                                <option value="guarantor">Guarantor</option>
                              </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Gender</label>
                            <div class="radio col-sm-8">
                                <label class="i-checks">
                                  <input ng-model="parents.gender" type="radio" name="rdoGender" ng-value="'male'">
                                  <i></i>Male
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                  <input ng-model="parents.gender" type="radio" name="rdoGender" ng-value="'female'">
                                  <i></i>Female
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                  <input ng-model="parents.gender" type="radio" name="rdoGender" ng-value="'other'">
                                  <i></i>Other
                                </label> &nbsp;&nbsp;&nbsp;
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.email" class="form-control" readonly="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.phone" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mobile Number</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.mobile" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.address" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">City</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.city" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.state" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.country" class="form-control">
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button class="btn btn-success" type="submit" ui-toggle-class="btn-success" style="width: 64.44px;">Save</button>
                            <button type="button" class="btn btn-default" ng-click="cancelParentsForm()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
