<div class="hbox hbox-auto-xs hbox-auto-sm" style="min-height:78vh;">
    <div class="col" ng-controller="parentDashboardController" ng-init="getParentDashboardData()">
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Parent Dashboard</h1>
                    <small class="text-muted">Welcome to Thunder School</small>
                </div>
            </div>
        </div>
        <div class="wrapper-md" style="min-height:78vh;">
            <div class="row">
                <div class="col-md-6">
                    <div class="row row-sm text-center">
                        <div class="col-xs-6" ng-click="parentAssignmentRedirect()">
                            <a href="#" class="block panel padder-v bg-primary item">
                            <span class="text-white font-thin h3 block">
                            <i class="fa icon-calendar text-muted m-r-sm"></i>Assignments</span>
                            <span class="text-muted text-xs h3">{{total_assignments}}</span>
                            </a>
                        </div>
                        <div class="col-xs-6" ng-click="viewStaffClassesRedirect()">
                            <a href="#" class="block panel padder-v bg-info item">
                                <div class="h3 text-white font-thin h3"><i class="fa fa-user text-muted m-r-sm"></i>Staff</div>
                                <span class="text-muted text-xs h3">View List</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="calendar" id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
                    <br/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row row-sm">
                        <div class="col-xs-12" ng-repeat="appoint in showAppointments">
                            <a style="padding: 10px;" ng-if="appoint.status == 0" href="#" class="block panel padder-v bg-danger item">
                                <div class="h3 text-white font-thin h3"><i class="fa  fa-list-alt text-muted m-r-sm"></i>Appointment with {{appoint.staff_name}} </div>
                                <button class="btn btn-primary" style="float:right;margin-right:15px;" type="button" ng-click="appointArrived(appoint.id)"> Pending Arrival </button>
                                <span class="">Appoint At : {{appoint.datetime}}</span><br>
                                <span ng-if="appoint.status == 0" class="">Status : Pending</span>
                                <span ng-if="appoint.status == 1" class="">Status : Accepted</span>
                                <span ng-if="appoint.status == 2" class="">Status : Declined</span>
                                <span ng-if="appoint.status == 3" class="">Status : Rescheduled</span>
                                <span ng-if="appoint.status == 4" class="">Status : No Show</span>
                                <span ng-if="appoint.status == 5" class="">Status : Completed</span>
                                <br><span class="">Description : {{appoint.description}}</span>
                            </a>
                            <a style="padding: 10px;" ng-if="appoint.status != 0 && appoint.status != 3" href="#" class="block panel padder-v bg-success item">
                                <div class="h3 text-white font-thin h3"><i class="fa  fa-list-alt text-muted m-r-sm"></i>Appointment with {{appoint.staff_name}} </div>
                                <button class="btn btn-danger" style="float:right;margin-right:15px;" type="button" ng-click="appointArrived(appoint.id)"> Make Pending Again </button>
                                <span class="">Appoint At : {{appoint.datetime}}</span><br>
                                <span ng-if="appoint.status == 0" class="">Status : Pending</span>
                                <span ng-if="appoint.status == 1" class="">Status : Accepted</span>
                                <span ng-if="appoint.status == 2" class="">Status : Declined</span>
                                <span ng-if="appoint.status == 3" class="">Status : Rescheduled</span>
                                <span ng-if="appoint.status == 4" class="">Status : No Show</span>
                                <span ng-if="appoint.status == 5" class="">Status : Completed</span>
                                <br><span class="">Description : {{appoint.description}}</span>
                            </a>
                            <a style="padding: 10px;" ng-if="appoint.status == 3" href="#" class="block panel padder-v bg-info item">
                                <div class="h3 text-white font-thin h3"><i class="fa  fa-list-alt text-muted m-r-sm"></i>Appointment with {{appoint.staff_name}} </div>
                                <button class="btn btn-danger" style="float:right;margin-right:15px;" type="button" ng-click="appointArrived(appoint.id)"> Make Pending Again </button>
                                <span class="">Appoint At : {{appoint.datetime}}</span><br>
                                <span ng-if="appoint.status == 0" class="">Status : Pending</span>
                                <span ng-if="appoint.status == 1" class="">Status : Accepted</span>
                                <span ng-if="appoint.status == 2" class="">Status : Declined</span>
                                <span ng-if="appoint.status == 3" class="">Status : Rescheduled</span>
                                <span ng-if="appoint.status == 4" class="">Status : No Show</span>
                                <span ng-if="appoint.status == 5" class="">Status : Completed</span>
                                <br><span class="">Description : {{appoint.description}}</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <div class="wrapper">
                                <ul class="timeline">
                                    <li class="tl-header">
                                        <div class="btn btn-success">Upcoming Events</div>
                                    </li>
                                    <li class="tl-item" ng-repeat="event in events_lists">
                                        <div class="tl-wrap b-success">
                                            <span class="tl-date">
                                            <span style="margin-top: 5px;margin-left: -15px;" class="label text-base bg-primary pos-rlt m-r ng-binding"><i class="arrow right arrow-primary"></i> {{event.start_date | date:'MM-dd-yyyy'}}</span>
                                            </span>
                                            <div class="tl-content panel padder b-a w-md w-auto-xs">
                                                <span class="arrow left pull-up"></span>
                                                <div class="text-lt m-b-sm">
                                                    <h4 class="font-thin m-t-none m-b-none text-muted">{{event.title}}</h4>
                                                </div>
                                                <div class="panel-body pull-in b-t b-light">
                                                    <div class="clear">
                                                        <span ng-bind-html='event.content'></span><br/>
                                                        <span class="pull-right">{{event.city}}, {{event.state}}, {{event.country}}</span> <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
