<div class="aside-wrap">
    <div class="navi-wrap">
        <nav ui-nav class="navi">
            <ul class="nav">

                <li class="hidden-folded padder m-t m-b-sm text-muted text-u-c text-xs">
                    <span>Parent Login</span>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="parents.dashboard">
                        <b class="badge bg-info pull-right"></b>
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="parents.view_studentDetails">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>View Children</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="parents.view_staff">
                        <b class="badge dk pull-right"></b>
                        <i class="fa  fa-building-o" aria-hidden="true"></i>
                        <span>View Staff/Classes</span>
                    </a>
                </li>

                <!--<li ui-sref-active="active">
                    <a ui-sref="parents.notices_list">
                        <b class="badge dk pull-right"></b>
                        <i class="fa  fa-bookmark-o" aria-hidden="true"></i>
                        <span>Notices</span>
                    </a>
                </li>-->


                <li ui-sref-active="active">
                    <a ui-sref="parents.download_assignment">
                        <b class="badge dk pull-right"></b>
                        <i class="fa  fa-file" aria-hidden="true"></i>
                        <span>View Assignments</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="parents.attendance_list">
                        <i class="fa  fa-users" aria-hidden="true"></i>
                        <span>View Attendance</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="parents.download_material">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        <span>Download Material</span>
                    </a>
                </li>

                <!-- <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Homework</span>
                    </a>
                </li> -->



                <!-- <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>View Attendence</span>
                    </a>
                </li> -->

                <li ui-sref-active="active">
                    <a ui-sref="parents.event_list">
                        <b class="badge dk pull-right"></b>
                        <i class="fa  fa-calendar" aria-hidden="true"></i>
                        <span>Events</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="parents.issues_list">
                        <b class="badge dk pull-right"></b>
                        <i class="icon-question icon"></i>
                        <span>Issues</span>
                    </a>
                </li>

                <!-- <li>
                    <a href class="auto">
                        <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                        <b class="badge bg-info pull-right"></b>
                        <i class="fa fa-question-circle"></i>
                        <span>Exam</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                                <span>Exam</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="parents.exam_list">
                                <span>Exam Schedules</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="parents.exam_result_list">
                                <span>Exam Result</span>
                            </a>
                        </li>
                    </ul>
                </li> -->

                <!-- <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>View Fees</span>
                    </a>
                </li>-->

                <li ui-sref-active="active">
                    <a ui-sref="parents.exam_result_list">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        <span>Exams & Results</span>
                    </a>
                </li>


                <li ui-sref-active="active">
                    <a ui-sref="parents.email_list">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <span>Mailbox</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="parents.list_appointment">
                        <b class="badge dk pull-right"></b>
                        <i class="fa  fa-coffee" aria-hidden="true"></i>
                        <span>Appointments</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="parents.video_conference">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                        <span>Video Conference</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="parents.list_homework">
                        <b class="badge dk pull-right"></b>
                        <i class="fa icon-home" aria-hidden="true"></i>
                        <span>Students Homework</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="parents.list_books">
                        <b class="badge dk pull-right"></b>
                        <i class="fa icon-notebook" aria-hidden="true"></i>
                        <span>E-books</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
