<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Class</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;">
    <div class="row">
        <div class="col-sm-8" ng-init="getSchoolDepartments()">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createClass()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Class</strong>
                    </div>
                    <div class="panel-body">

                        <!-- <div class="form-group">
                          <label class="col-sm-3 control-label">Session</label>
                          <div class="col-sm-8">
                              <select ng-model="class.session_id" class="form-control" required="true">
                                  <option value="">Please Select</option>
                                  <option ng-repeat="session in sessions" value="{{session.id}}" ng-value="{{session.id}}">{{session.session_name}}</option>
                              </select>
                          </div>
                      </div> -->

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Class name</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="class.class_name" placeholder="Class name" class="form-control" required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Staff</label>
                            <div class="col-sm-8">
                                <select ng-model="class.staff_id" class="form-control" required="true">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="staff in staffs" value="{{staff.id}}">{{staff.first_name | capitalize}}{{staff. last_name | capitalize}}</option>
                                </select>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <label class="col-sm-3 control-label">Department</label>
                            <div class="col-sm-8">
                                <select ng-model="class.department_id" class="form-control" required="true">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="department in departments" value="{{department.id}}">{{department.department_name}}</option>
                                </select>
                            </div>
                        </div> -->

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Max Number Of Students</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" placeholder="Max Number Of Students" ng-model="class.max_students" name="fax_number" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Location</label>
                            <div class="col-sm-8">
                                <select ng-model="class.location_id" class="form-control" required="true">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="location in locations" value="{{location.id}}">{{location.title}}</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Grade</label>
                            <div class="col-sm-8">
                                <select ng-model="class.grade_id" class="form-control" ng-change="getSubjectGradeWise(class.grade_id)" required="true">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Subject Name</label>
                            <div class="col-sm-8">
                                <select ng-model="class.subject_id" class="form-control" required="true">
                                    <option value="" selected="selected">Please Select</option>
                                    <option ng-repeat="subject in subjects" value="{{subject.id}}">{{subject.subject_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Day</label>
                            <div class="col-sm-8">
                                <select ng-model="class.day" class="form-control" required="true" multiple="true" style="height: 15vh !important;">
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                    <option value="Sunday">Sunday</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="col-sm-3 control-label">Start Time</label>
                            <div class="col-sm-8">
                                <input type="text" id="basicExample" class="basicExample time ui-timepicker-input __web-inspector-hide-shortcut__ form-control" ng-model="class.start_time" placeholder="Start Time" required autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">End Time</label>
                            <div class="col-sm-8">
                                <input type="text" id="basicExample" class=" basicExample time ui-timepicker-input __web-inspector-hide-shortcut__ form-control" ng-model="class.end_time" placeholder="End Time" required>
                            </div>
                        </div> -->

                        <div id="datepairExample">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Start Time</label>
                                <div class="col-sm-8">
                                    <input type="text" id="starttime" class="basicExample time start ui-timepicker-input __web-inspector-hide-shortcut__ form-control" ng-model="class.start_time" placeholder="Start Time" required autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">End Time</label>
                                <div class="col-sm-8">
                                    <input type="text" id="endtime" class=" basicExample time end ui-timepicker-input __web-inspector-hide-shortcut__ form-control" ng-model="class.end_time" placeholder="End Time" required>
                                </div>
                            </div>
                        </div>

                        <script type="text/javascript">
                            $(document).ready(function() {
                                $('#datepairExample .time').timepicker({
                                    'showDuration': true,
                                    'timeFormat': 'g:ia'
                                });

                                $('#datepairExample').datepair();
                            });
                        </script>


                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="listClasses()" type="button">Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
