<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Classes</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewClass()">Add New Class</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllSchoolClass()">
        <div class="panel-heading">
            Manage Class
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Class name</th>
                            <th>Staff name</th>
                            <th>Department name</th>
                            <th>Grade</th>
                            <th>Subject Name</th>
                            <th>Day</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="classes.length > '0'">
                            <tr ng-repeat="class in classes">
                                <td>{{class.class_name}}</td>
                                <td>{{class.staff_name}}</td>
                                <td>{{class.department_name}}</td>
                                <td>{{class.grade}}</td>
                                <td>{{class.subject_name}}</td>
                                <td>{{class.day}}</td>
                                <td>{{class.start_time}}</td>
                                <td>{{class.end_time}}</td>
                                <td ng-if="class.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveClass(class.id)">Active</button>
                                </td>
                                <td ng-if="class.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeClass(class.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editClass(class.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteClass(class.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
