<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Promote Students</h1>
</div>
<div class="wrapper-md">
    <div class="row" style="min-height:78vh;" ng-init="getSchoolGrades()">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="promoteStudent()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Promote Students</strong>
                    </div>
                    <br>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Select Grade</label>
                            <div class="col-sm-9">
                                <select ng-model="promote.select_grade" class="form-control" ng-change="getStudentGradeWise(promote.select_grade);" required="true">
                                  <option value="">Please Select Grade</option>
                                  <option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Select Student</label>
                            <div class="col-sm-9">
                                <select ng-model="promote.student_id" class="form-control" required="true" multiple style="height:45vh!important">
                                    <option ng-repeat="student in students" value="{{student.id}}">{{student.first_name}} {{student.last_name}}</option>
                              </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Promote Student To</label>
                            <div class="col-sm-9">
                                <select ng-model="promote.student_promoted_to" class="form-control" required="true">
                                    <option value="">Please Select Grade</option>
                                    <option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
                              </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-9 control-label"></label>
                            <div class="col-sm-2">
                                <button type="submit" class="pull-right btn btn-success">Promote</button>
                            </div>
                        </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
