<div class="bg-light lter b-b wrapper-md" min-height="79vh!important;">
    <!-- <button class="btn btn-default pull-right" ng-click="listBooks()">&nbsp;List Books</button> -->
    <h1 class="m-n font-thin h3">BookStore</h1>
</div>

<style type="text/css">
	 body {
            overflow: auto;
          }
          #wrapper {
            width: 480px;
            height: 640px;
            overflow: hidden;
            border: 1px solid #ccc;
            margin: 20px auto;
            background: #fff;
            border-radius: 0 5px 5px 0;
          }
          #area {
            width: 480px;
            height: 650px;
            margin: -5px auto;
            -moz-box-shadow:      inset 10px 0 20px rgba(0,0,0,.1);
            -webkit-box-shadow:   inset 10px 0 20px rgba(0,0,0,.1);
            box-shadow:           inset 10px 0 20px rgba(0,0,0,.1);
            padding: 40px 40px;
          }
</style>

<div class="wrapper-md">
	<div ng-init="getEditBook()">
	    <div id="main" style='min-height:79vh;'>
    <div class="col-md-2"></div>
	        <div class="col-md-1" style="margin-top: 200px;" ng-click="Book.prevPage();"><img id="img_left_arrow" style="float:left;" height="80px" width="80px" src="/img/arrow-left.png" alt="Prev" /></div>
	            <div id="area"  class="col-md-8"></div>
	        <div class="col-md-1" style="margin-top: 200px;"  ng-click="Book.nextPage();"><img id="img_right_arrow" style="float:right" height="80px" width="80px" src="/img/arrow-right.png" alt="Next" /></div>
	    </div>
	</div>
</div>