<div class="aside-wrap">
    <div class="navi-wrap">
        <nav ui-nav class="navi">
            <ul class="nav">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-u-c text-xs">
                    <span>Student Login</span>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="students.dashboard">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span>Dashboard</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="students.todo_list">
                    <i class="fa  fa-reorder (alias)" aria-hidden="true"></i>
                    <span>My To-Dos</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="students.parents_list">
                    <i class="fa icon-users" aria-hidden="true"></i>
                    <span>Parents Information</span>
                    </a>
                </li>
                <!-- <li ui-sref-active="active">
                    <a ui-sref="students.notices_list">
                        <i class="fa  fa-bookmark-o" aria-hidden="true"></i>
                        <span>Notices</span>
                    </a>
                    </li> -->
                <li ui-sref-active="active">
                    <a ui-sref="students.view_staff">
                    <b class="badge dk pull-right"></b>
                    <i class="fa  fa-building-o" aria-hidden="true"></i>
                    <span>View Staff/Classes</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="students.assignment_list">
                    <i class="fa  fa-file" aria-hidden="true"></i>
                    <span>View Assignments</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="students.attendance_list">
                    <i class="fa  fa-users" aria-hidden="true"></i>
                    <span>View Attendance</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="students.material_list">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                    <span>Download Material</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="students.event_list">
                    <i class="fa  fa-calendar" aria-hidden="true"></i>
                    <span>Events</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="students.issues_list">
                    <i class="icon-question icon"></i>
                    <span>Issues</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="students.exam_list">
                    <i class="fa fa-question-circle"></i>
                    <span>Exams & Results</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="students.email_list">
                    <i class="fa fa-envelope-o"></i>
                    <span>Mailbox</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="students.appointment_list">
                    <i class="fa  fa-coffee" aria-hidden="true"></i>
                    <span>Appointment</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="students.video_conference">
                    <b class="badge dk pull-right"></b>
                    <i class="fa  fa-video-camera" aria-hidden="true"></i>
                    <span>Video Conference</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="students.list_homework">
                    <b class="badge dk pull-right"></b>
                    <i class="  fa  icon-home" aria-hidden="true"></i>
                    <span>My Homework</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="students.list_books">
                    <b class="badge dk pull-right"></b>
                    <i class="  fa   icon-notebook" aria-hidden="true"></i>
                    <span>E-books</span>
                    </a>
                </li>
                <!-- <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>My Schedule</span>
                    </a>
                    </li>
                    
                    <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Homework</span>
                    </a>
                    </li>
                    
                    <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>View Attandence</span>
                    </a>
                    </li>
                    
                    <li ui-sref-active="active">
                    <a ui-sref="#">
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                        <span>View Fees</span>
                    </a>
                    </li>
                    
                    <li ui-sref-active="active">
                    <a ui-sref="#">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Assignment Report</span>
                    </a>
                    </li> -->
            </ul>
        </nav>
    </div>
</div>