<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Submit Homework</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-init="getHomework()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="submitHomework()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Submit Homework</strong>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select File</label>
                        <div class="col-sm-8">
                            <button ngf-select="uploadFile($file)" ng-model="homework.file" class="btn btn-primary"><span class="glyphicon glyphicon-upload" aria-hidden="true" ng-required></span> &nbsp; Add New File</button>
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                        <button class="btn btn-default" ng-click="listHomework()" type="button">Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
