<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Appointment</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;">
    <div class="row">
        <div class="col-sm-8" ng-init="getSchoolStudents()">
            <form name="formValidate" ng-submit="createAppointment()" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Appointment</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Appointment Type</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="appointment.appointment_type" required="true">
                                    <option  value="">Please Select</option>
                                    <option value="audio">Audio</option>
                                    <option value="video">Video</option>
                                    <option value="walk-in">Walk-in</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Date Time</label>
                            <div class="col-sm-3">
                                <datepicker date-format="'yyyy-MM-dd" date-min-limit="{{minDate}}">
                                    <input type="text" placeholder="Date of Appointment" data-ng-model="appointment.datetime" class="form-control" required="true">
                                </datepicker>
                            </div>
                            <label class="col-sm-1 control-label">Hours</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="hours" required="true">
                                    <option value="00">00</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label">Minuts</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="mins" required="true">
                                    <option  value="00">00</option>
                                    <option  value="05">05</option>
                                    <option  value="10">10</option>
                                    <option  value="15">15</option>
                                    <option  value="20">20</option>
                                    <option  value="25">25</option>
                                    <option  value="30">30</option>
                                    <option  value="35">35</option>
                                    <option  value="40">40</option>
                                    <option  value="45">45</option>
                                    <option  value="50">50</option>
                                    <option  value="55">55</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Appointment with</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="type" ng-model="appointment.type" ng-dropdown required ng-change="changeAppointment()" required="true">
                                <option ng-option value="">Please Select</option>
                                <option ng-option value="Parents">Parents</option>
                                <option ng-option value="Students">Students</option>
                             </select>
                            </div>
                        </div>

                        <div class="form-group" id="cash" ng-if="appointment.type == 'Parents'">
                            <label class="col-sm-3 control-label">Parents Lists</label>
                            <div class="col-sm-9">
                                <select ng-model="appointment.parent_id" class="form-control" required="true">
                                  <option value="">Please Select</option>
                                  <option ng-repeat="parent in parents" value="{{parent.id}}">{{parent.full_name}}</option>
                              </select>
                            </div>
                        </div>

                        <div class="form-group" id="check" ng-if="appointment.type == 'Students'">
                            <label class="col-sm-3 control-label">Students Lists</label>
                            <div class="col-sm-9">
                                <select ng-model="appointment.student_id" class="form-control" required="true">
                                  <option value="">Please Select</option>
                                  <option ng-repeat="student in students" value="{{student.id}}">{{student.first_name | capitalize}} {{student.last_name | capitalize}}</option>
                              </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone Number</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="appointment.phone_number" placeholder="Phone Number (optional)" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea name="name" rows="8" cols="40" ng-model="appointment.description" class="form-control" required="true"></textarea>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelAppointmentForm()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
