<!-- <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Appointment</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;">
    <div class="row">
        <div class="col-sm-8" ng-init="getSchoolStaffs()">
            <form name="formValidate" ng-submit="saveEditAppointment()" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Appointment</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Appointment Type</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="appointment.appointment_type">
                                    <option value="">Please Select</option>
                                    <option value="audio">Audio</option>
                                    <option value="video">Video</option>
                                    <option value="walk-in">Walk-in</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Date Time</label>
                            <div class="col-sm-9">
                                <datepicker date-format="'yyyy-MM-dd">
                                    <input type="text" placeholder="Date of Appointment" data-ng-model="appointment.datetime" class="form-control">
                                </datepicker>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Appointment with</label>
                            <div class="col-sm-9">
                                <select ng-model="appointment.appointmentwith" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="staff in staffs" value="{{staff.id}}">{{staff.first_name | capitalize}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea name="name" rows="8" cols="40" ng-model="appointment.description" class="form-control"></textarea>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelAppointmentForm()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div> -->
