<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Appointment</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
  <button class="btn btn-default" ng-click="addNewAppointment()">Add New Appointment</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="init()">
        <div class="panel-heading">
            Manage Appointment
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Appointment Type</th>
                            <th>Description</th>
                            <th>Phone Number</th>
                            <th>Date Time</th>
                            <th>Appointment with Student</th>
                            <th>Appointment with Parents</th>
                            <th>Appointment Arrived ?</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="appointments.length > '0'">
                            <tr ng-repeat="appointment in appointments">
                                <td>{{appointment.appointment_type}}</td>
                                <td>{{appointment.description}}</td>
                                <td>{{appointment.phone_number}}</td>
                                <td>{{appointment.datetime| date:'yyyy-MM-dd hh:mm:ss'}}</td>
                                <td ng-if="appointment.student_id !== 'null'">{{appointment.student_name}}</td>
                                <td ng-if="appointment.parent_id !== 'null'">{{appointment.parent_name}}</td>
                                <td>
                                    <select class="form-control" ng-model="appointment.student_attend" ng-change="studentAttend(appointment)">
                                        <option value="0" ng-value="0">Not Arrived</option>
                                        <option value="1" ng-value="1">Arrived</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" ng-model="appointment.status" ng-change="changeStatus(appointment)">
                                        <option value="0" ng-value="0">Pending</option>
                                        <option value="1" ng-value="1">Accepted</option>
                                        <option value="2" ng-value="2">Declined</option>
                                        <option value="3" ng-value="3">Rescheduled</option>
                                        <option value="4" ng-value="4">No Show</option>
                                        <option value="5" ng-value="5">Completed</option>
                                    </select>
                                </td>
                                <td>
                                    <!-- <button class="btn m-b-xs w-xs btn-primary" ng-click="editAppointment(appointment.id)">Edit</button> -->
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteAppointment(appointment.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
