<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Page</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-init="getEditParentPage()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit='editSaveParentPage()' class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Page</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Page Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="title" ng-model="page.title" placeholder="Page Title" required>
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success">Update</button>
                            <button class="btn btn-default" ng-click="cancelPageForm()" type="button" >Cancel</button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
