<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Parent Pages</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewPage()">Add New Page</button>
    <br>
    <br>
    <div class="panel panel-default" data-ng-init="getAllParentPages()">
        <div class="panel-heading">
            Manage Parent Pages
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only">
                    <thead>
                        <tr>
                            <th>Page title</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="ParentPages.length > '0'">
                            <tr ng-repeat="pages in ParentPages">
                                <td>{{pages.title}}</td>
                                <td>{{pages.created_at | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="pages.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveParentPage(pages.id)">Active</button>
                                </td>
                                <td ng-if="pages.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeParentPage(pages.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editParentPage(pages.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteParentPage(pages.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
