<div class="animated fadeInRight  container w-xl w-auto-xs" ng-init="app.settings.container = false;">
    <a href class="navbar-brand block m-t">{{app.name}}</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Change your password</strong>
        </div>
        <form name="changePasswordForm" ng-submit="changePassword()" ng-controller="changeStaffPasswordController">
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="password" placeholder="Old Password" ng-model="oldPassword" class="form-control no-border" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="New Password"  pattern=".{6,}"   required title="minimum six character required!" ng-model="newPassword" class="form-control no-border" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Confirm Password"  pattern=".{6,}"   required title="minimum six character required!" ng-model="confirmNewPassword" class="form-control no-border" required>
                </div>
            </div>
            <button type="submit" value="submit" class="btn btn-lg btn-primary btn-block">Change Password</button>
        </form><br>
    </div>
</div>
