<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Staff Profile</h1>
</div>
<div class="wrapper-md" ng-controller="editStaffProfileController" ng-init="getEditStaff()">
    <div class="row" style="min-height:71vh;">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveEditStaff()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Staff Profile</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="staff.first_name" placeholder="First Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Middle Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="staff.middle_name" placeholder="Middle Name (Optional)">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="staff.last_name" placeholder="Last Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email id</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="staff.email_id" placeholder="Email id" required readonly="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                <div class="info-section">
                                    <button ngf-select="uploadFile($file)" ng-model="staff.photo" class="btn btn-primary" > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp;   Select Profile Image</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address 1</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="staff.address_1" placeholder="Address" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address 2</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="staff.address_2" placeholder="Address">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">City</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="staff.city" placeholder="City" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="staff.state" placeholder="State" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="staff.country" placeholder="Country" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Zip Code</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="staff.pincode" placeholder="Zip Code" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone number</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="staff.phonenumber" placeholder="Phone number" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Date of Birth</label>
                            <div class="col-sm-8">
                                <datepicker date-format="'yyyy-MM-dd">
                                    <input type="text" placeholder="Date of Birth" data-ng-model="staff.date_of_birth" class="form-control">
                                </datepicker>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Hire Date</label>
                            <div class="col-sm-8">
                                <datepicker date-format="'yyyy-MM-dd">
                                    <input type="text" placeholder="Hire Date" data-ng-model="staff.date_of_joining" class="form-control" disabled="true">
                                </datepicker>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Employee/Staff Username</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="staff.employee_username" placeholder="Employee/Staff Username" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Medical Information</label>
                            <div class="col-sm-8">
                                <textarea rows="2" class="form-control" ng-model="staff.medicalinfo" placeholder="Medical Information" required></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Facebook Profile Link</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="staff.facebook_profile" placeholder="Facebook Profile Link(Optional)">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Linkedin Profile Link</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="staff.linkedin_profile" placeholder="Linkedin Profile Link(Optional)">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Twitter Profile Link</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="staff.twitter_profile" placeholder="Twitter Profile Link(Optional)">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Social Security-number</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="staff.socialsecuritynumber" placeholder="Social Security-number(Optional)">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Emergency Contacts</label>
                            <div class="col-sm-8">
                                <textarea ng-model="staff.emergency_contacts" class="form-control ng-pristine ng-valid ng-empty ng-touched" rows="8" cols="20" style=""></textarea>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button class="btn btn-success" type="submit" ui-toggle-class="btn-success" style="width: 64.44px;">Save</button>
                            <button type="button" class="btn btn-default" ng-click="cancelStaffForm()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
