<div class="aside-wrap">
    <nav ui-nav class="navi" ng-controller="staffNavbarController">
        <ul class="nav">

            <li class="hidden-folded padder m-t m-b-sm text-muted text-u-c text-xs">
                <span>Staff Module</span>
            </li>


            <li ui-sref-active="active">
                <a ui-sref="schoolstaff.dashboard" ng-if="security_roles.indexOf('dashboard') != -1">
                    <b class="badge bg-info pull-right"></b>
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="schoolstaff.todo_list">
                    <b class="badge bg-info pull-right"></b>
                    <i class="fa  fa-reorder (alias)" aria-hidden="true"></i>
                    <span>My To-Dos</span>
                </a>
            </li>
            <li ng-if="security_roles.indexOf('students') != -1">
                <a href class="auto">
                    <span class="pull-right text-muted">
               <i class="fa fa-fw fa-angle-right text"></i>
               <i class="fa fa-fw fa-angle-down text-active"></i>
               </span>
                    <b class="badge bg-info pull-right"></b>
                    <i class="fa fa-users"></i>
                    <span>Students</span>
                </a>
                <ul class="nav nav-sub dk">
                    <li class="nav-sub-header">
                        <a href>
                            <span>Students</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="schoolstaff.admission_list">
                            <b class="badge dk pull-right"></b>
                            <i class="fa  icon-users" aria-hidden="true"></i>
                            <span>Manage Admissions</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="schoolstaff.student_list">
                            <b class="badge dk pull-right"></b>
                            <i class="fa  fa-users" aria-hidden="true"></i>
                            <span>Manage Students</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="schoolstaff.manage_student_classes">
                            <b class="badge dk pull-right"></b>
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span>Student Classes</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="schoolstaff.promote_student">
                            <b class="badge dk pull-right"></b>
                            <i class="fa  icon-graduation" aria-hidden="true"></i>
                            <span>Promote Students</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="schoolstaff.manage_student_multiple_classes">
                            <b class="badge dk pull-right"></b>
                            <i class="fa fa-building" aria-hidden="true"></i>
                            <span>Multiple Classes</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li ng-if="security_roles.indexOf('manage_academics') != -1">
                    <a href class="auto">
                        <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                        <i class="glyphicon glyphicon-th"></i>
                        <span>Manage Academics</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                                <span>Manage Academics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schoolstaff.list_lecture">
                                <b class="badge dk pull-right"></b>
                                <i class="fa  icon-note" aria-hidden="true"></i>
                                <span>Manage Lectures</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schoolstaff.list_assignment">
                                <b class="badge dk pull-right"></b>
                                <i class="fa  fa-file" aria-hidden="true"></i>
                                <span>Manage Assignments</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="schoolstaff.list_material">
                                <b class="badge dk pull-right"></b>
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                                <span>Manage Materials</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schoolstaff.list_attendance">
                                <b class="badge dk pull-right"></b>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span>Manage Attendance</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="schoolstaff.homework_list">
                                <b class="badge dk pull-right"></b>
                                <i class="fa  icon-home" aria-hidden="true"></i>
                                <span>Manage Homework</span>
                            </a>
                        </li>
                    </ul>
                </li>

            <li ng-if="security_roles.indexOf('manage_exam') != -1">
                <a href class="auto">
                    <span class="pull-right text-muted">
               <i class="fa fa-fw fa-angle-right text"></i>
               <i class="fa fa-fw fa-angle-down text-active"></i>
               </span>
                    <b class="badge bg-info pull-right"></b>
                    <i class="fa fa-question-circle"></i>
                    <span>Manage Exam</span>
                </a>
                <ul class="nav nav-sub dk">
                    <li class="nav-sub-header">
                        <a href>
                            <span>Manage Exam</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="schoolstaff.exam_list">
                          <i class="fa fa-check" aria-hidden="true"></i>
                            <span>Add/Schedule Exam</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="schoolstaff.exam_result_list">
                          <i class="fa fa-question-circle" aria-hidden="true"></i>
                            <span>Exam Results</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li ui-sref-active="active" ng-if="security_roles.indexOf('my_schedule') != -1">
                <a ui-sref="schoolstaff.list_myschedules">
                    <b class="badge dk pull-right"></b>
                    <i class="fa  icon-calendar" aria-hidden="true"></i>
                    <span>My Schedule</span>
                </a>
            </li>
            

            <li ui-sref-active="active" ng-if="security_roles.indexOf('manage_appointments') != -1">
                <a ui-sref="schoolstaff.appointment_list">
                    <b class="badge dk pull-right"></b>
                    <i class="fa  fa-coffee" aria-hidden="true"></i>
                    <span>Manage Appointments</span>
                </a>
            </li>

            <li ui-sref-active="active" ng-if="security_roles.indexOf('manage_issues') != -1">
                <a ui-sref="schoolstaff.issues_list">
                    <b class="badge dk pull-right"></b>
                    <i class="icon-question icon"></i>
                    <span>Manage Issues</span>
                </a>
            </li>

            <li ui-sref-active="active" ng-if="security_roles.indexOf('mailbox') != -1">
                <a ui-sref="schoolstaff.email_list">
                    <b class="badge dk pull-right"></b>
                    <i class="fa fa-envelope-o"></i>
                    <span>Mailbox</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="security_roles.indexOf('mailbox') != -1">
                <a ui-sref="schoolstaff.templates_list">
                    <b class="badge dk pull-right"></b>
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    <span>Manage Email Templates</span>
                </a>
            </li>

            

            

            <li ui-sref-active="active" ng-if="security_roles.indexOf('video_conferance') != -1">
                <a ui-sref="schoolstaff.video_conference">
                    <b class="badge dk pull-right"></b>
                    <i class="fa  fa-video-camera" aria-hidden="true"></i>
                    <span>Video Conference</span>
                </a>
            </li>

            


            <!-- <li ui-sref-active="active">
                <a ui-sref="schoolstaff.video_conference_live">
                    <b class="badge dk pull-right"></b>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>Group Call</span>
                </a>
            </li>

            <li ui-sref-active="active">
               <a ui-sref="account.manageadmin">
                 <b class="badge dk pull-right"></b>
                 <i class="fa fa-user" aria-hidden="true"></i>
                 <span>Fees Collection</span>
               </a>
            </li>

             <li ui-sref-active="active">
                <a ui-sref="account.manageadmin">
                   <b class="badge dk pull-right"></b>
                   <i class="fa fa-user" aria-hidden="true"></i>
                   <span>Manage Attendance</span>
                </a>
              </li> -->

              <li ui-sref-active="active" ng-if="security_roles.indexOf('events') != -1">
                  <a ui-sref="schoolstaff.event_list">
                      <b class="badge dk pull-right"></b>
                      <i class="fa  fa-calendar" aria-hidden="true"></i>
                      <span>Events</span>
                  </a>
              </li>
              <li ui-sref-active="active" ng-if="security_roles.indexOf('book_store') != -1">
                  <a ui-sref="schoolstaff.list_book_store">
                      <i class="fa fa-book" aria-hidden="true"></i>
                      <span>Manage BookStore</span>
                  </a>
              </li>
        </ul>
    </nav>
</div>
