<div class="aside-wrap">
    <div class="navi-wrap">
        <nav ui-nav class="navi">
            <ul class="nav">

                <li class="hidden-folded padder m-t m-b-sm text-muted text-u-c text-xs">
                    <span>Staff</span>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="districtstaff.dashboard">
                        <b class="badge bg-info pull-right"></b>
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="districtstaff.issues_list">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Manage Issues</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="districtstaff.appointment_list">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Manage Appointments</span>
                    </a>
                </li>

                <!-- <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>View Appointment</span>
                    </a>
                </li> -->

                <!-- <li ui-sref-active="active">
                    <a ui-sref="#">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Manage Timetable</span>
                    </a>
                </li> -->

                <li ui-sref-active="active">
                    <a ui-sref="districtstaff.admission_list">
                        <b class="badge dk pu ll-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Manage Admissions</span>
                    </a>
                </li>

                <!-- <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Manage Lectures</span>
                    </a>
                </li> -->

                <!-- <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Manage Admissions</span>
                    </a>
                </li> -->

                <li ui-sref-active="active">
                    <a ui-sref="districtstaff.student_list">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Manage Students</span>
                    </a>
                </li>
<!--
                <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Promote Students</span>
                    </a>
                </li> -->

                <!-- <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Manage Assignments</span>
                    </a>
                </li> -->

                <li ui-sref-active="active">
                    <a ui-sref="schoolstaff.list_material">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Manage Materials</span>
                    </a>
                </li>

                <!-- <li ui-sref-active="active">
                    <a ui-sref="districtstaff.email_list">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Mailbox</span>
                    </a>
                </li> -->
<!--
                <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Fees Collection</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Manage Class-schedule</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>My Classes</span>
                    </a>
                </li> -->

                <!-- <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>View Messages</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Manage Attendance</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Fees Collection</span>
                    </a>
                </li> -->

                <!-- <li>
                    <a href class="auto">
                        <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
              </span>
                        <b class="badge bg-info pull-right"></b>
                        <i class="glyphicon glyphicon-th"></i>
                        <span>Manage Exam</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                                <span>Manage Exam</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="#">
                                <span>Exam Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="#">
                                <span>Exam Schedules</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="#">
                                <span>Exam Results</span>
                            </a>
                        </li>
                    </ul>
                </li> -->

            </ul>
            <!-- / list -->
        </nav>
        <!-- nav -->
    </div>
</div>
