table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer{
	border: none;
}
.dataTables_filter, .dataTables_length{
	margin: 10px;
}
.dataTables_filter input[type="search"]
{
	border: 1px solid lightgray;
    padding: 3px;
}
.dataTables_length select
{
	background: white;
    padding: 3px;
}
.dataTables_wrapper .dataTables_info{
	padding: 15px 10px;
    font-size: 15px;
    color: #636262 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
	background: #979797 !important;
    color: #fff !important;
}
#DataTables_Table_0_paginate {
    font-size: 15px;
    margin: 5px;
}
