<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Student's Classes</h1>
</div>
<div class="wrapper-md" ng-controller="addStudentClassesController">
    <div class="row">
        <div class="col-sm-8" ng-init="getGrades()">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="addStudentToClass()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Add Student's Classes</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Grade</label>
                            <div class="col-sm-8">
                                <select ng-model="student_classes.grade_id" class="form-control" ng-change="getStudents(student_classes.grade_id);getClasses(student_classes.grade_id)" required="true">
                                    <option selected="select" ng-selected="true" value="">Please Select</option>
                                    <option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Student</label>
                            <div class="col-sm-8">
                                <select ng-model="student_classes.student_id" class="form-control" required="true" ng-change="getParticularStudentClass(student_classes.grade_id)">
                                    <option value="" ng-selected="true">Please Select</option>
                                    <option ng-repeat="student in students" value="{{student.id}}">{{student.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Classes</label>
                            <div class="col-sm-8">
                                <select ng-model="student_classes.class_id" class="form-control" required="true">
                                    <option value="" ng-selected="true">Please Select</option>
                                    <option ng-repeat="class in classes" value="{{class.id}}">{{class.class_name}}</option>
                                </select>
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success">Add Student Class</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
    <div class="wrapper-md" style="min-height:78vh;">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Student's Classes
                </div>
                <div>
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                            <thead>
                                <tr>
                                    <th>Grade</th>
                                    <th>Class Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div ng-if="studentClassesList.length > 0">
                                    <tr ng-repeat="studentclass in studentClassesList | filter:searchText">
                                        <td>{{studentclass.grade}}</td>
                                        <td>{{studentclass.class_name}}</td>
                                        <td>
                                            <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteStudentClass(studentclass.id)">Delete</button>
                                        </td>
                                    </tr>
                                </div>
                                <tr ng-if="studentClassesList.length == 0 || !studentClassesList">
                                    <td>No record found</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
