<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add Question Answer</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-init="getSchoolGrades()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="addQuestion()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Add Question Answer</strong>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Question</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="2" cols="40" required="true" ng-model="qa.question" placeholder="Write Question"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Type</label>
                        <div class="col-sm-8">
                            <select class="form-control" required="true" ng-model="qa.type">
                                <option value="">Please Select</option>
                                <option value="muliple_choice">Multiple Choice Question</option>
                                <option value="essay">Essay Question</option>
                            </select>
                        </div>
                    </div>
                    <div ng-show="qa.type == 'muliple_choice'">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Option A</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="qa.option_a" placeholder="Option A">
                            </div>
                            <label class="col-sm-2 control-label">Option B</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="qa.option_b" placeholder="Option B">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Option C</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="qa.option_c" placeholder="Option C">
                            </div>
                            <label class="col-sm-2 control-label">Option D</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="qa.option_d" placeholder="Option D">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="qa.type == 'muliple_choice'">
                        <label class="col-sm-3 control-label">Answer</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="qa.answer" ng-required="qa.type == 'muliple_choice'">
                                <option value="">Please Select</option>
                                <option value="option_a">Option A</option>
                                <option value="option_b">Option B</option>
                                <option value="option_c">Option C</option>
                                <option value="option_d">Option D</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="form-group" ng-show="qa.type == 'essay'">
                        <label class="col-sm-3 control-label">Answer</label>
                        <div class="col-sm-8">
                          <textarea class="form-control" rows="2" cols="40" ng-model="qa.answer" placeholder="Write Answer"></textarea>
                        </div>
                        </div> -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Marks</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" ng-model="qa.max_mark" placeholder="Enter Maximum Marks" required="true">
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                        <button type="button" class="btn btn-default" ng-click="listQusetionAnswer()" type="button">Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>