<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Exam</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-controller="examCreateStaffController">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createExam()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Exam</strong>
                    </div>
                    <div class="panel-body" ng-init="getSessions()">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Exam Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="exam.exam_head" placeholder="Exam" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Session</label>
                            <div class="col-sm-9">
                                <select ng-model="exam.session_id" class="form-control" required="true">
                                <option value="">Please Select</option>
                                <option ng-repeat="session in sessions" value="{{session.id}}">{{session.session_name}}</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Grade</label>
                            <div class="col-sm-9">
                                <select ng-model="exam.grade_id" class="form-control" required="true" ng-change="getSubjectGradeWise(exam.grade_id);">
                                <option value="">Please Select</option>
                                <option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Subject</label>
                            <div class="col-sm-9">
                                <select ng-model="exam.subject_id" class="form-control" convert-to-number required="true" ng-change="getClassSubjectWise(exam.subject_id);">
                                <option value="">Please Select</option>
                                <option ng-repeat="subject in subjects" value="{{subject.id}}">{{subject.subject_name}}</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Class</label>
                            <div class="col-sm-9">
                                <select ng-model="exam.class_id" class="form-control" convert-to-number required="true">
                                <option value="">Please Select</option>
                                <option ng-repeat="class in classes" value="{{class.id}}">{{class.class_name}}</option>
                            </select>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                        <label class="col-sm-3 control-label">Max Marks</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="exam.max_marks" placeholder="Maximun Marks" required>
                        </div>
                        </div> -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Start Date</label>
                            <div class="col-sm-9">
                                <datepicker date-format="MM-dd-yyyy" ng-click="start_date()" date-min-limit="{{minDate}}">
                                    <input type="text" placeholder="Start Date" data-ng-model="exam.start_date" class="form-control date" name="start_date" required="true">
                                </datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">End Date</label>
                            <div class="col-sm-9">
                                <datepicker date-format="MM-dd-yyyy" ng-click="end_date()" date-min-limit="{{maxDate}}">
                                    <input type="text" placeholder="End Date" data-ng-model="exam.end_date" class="form-control date" required="true">
                                </datepicker>
                            </div>
                        </div>
                        <div id="datepairExample">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Start Time</label>
                                <div class="col-sm-9">
                                    <input type="text" class="basicExample time start ui-timepicker-input __web-inspector-hide-shortcut__ form-control" ng-model="exam.start_time" placeholder="Start Time" required autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">End Time</label>
                                <div class="col-sm-9">
                                    <input type="text" class="basicExample time end ui-timepicker-input __web-inspector-hide-shortcut__ form-control" ng-model="exam.end_time" placeholder="End Time" required>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $('#datepairExample .time').timepicker({
                                    'showDuration': true,
                                    'timeFormat': 'g:ia'
                                });

                                $('#datepairExample').datepair();
                            });
                        </script>
                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelExam()" type="button">Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
