<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Exam</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="examListStaffController">
    <button class="btn btn-default" ng-click="addNewExamRedirect()">Add New Exam</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllExamList()">
        <div class="panel-heading">
            Manage Exam
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Exam</th>
                            <th>Session</th>
                            <th>Grade</th>
                            <th>Subject</th>
                            <th>Marks</th>
                            <th>Exam Start Date</th>
                            <th>Exam End Date</th>
                            <th>Created At</th>
                            <th>Action</th>
                            <th>After Exam Action <span class="fa fa-info-circle" title="After Exam will finished, to calculate all result percentage and from that automatically system will calculat scale and update into database you just need to click on this button."></span> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="exams.length > 0">
                            <tr ng-repeat="exam in exams">
                                <td>{{exam.exam_head}}</td>
                                <td>{{exam.session_name}}</td>
                                <td>{{exam.grade}}</td>
                                <td>{{exam.subject_name}}</td>
                                <td>{{exam.total_marks}}</td>
                                <td>{{exam.start_date | date:"MM-dd-yyyy"}}</td>
                                <td>{{exam.end_date | date:"MM-dd-yyyy"}}</td>
                                <td>{{exam.created_at | date:"MM-dd-yyyy"}}</td>
                                <td>
                                    <button class="btn m-b-xs btn-info" ng-click="exam_qa(exam.id)"><i class="fa fa-question-circle"></i>&nbsp;Question Answer</button>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editExam(exam.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteExam(exam.id)">Delete</button>
                                </td>
                                <td>
                                <button class="btn btn-primary" ng-click="calGradeExam(exam.id)">Calculate Grade/Scale</button>
                                <button class="btn btn-primary" ng-click="sendGradeExamReportEmail(exam.id)">Send Report Email</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
