<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Question Answer</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addQuestionAnswer()">Add Question-Answer</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllExamQA()">
        <div class="panel-heading">
            Manage Question Answer
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Type</th>
                            <th>Option A</th>
                            <th>Option B</th>
                            <th>Option C</th>
                            <th>Option D</th>
                            <th>Answer</th>
                            <th>Max Marks</th>
                            <th>Created At</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="QAs.length > 0">
                            <tr ng-repeat="QA in QAs">
                                <td>{{QA.question}}</td>
                                <td>{{QA.type}}</td>
                                <td>{{QA.option_a}}</td>
                                <td>{{QA.option_b}}</td>
                                <td>{{QA.option_c}}</td>
                                <td>{{QA.option_d}}</td>
                                <td>{{QA.answer}}</td>
                                <td>{{QA.max_mark}}</td>
                                <td>{{QA.created_at | date:"MM-dd-yyyy"}}</td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteEXAMQA(QA.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
