<div class="wrapper-md" ng-controller="staffExamReportController" ng-init="get_question_report()" style="min-height:85vh;">
    <div class="row">
        <div class="col-md-8">
            <h1 class="m-n font-thin h3"><b>Exam Summary</b></h1>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Exam Results
                </div>
                <div>
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                            <thead>
                                <tr>
                                    <th>Question</th>
                                    <th>Type</th>
                                    <th>is Correct ?</th>
                                    <th>Achived Marks</th>
                                </tr>
                            </thead>
                            <tbody>
		                        <div ng-if="question_report_list.length > '0'">
		                            <tr ng-repeat="qa in question_report_list">
		                                <td>{{qa.question}}</td>
		                                <td>{{qa.type}}</td>
		                                <td><i ng-if="qa.is_correct == '1'" class="glyphicon glyphicon-ok"></i>
		                                <i ng-if="qa.is_correct == '0'" class="glyphicon glyphicon-remove"></i>
		                                </td>

		                                <td ng-if="qa.type == 'essay'">
                                        <input type="test" ng-model="qa.achived_marks" class="form-control" style="width:40px;float:left;"> 
                                        <span style="display:block;float:left;margin-top:5px;">&nbsp;&nbsp;/&nbsp;{{qa.question_max_mark}}</span>
                                        <br/><br/><button type="button" ng-click="viewAnswer(qa)" class="btn btn-primary">View Ans.</button>&nbsp;<button type="button" ng-click="updateMarks(qa)" class="btn btn-primary">Update</button>
                                        </td>
                                        <td ng-if="qa.type == 'muliple_choice'">{{qa.achived_marks}} / {{qa.question_max_mark}}</td>
		                            </tr>
		                        </div>
		                    </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="margin-top:20px;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="clearfix text-center m-t">
                        <div class="inline">
                            <div ui-jq="easyPieChart">
                                <div class="thumb-xl">
                                    <img width="150px;" height="150px;" ng-src="/upload/studentImages/{{student_image}}" on-error-src="/img/a0.jpg" class="img-circle" alt="...">
                                </div>
                            <div class="h4 m-t m-b-xs">{{student_name}}</div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer bg-info text-center no-padder">
                    <div class="row no-gutter">
                        <div class="col-xs-6">
                            <div class="wrapper">
                                <span class="m-b-xs h3 block text-white">{{total_achived_marks}}</span>
                                <small class="text-muted">Achieved Marks</small>
                            </div>
                        </div>
                        <div class="col-xs-6 dk">
                            <div class="wrapper">
                                <span class="m-b-xs h3 block text-white">{{total_marks}}</span>
                                <small class="text-muted">Total Marks</small>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="view_ans_div">
    <div style="background-color:white;">
        <div class="panel-body">
          <div>{{view_question}}</div>
          <blockquote>
            <p>{{view_answer}}</p>
          </blockquote>
        </div>    
    </div>    
</div>
