<!-- <div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  " style="min-height:78vh;">
    <div class="col" ng-controller="dashboardController">
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
                    <small class="text-muted">Welcome to Thunder School</small>
                </div>
            </div>
        </div>
        <div class="wrapper-md" style="min-height:78vh;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row row-sm text-center">
                        <div class="col-xs-3">
                            <a href="#" class="block panel padder-v bg-primary item">
                                <span class="text-white font-thin h3 block">
                                  <i class="fa icon-user text-muted m-r-sm"></i>Students</span>
                                <span class="text-muted text-xs h3">0</span>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#" class="block panel padder-v bg-info item">
                                <div class="h3 text-white font-thin h3"><i class="fa  fa-list-alt text-muted m-r-sm"></i>Schools</div>
                                <span class="text-muted text-xs h3">0</span>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#" class="block panel padder-v bg-primary item">
                                <span class="text-white font-thin h3 block"><i class="fa   fa-th-large text-muted m-r-sm"></i>School Admins</span>
                                <span class="text-muted text-xs h3">0</span>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#" class="block panel padder-v bg-info item">
                                <div class="h3 text-white font-thin h3"><i class="fa fa-calendar text-muted m-r-sm"></i>Departments</div>
                                <span class="text-muted text-xs h3">0</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row row-sm text-center">
                        <div class="col-xs-3">
                            <a href="#" class="block panel padder-v bg-info  item">
                                <span class="text-white font-thin h3 block"><i class="fa  fa-image (alias) text-muted m-r-sm"></i>Staff</span>
                                <span class="text-muted text-xs h3">0</span>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#" class="block panel padder-v bg-primary  item">
                                <div class="h3 text-white font-thin h3"><i class="fa   fa-bank (alias) text-muted m-r-sm"></i>Events</div>
                                <span class="text-muted text-xs h3">0</span>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#" class="block panel padder-v bg-info item">
                                <span class="text-white font-thin h3 block"><i class="fa   fa-bank (alias) text-muted m-r-sm"></i>Visitors</span>
                                <span class="text-muted text-xs h3">0</span>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#" class="block panel padder-v bg-primary  item">
                                <div class="h3 text-white font-thin h3"><i class="fa   fa-bank (alias) text-muted m-r-sm"></i>Classes</div>
                                <span class="text-muted text-xs h3">0</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel no-border">
                        <div class="panel-heading wrapper b-b b-light">
                            <span class="text-xs text-muted pull-right">
                <i class="fa fa-circle text-primary m-r-xs"></i> 12
                <i class="fa fa-circle text-info m-r-xs m-l-sm"></i> 30
                <i class="fa fa-circle text-warning m-r-xs m-l-sm"></i> 98
              </span>
                            <h4 class="font-thin m-t-none m-b-none text-muted">Registered Schools</h4>
                        </div>
                        <ul class="list-group list-group-lg m-b-none">
                            <li class="list-group-item">
                                <a href class="thumb-sm m-r">
                                    <img src="img/a1.jpg" class="r r-2x">
                                </a>
                                <a href="#">Damon Parker</a>
                            </li>
                            <li class="list-group-item">
                                <a href class="thumb-sm m-r">
                                    <img src="img/a2.jpg" class="r r-2x">
                                </a>
                                <a href="#">Joe Waston</a>
                            </li>
                            <li class="list-group-item">
                                <a href class="thumb-sm m-r">
                                    <img src="img/a3.jpg" class="r r-2x">
                                </a>
                                <a href="#">Jannie Dvis</a>
                            </li>
                            <li class="list-group-item">
                                <a href class="thumb-sm m-r">
                                    <img src="img/a4.jpg" class="r r-2x">
                                </a>
                                <a href="#">Emma Welson</a>
                            </li>
                        </ul>
                        <div class="panel-footer">
                            <button class="btn btn-primary btn-addon btn-sm"><i class="fa fa-plus"></i>Add School</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="list-group list-group-lg list-group-sp">
                        <a herf class="list-group-item clearfix">
                            <span class="pull-left thumb-sm avatar m-r">
                <img src="img/a4.jpg" alt="...">
                <i class="on b-white right"></i>
              </span>
                            <span class="clear">
                <span>Chris Fox</span>
                            <small class="text-muted clear text-ellipsis">What's up, buddy</small>
                            </span>
                        </a>
                        <a herf class="list-group-item clearfix">
                            <span class="pull-left thumb-sm avatar m-r">
                <img src="img/a5.jpg" alt="...">
                <i class="on b-white right"></i>
              </span>
                            <span class="clear">
                <span>Amanda Conlan</span>
                            <small class="text-muted clear text-ellipsis">Come online and we need talk about the plans that we have discussed</small>
                            </span>
                        </a>
                        <a herf class="list-group-item clearfix">
                            <span class="pull-left thumb-sm avatar m-r">
                <img src="img/a6.jpg" alt="...">
                <i class="busy b-white right"></i>
              </span>
                            <span class="clear">
                <span>Dan Doorack</span>
                            <small class="text-muted clear text-ellipsis">Hey, Some good news</small>
                            </span>
                        </a>
                        <a herf class="list-group-item clearfix">
                            <span class="pull-left thumb-sm avatar m-r">
                <img src="img/a7.jpg" alt="...">
                <i class="busy b-white right"></i>
              </span>
                            <span class="clear">
                <span>Lauren Taylor</span>
                            <small class="text-muted clear text-ellipsis">Nice to talk with you.</small>
                            </span>
                        </a>
                        <a herf class="list-group-item clearfix">
                            <span class="pull-left thumb-sm avatar m-r">
                <img src="img/a8.jpg" alt="...">
                <i class="away b-white right"></i>
              </span>
                            <span class="clear">
                <span>Mike Jackson</span>
                            <small class="text-muted clear text-ellipsis">This is nice</small>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->