<div class="aside-wrap">
    <div class="navi-wrap">
        <nav ui-nav class="navi" ng-controller="schoolNavbarController">
            <ul class="nav">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-u-c text-xs">
                    <span>School Admin</span>
                </li>
                <li ui-sref-active="active" ng-if="school_admin_flag || security_roles.indexOf('dashboard') != -1">
                    <a ui-sref="schools.dashboard">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span>Dashboard</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="schools.todo_list">
                    <i class="fa fa-reorder (alias)" aria-hidden="true"></i>
                    <span>My To-Dos</span>
                    </a>
                </li>
                <li ng-if="school_admin_flag || security_roles.indexOf('email_system') != -1">
                    <a href class="auto">
                    <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-envelope"></i>
                    <span>Manage Emails</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href="#">
                            <span>Manage Emails</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.list_emails">
                            <i class="fa   fa-envelope-square" aria-hidden="true"></i>
                            <span>E-Mail</span>
                            </a>
                        </li>
                        <!-- <li ui-sref-active="active">
                            <a ui-sref="schools.email_notice_list">
                                <i class="fa  fa-envelope-o" aria-hidden="true"></i>
                                <span>Email-Notification</span>
                            </a>
                            </li> -->
                        <li ui-sref-active="active">
                            <a ui-sref="schools.templates_list">
                            <b class="badge dk pull-right"></b>
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            <span>Email Templates</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active" ng-if="school_admin_flag || security_roles.indexOf('push_notification') != -1">
                    <a ui-sref="schools.notice_list">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    <span>Push Notification</span>
                    </a>
                </li>
                <li ng-if="school_admin_flag || security_roles.indexOf('manage_academics') != -1">
                    <a href class="auto">
                    <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="glyphicon glyphicon-th"></i>
                    <span>Manage Academics</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                            <span>Manage Academics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.schooldepartment_list">
                            <i class="fa  fa-building-o" aria-hidden="true"></i>
                            <span>Departments</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.subject_list">
                            <i class="fa icon-docs" aria-hidden="true"></i>
                            <span>Subjects</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.class_list">
                            <i class="fa icon-drawer" aria-hidden="true"></i>
                            <span>Classes</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.list_lecture">
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
                            <span>Lectures</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active" ng-if="school_admin_flag || security_roles.indexOf('manage_materials') != -1">
                    <a ui-sref="schools.list_material">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                    <span>Manage Materials</span>
                    </a>
                </li>
                <li ng-if="school_admin_flag || security_roles.indexOf('manage_bookstore') != -1">
                    <a href class="auto">
                    <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-book"></i>
                    <span>Manage BookStore</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href="#">
                            <span>Manage BookStore</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.list_book_category">
                            <i class="fa  fa-envelope-o" aria-hidden="true"></i>
                            <span>Book Category</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.list_book_store">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            <span>BookStore</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-if="school_admin_flag || security_roles.indexOf('manage_students') != -1">
                    <a href class="auto">
                    <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>Manage Students</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href="#">
                            <span>Students</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.student_list">
                            <b class="badge dk pull-right"></b>
                            <i class="fa  fa-users" aria-hidden="true"></i>
                            <span>Students</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.list_relations">
                            <i class="fa icon-users" aria-hidden="true"></i>
                            <span>Student Relations</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="schools.admission_list">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span>Admissions/Inquiry</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.promote_student">
                            <b class="badge dk pull-right"></b>
                            <i class="fa  icon-graduation" aria-hidden="true"></i>
                            <span>Promote Students</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-if="school_admin_flag || security_roles.indexOf('ecommerce_portal') != -1">
                    <a href class="auto">
                    <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-eur"></i>
                    <span>Manage E-Commerce</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                            <span>Manage E-Commerce</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.productCategory_list">
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
                            <span>Product Category</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.product_list">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span>Products</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active" ng-if="school_admin_flag || security_roles.indexOf('school_admins') != -1" >
                    <a ui-sref="schools.schoolAdmin_list">
                    <i class="fa icon-users" aria-hidden="true"></i>
                    <span>School Admins</span>
                    </a>
                </li>
                <li ui-sref-active="active" ng-if="school_admin_flag || security_roles.indexOf('manage_staff_employee') != -1">
                    <a ui-sref="schools.staff_list">
                    <i class="fa icon-users" aria-hidden="true"></i>
                    <span>Manage Staff</span>
                    </a>
                </li>
                <li ng-if="school_admin_flag || security_roles.indexOf('manage_events') != -1">
                    <a href class="auto">
                    <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa  fa-calendar" aria-hidden="true"></i>
                    <span>Manage Events</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                            <span>Manage Events</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.events_list">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            <span>Events</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.event_registration_list">
                            <i class="glyphicon  glyphicon-registration-mark" aria-hidden="true"></i>
                            <span>Event Registrations</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.student_parents_event_registration_list">
                            <i class="fa icon-list" aria-hidden="true"></i>
                            <span>Student/Parent List</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.gallery_list">
                            <i class="fa fa-image (alias)" aria-hidden="true"></i>
                            <span>Event Gallery</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="schools.generate_report">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span>Generate Reports</span>
                    </a>
                </li>
                <li ng-if="school_admin_flag || security_roles.indexOf('manage_fees') != -1 || school_admin_flag || security_roles.indexOf('fee_collections') != -1">
                    <a href class="auto">
                    <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="glyphicon glyphicon-th"></i>
                    <span>Accounting</span>
                    </a>
                    <ul class="nav nav-sub dk" >
                        <li class="nav-sub-header">
                            <a href>
                            <span>Accounting</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-if="school_admin_flag || security_roles.indexOf('manage_fees') != -1">
                            <a ui-sref="schools.school_fees_list">
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            <span>Fees</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-if="school_admin_flag || security_roles.indexOf('fee_collections') != -1">
                            <a ui-sref="#">
                            <i class="fa fa-money" aria-hidden="true"></i>
                            <span>Fee Collections</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href class="auto">
                    <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-cog"></i>
                    <span>Setup</span>
                    </a>
                    <ul class="nav nav-sub dk" >
                        <li class="nav-sub-header">
                            <a href>
                            <span>Setup</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-if="school_admin_flag || security_roles.indexOf('manage_staff_roles') != -1">
                            <a ui-sref="schools.staff_roles_list">
                            <i class="fa fa-child" aria-hidden="true"></i>
                            <span>Manage Staff Roles</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-if="school_admin_flag || security_roles.indexOf('manage_location') != -1">
                            <a ui-sref="schools.list_location">
                            <i class="fa icon-target" aria-hidden="true"></i>
                            <span>Manage Locations</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.session_list">
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
                            <span>School Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.grades_list">
                            <i class="fa icon-graduation" aria-hidden="true"></i>
                            <span>School Grades</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.grade_scale_list">
                            <b class="badge dk pull-right"></b>
                            <i class="fa  icon-graduation" aria-hidden="true"></i>
                            <span>Grade Scales</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-if="school_admin_flag || security_roles.indexOf('manage_staff_employee') != -1 || security_roles.indexOf('manage_students') != -1">
                            <a ui-sref="schools.medical_info_list">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            <span>Manage Medical Info</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-if="school_admin_flag || security_roles.indexOf('manage_roles') != -1">
                            <a ui-sref="schools.school_roles_list">
                            <i class="fa fa-child" aria-hidden="true"></i>
                            <span>Manage Admin Roles</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-if="school_admin_flag || security_roles.indexOf('manage_academics') != -1">
                            <a ui-sref="schools.designation_list">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            <span>Designations</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="schools.source_list">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            <span>Manage Source</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>