<div class="aside-wrap">
    <div class="navi-wrap">
        <!-- nav -->
        <nav ui-nav class="navi">
            <!-- list -->
            <ul class="nav">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-u-c text-xs">
                    <span>District Admin</span>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="districts.dashboard">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span>Dashboard</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="districts.todo_list">
                    <i class="fa fa-reorder (alias)" aria-hidden="true"></i>
                    <span>My To-Dos</span>
                    </a>
                </li>
                <li>
                    <a href class="auto">
                    <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-book"></i>
                    <span>Manage BookStore</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href="#">
                            <span>Manage BookStore</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.list_book_category">
                            <i class="fa  fa-envelope-o" aria-hidden="true"></i>
                            <span>Book Category</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.list_book_store">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            <span>BookStore</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="districts.schoolAdmin_list">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>School Admins</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="districts.staff_list">
                    <i class="fa icon-users" aria-hidden="true"></i>
                    <span>School Staff</span>
                    </a>
                </li>
                <li>
                    <a href class="auto">
                    <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa  fa-calendar" aria-hidden="true"></i>
                    <span>School Events</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                            <span>School Events</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.events_list">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            <span>Events</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.event_registration_list">
                            <i class="glyphicon  glyphicon-registration-mark" aria-hidden="true"></i>
                            <span>Event Registrations</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.gallery_list">
                            <i class="fa fa-image (alias)" aria-hidden="true"></i>
                            <span>Event Gallery</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href class="auto">
                    <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa  fa-cog" aria-hidden="true"></i>
                    <span>Setup</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                            <span>Setup</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.district_school_list">
                            <i class="fa fa-bank (alias)" aria-hidden="true"></i>
                            <span>Manage Schools</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.session_list">
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
                            <span>School Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.grades_list">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            <span>School Grades</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.school_roles_list">
                            <i class="fa fa-child" aria-hidden="true"></i>
                            <span>School Admins Roles</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.schooldepartment_list">
                            <i class="fa icon-note" aria-hidden="true"></i>
                            <span>School Departments</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.designation_list">
                            <i class="fa fa-file-text" aria-hidden="true"></i>
                            <span>School Designations</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- <li ui-sref-active="active">
                    <a ui-sref="districts.list_material">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        <span>Manage Materials</span>
                    </a>
                    </li> -->
                <!-- <li>
                    <a href class="auto">
                    <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="glyphicon glyphicon-th"></i>
                    <span>E-Commerce Portal</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                            <span>E-Commerce Portal</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.productCategory_list">
                            <span>Product Category</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.product_list">
                            <span>Manage Products</span>
                            </a>
                        </li>
                    </ul>
                    </li> -->
                <!-- <li>
                    <a href class="auto">
                        <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                        <i class="glyphicon glyphicon-th"></i>
                        <span>Accounting</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                                <span>Accounting</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.school_fees_list">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                <span>Manage Fees</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="#">
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>Fee Collection</span>
                            </a>
                        </li>
                    </ul>
                    </li> -->
                <!-- <li>
                    <a href class="auto">
                        <span class="pull-right text-muted">
                              <i class="fa fa-fw fa-angle-right text"></i>
                              <i class="fa fa-fw fa-angle-down text-active"></i>
                              </span>
                        <i class="glyphicon glyphicon-th"></i>
                        <span>Manage Academics</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                                <span>Manage Academics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.grades_list">
                                <span>Manage Grades</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.class_list">
                                <span>Manage Classes</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.subject_list">
                                <span>Manage Subjects</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="districts.designation_list">
                                <span>Manage Designations</span>
                            </a>
                        </li>
                    </ul>
                    </li>
                    <li ui-sref-active="active">
                    <a ui-sref="#">
                        <i class="fa fa-th" aria-hidden="true"></i>
                        <span>Send Messages</span>
                    </a>
                    </li> -->
                <!--   <li ui-sref-active="active">
                    <a ui-sref="districts.notice_list">
                          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                          <span>Push Notification</span>
                          </a>
                    </li>-->
                <!-- <li ui-sref-active="active">
                    <a ui-sref="#">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    <span>Push Notification</span>
                    </a>
                    </li> -->
            </ul>
        </nav>
    </div>
</div>