<div class="bg-light lter b-b wrapper-md">
    <h3 class="m-n font-thin h3">Create Video Conference</h3>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-controller="createVideoConferenceController" ng-init="getAllParticipate()">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <form name="formValidate" class="form-horizontal form-validation" ng-submit="submitConference()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Video Conference</strong>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Meeting Topic</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="chat_room.room_name" class="form-control" placeholder="Enter Meeting Topic" required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Meeting Date</label>
                        <div class="col-sm-6">
                            <datepicker date-format="'yyyy-MM-dd">
                                <input type="text" placeholder="Meeting Date" data-ng-model="chat_room.meeting_date" class="form-control" required="true">
                            </datepicker>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Meeting Time</label>
                        <div class="col-sm-6">
                            <input type="text" id="basicExample" class=" basicExample time ui-timepicker-input __web-inspector-hide-shortcut__ form-control" ng-model="chat_room.meeting_time" placeholder="Meeting Time" required>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('.basicExample').timepicker();
                        });
                    </script>
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success" style="width: 64.44px;">Create</button>
                    </footer>
                </div>
            </form>
            </div>
            <div class="row">
                <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-striped table-hover table-condensed table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Meeting Topic</th>
                            <th>Meeting Date</th>
                            <th>Meeting Time</th>
                            <th>Go To Conferance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="my_conferances_list.length > '0'">
                            <tr ng-repeat="my_conferance in my_conferances_list">
                                <td>{{my_conferance.room_name}}</td>
                                <td>{{my_conferance.scheduled_date | date:'MM-dd-yyyy'}}</td>
                                <td>{{my_conferance.scheduled_date | date:'HH:mma'}}</td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="joinConferance(my_conferance.room_id)">Join</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
            </div>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="nav-tabs-alt">
              <div class="panel-heading">
                  <strong>Invite People</strong>
                  <input type="text" ng-model="txtsearch.name" class="form-control bg-light no-border rounded ng-touched ng-pristine ng-valid ng-empty" id="exampleInputEmail2" placeholder="Search Name" style="width:inherit;">
              </div>
                <ul style="list-style-type: none;">
                    <li ng-repeat="participate in participates | filter: txtsearch">
                        <label class="i-checks">
                          <input type="checkbox"
                          ng-checked="selectedParticipate.indexOf(unique_id) > -1"
                          ng-click="toggleSelection(participate.unique_id+'**'+participate.type+'**'+participate.email)"
                          name="selectedParticipates[participate.unique_id]">
                          <i class="glyphicon glyphicon-user text-md text-muted wrapper-sm"></i>{{participate.name}}
                      </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
