<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Lecture</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;">
    <div class="row">
        <div class="col-sm-8" ng-init="getEditLectures()">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveEditLectures()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Lecture</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Session</label>
                            <div class="col-sm-8">
                                <select ng-model="lecture.session_id" class="form-control" required="true">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="session in sessions" value="{{session.id}}" ng-value="{{session.id}}">{{session.session_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Department</label>
                            <div class="col-sm-8">
                                <select ng-model="lecture.department_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="department in departments" value="{{department.id}}" ng-value="{{department.id}}">{{department.department_name}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="col-sm-3 control-label">Grade</label>
                            <div class="col-sm-8">
                                <select ng-model="lecture.grade_id" class="form-control" ng-change="getSubjectGradeWise(lecture.grade_id)" required="true">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="grade in grades" value="{{grade.id}}" ng-value="{{grade.id}}">{{grade.grade}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Subject Name</label>
                            <div class="col-sm-8">
                                <select ng-model="lecture.subject_id" class="form-control" ng-selected="lecture.subject_id" required="true">
                                    <option value="" selected="selected">Please Select</option>
                                    <option ng-repeat="subject in subjects" value="{{subject.id}}" ng-value="{{subject.id}}">{{subject.subject_name}}</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Location</label>
                            <div class="col-sm-8">
                                <select ng-model="lecture.location_id" class="form-control" required="true" convert-to-number>
                                    <option value="">Please Select</option>
                                    <option ng-repeat="location in locations" value="{{location.id}}">{{location.tital}} {{location.building_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                              <label class="col-sm-3 control-label">Date</label>
                              <div class="col-sm-8">
                                  <datepicker date-format="MM-dd-yyyy" required="true">
                                      <input type="text" placeholder="Enter Date" data-ng-model="lecture.date" class="form-control">
                                  </datepicker>
                              </div>
                          </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Start Time</label>
                            <div class="col-sm-8">
                                <input type="text" id="basicExample" class="basicExample time ui-timepicker-input __web-inspector-hide-shortcut__ form-control" ng-model="lecture.start_time" placeholder="Start Time" required autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">End Time</label>
                            <div class="col-sm-8">
                                <input type="text" id="basicExample" class=" basicExample time ui-timepicker-input __web-inspector-hide-shortcut__ form-control" ng-model="lecture.end_time" placeholder="End Time" required>
                            </div>
                        </div>

                        <script type="text/javascript">
                            $(document).ready(function() {
                                $('.basicExample').timepicker();
                            });
                        </script>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="listLectures()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
