<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Lecture / Time-table</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewLecture()">Add New Lecture</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllLectures()">
        <div class="panel-heading">
            Manage Lecture
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Session</th>
                            <th>Grade</th>
                            <th>Subject Name</th>
                            <th>Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="lectures.length > '0'">
                            <tr ng-repeat="lecture in lectures">
                                <td>{{lecture.session_name}}</td>
                                <td>{{lecture.grade}}</td>
                                <td>{{lecture.subject_name}}</td>
                                <td>{{lecture.date | date:"MM-dd-yyyy"}}</td>
                                <td>{{lecture.start_time}}</td>
                                <td>{{lecture.end_time}}</td>
                                <td ng-if="lecture.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveLecture(lecture.id)">Active</button>
                                </td>
                                <td ng-if="lecture.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeLecture(lecture.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editLectures(lecture.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteLectures(lecture.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
