<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Product Category</h1>
</div>
<div class="wrapper-md" ng-controller="createSchoolProductCategoryController" style="min-height:76vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit="createCategory()" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Product Category</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Category Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="category.category_name" placeholder="Category Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea ng-model='category.category_description' class="form-control" rows="8" cols="40" placeholder="Description" required></textarea>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelCategoryForm()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
