<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Template</h1>
</div>
<div class="wrapper-md">
    <div class="row" style="min-height:74vh;">
        <div class="col-sm-8" ng-init="editTemplate()">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveUpdateTemplate()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Template</strong>
                    </div>
                    <br>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Key</label>
                            <div class="col-sm-9">
                                <!-- <select class="form-control" ng-model="template.ui_key" ng-required="true">
                                <option value="">Please Select</option>
                                <option ng-repeat="key in keys" value="{{key.ui_key}}" ng-value="{{key.ui_key}}">{{key.ui_key}}</option>
                              </select> -->
                              <input type="text" name="name" class="form-control" ng-model="template.ui_key" ng-required="true" disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Message</label>
                            <div class="col-sm-9">
                                <textarea name="name" rows="8" cols="40" class="form-control" placeholder="Enter your message" ng-model="template.ui_data" ng-required="true"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-10 control-label"></label>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-success" ng-disabled='form.$invalid' style="width: 64.44px;">Save</button>
                                <button class="btn btn-default" ng-click="listTemplates()" type="button">Cancel</button>
                            </div>
                        </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
