<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Time-table</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-init="getSchoolGrades()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createTimeTable()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Time-table</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Grade</label>
                            <div class="col-sm-8">
                                <select ng-model="timetable.grade_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="grade in grades" ng-value="{{grade.id}}" value="{{grade.id}}">{{grade.grade}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Subject</label>
                            <div class="col-sm-8">
                                <select ng-model="timetable.subject_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="subject in subjects" ng-value="{{subject.id}}" value="{{subject.id}}">{{subject.subject_name}}</option>
                                </select>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <label class="col-sm-3 control-label">Select Class</label>
                            <div class="col-sm-8">
                                <select ng-model="timetable.class_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="class in classes" ng-value="{{class.id}}" value="{{class.id}}">{{class.class_name}}</option>
                                </select>
                            </div>
                        </div> -->

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Day</label>
                            <div class="col-sm-8">
                                <select ng-model="timetable.day" class="form-control">
                                    <option value="" selected="selected">Select Day</option>
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                    <option value="Sunday">Sunday</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Start Time</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="timetable.start_time" class="form-control" placeholder="HH:MM">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">End Time</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="timetable.end_time" class="form-control" placeholder="HH:MM">
                                </select>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" type="button" >Cancel</button>
                        </footer>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
