<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Timetable</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
  <button class="btn btn-default" ng-click="addNewTimetable()">Add New Timetable</button>
    <br>
    <div class="form-group">
        <div class="col-md-2 pull-right">
            <select ng-model="drpsearch"  class="form-control">
                <option value="" selected="selected">Select Day</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
        </div>
        <br>
    </div>
    <br>
    <div class="panel panel-default" ng-init="getAllSchoolTimeTable()">
        <div class="panel-heading">
            Manage Timetable
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th>Subject Name</th>
                            <th>Day</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="timetables.length > '0'" >
                            <tr ng-repeat="timetable in timetables | filter:drpsearch">
                                <td>{{timetable.grade}}</td>
                                <td>{{timetable.subject_name}}</td>
                                <td>{{timetable.day}}</td>
                                <td>{{timetable.start_time}}</td>
                                <td>{{timetable.end_time}}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
