  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Exam Result</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-controller="examResultEditStaffController">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="editExamResultSave()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Exam Result</strong>
                    </div>
                    <div class="panel-body" ng-init="getExamResult()">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Exam</label>
                            <div class="col-sm-9">
                                <select ng-model="result.exam_id" class="form-control" convert-to-number required="true">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="exam in exams" value="{{exam.id}}">{{exam.session_name}} - {{exam.grade}} - {{exam.subject_name}} -({{exam.exam_head}})</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Student</label>
                            <div class="col-sm-9">
                                <select ng-model="result.student_id" class="form-control" convert-to-number required="true">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="student in students" value="{{student.id}}">{{student.first_name | capitalize}} {{student. last_name | capitalize}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Achived Marks</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="result.achived_marks" placeholder="Marks" maxlength="3" required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Result Date</label>
                            <div class="col-sm-9">
                                <datepicker date-format="'yyyy-MM-dd">
                                    <input type="text" placeholder="Result Date" data-ng-model="result.result_date" class="form-control">
                                </datepicker>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelExamResult()" type="button" >Cancel</button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>