<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Class</h1>
</div>
<div class="wrapper-md" ng-controller="createDistrictClassController" style="min-height:76vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit="createClass()" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Class</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select School</label>
                            <div class="col-sm-9">
                                <select ng-model="class.school_id" class="form-control" ng-change="getSchoolDepartments(class.school_id);">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="school in schools" value="{{school.id}}">{{school.school_name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Department</label>
                            <div class="col-sm-9">
                                <select ng-model="class.department_id" class="form-control" ng-change="getAllSchool(class.department_id)">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="department in departments" value="{{department.id}}">{{department.department_name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Staff</label>
                            <div class="col-sm-9">
                                <select ng-model="class.staff_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="staff in staffs" value="{{staff.id}}">{{staff.first_name | capitalize}} {{staff. last_name | capitalize}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Grade</label>
                            <div class="col-sm-9">
                                <select ng-model="class.grade_id" class="form-control" convert-to-number required="true">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Class Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="class.class_name" placeholder="Class Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Message</label>
                            <div class="col-sm-9">
                                <textarea ng-model='class.message' class="form-control" rows="8" cols="40" placeholder="Message" required></textarea>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelClassForm()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
