<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add New Homework</h1>
</div>
<div class="wrapper-md" style="min-height:80vh;" ng-init="getSchoolGrades()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createHomework()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Add New Homework</strong>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Grade</label>
                        <div class="col-sm-8">
                            <select ng-model="homework.grade_id" class="form-control" ng-change="getSubjectGradeWise(homework.grade_id)" required="true">
                                <option value="">Please Select</option>
                                <option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Subject</label>
                        <div class="col-sm-8">
                            <select ng-model="homework.subject_id" class="form-control" required="true"  ng-change="getClassSubjectWise(homework.subject_id)">
                                <option value="">Please Select</option>
                                <option ng-repeat="subject in subjects" value="{{subject.id}}">{{subject.subject_name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Class</label>
                        <div class="col-sm-8">
                            <select ng-model="homework.class_id" class="form-control" required="true" >
                                <option value="">Please Select</option>
                                <option ng-repeat="class in classes" value="{{class.id}}">{{class.class_name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Title</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="homework.title" placeholder="Enter File title" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="homework.description" placeholder="Enter File description" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select</label>
                        <div class="col-sm-8">
                            <button ngf-select="uploadFile($file)" ng-model="homework.file" class="btn btn-primary"  > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp; Add New File</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Due Date</label>
                        <div class="col-sm-8">
                            <datepicker date-format="'yyyy-MM-dd">
                                <input type="text" placeholder="Enter Date" data-ng-model="homework.due_date" class="form-control" required="true">
                            </datepicker>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Start Time</label>
                        <div class="col-sm-8">
                            <input type="text" id="basicExample" class="basicExample time ui-timepicker-input __web-inspector-hide-shortcut__ form-control" ng-model="homework.start_time" placeholder="Start Time" required autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">End Time</label>
                        <div class="col-sm-8">
                            <input type="text" id="basicExample" class=" basicExample time ui-timepicker-input __web-inspector-hide-shortcut__ form-control" ng-model="homework.end_time" placeholder="End Time" required>
                        </div>
                    </div>

                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('.basicExample').timepicker();
                        });
                    </script>

                    <!-- <div class="form-group">
                        <label class="col-sm-3 control-label">Priority</label>
                        <div class="col-sm-8">
                            <select ng-model="homework.priority" class="form-control" required="true">
                                <option value="">Please Select</option>
                                <option value="high">High</option>
                                <option value="medium">Medium</option>
                                <option value="low">Low</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Type</label>
                        <div class="col-sm-8">
                            <select ng-model="homework.type" class="form-control" required="true">
                                <option value="">Please Select</option>
                                <option value="study">Study</option>
                                <option value="practice">Practice</option>
                            </select>
                        </div> -->
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button class="btn btn-default" ng-click="listHomeworks()" type="button" >Cancel</button>
                    </footer>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
