<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Homework</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="listHomeworkController">
    <button class="btn btn-default" ng-click="addNewHomework()">Add New Homework</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getHomeworks()">
        <div class="panel-heading">
            Manage Homework
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Staff Name</th>
                            <th>Grade</th>
                            <th>Subject</th>
                            <!-- <th>Title</th> -->
                            <th>Description</th>
                            <th>Due Date</th>
                            <th>Download File</th>
                            <!-- <th>Priority</th> -->
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="homeworks.length > '0'">
                            <tr ng-repeat="homework in homeworks">
                                <td>{{homework.staff_name}}</td>
                                <td>{{homework.grade}}</td>
                                <td>{{homework.subject_name}}</td>
                                <!-- <td>{{homework.title}}</td> -->
                                <td>{{homework.description}}</td>
                                <td>{{homework.due_date | date:'MM-dd-yyyy'}}</td>
                                <td>
                                  <button class="btn btn-default" ng-click="downloadFile(homework)" style="width:150px;"><i class="glyphicon glyphicon-download-alt"></i>&nbsp; {{homework.title}}</button>
                                </td>
                                <!-- <td>{{homework.priority}}</td> -->
                                <td>
                                    <button class="btn btn-primary" ng-click="homeworkReport(homework.id)"><i class="glyphicon glyphicon-book"></i>&nbsp;Homework Report</button>
                                    <button class="btn btn-primary" ng-click="editHomework(homework.id)"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit</button>
                                    <button class="btn btn-danger" ng-click="deleteHomework(homework.id)"><i class="glyphicon glyphicon-remove"></i>&nbsp;Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
