<div class="" ng-controller="listHomeworkReportController" style="min-height:85vh;" ng-init="getHemoworkRequiredData()">
    <div class="row">
        <div class="col-md-4  bg-light">
            <div class="wrapper">
                <div class="wrapper bg b-b">
                    <h3 class="m-n font-thin">Home Work <span style="font-size:15px;">Details</span></h3>
                    <br/>
                    <blockquote class="bg-white">
                        <p ng-bind="homework.title"></p>
                        <p class="pull-right" ng-bind="homework.created_at | date: MM-dd-yyyy"></p><br/>
                        <small ng-bind="homework.description"></small>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-md-8 bg-white">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <button style="margin-left:40px;" class="btn btn-danger" ng-click="makeInCompleteAll()"><i class="glyphicon glyphicon-ok"></i>&nbsp;InComplete All</button>
                    <button style="margin-right:40px;" class="btn btn-success pull-right" ng-click="makeCompleteAll()"><i class="glyphicon glyphicon-ok"></i>&nbsp;Complete All</button>
                </div>
            </div>
            <div class="row">
                <div class="wrapper">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Students List
                        </div>
                        <div>
                            <div class="table-responsive">
                                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                                    <thead>
                                        <tr>
                                            <th>Student Name</th>
                                            <th>Uploaded Assignment</th>
                                            <th>Achieved Grade</th>
                                            <th>Status</th>
                                            <th>Last Updated On</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <div ng-if="homeworks_report_lists.length > '0'">
                                            <tr ng-repeat="report in homeworks_report_lists">
                                                <td>{{report.student_name}}</td>
                                                <td ng-if="report.file_path === null">
                                                    Homework not uploaded!
                                                </td>
                                                <td ng-if="report.file_path !== null">
                                                      <button class="btn btn-default" ng-click="DownloadStudentHomework(report)"><i class="glyphicon glyphicon-download-alt"></i>&nbsp; Download</button>
                                                </td>
                                                <td>
                                                    <input type="number" ng-if="report.status == '1'" readonly="true" ng-model="report.achieved_grade" value="{{report.achieved_grade}}" class="form-control" style="width:150px; float: left; margin-right: 15px;">
                                                    <input type="number" ng-if="report.status == '0'" ng-model="report.achieved_grade" value="{{report.achieved_grade}}" class="form-control" style="width:150px; float: left; margin-right: 15px;">
                                                    <button type="button" name="button" ng-click="updateStudentGrades(report)" class="btn btn-primary">update</button>
                                                </td>
                                                <td ng-if="report.status == '0'">
                                                    <button class="btn btn-danger" ng-click="completeHomework(report.id)" style="width:107px;!important"><i class="glyphicon glyphicon-remove"></i>&nbsp;Pending</button>
                                                </td>
                                                <td ng-if="report.status == '1'">
                                                    <button class="btn btn-success" ng-click="completeHomework(report.id)"><i class="glyphicon glyphicon-ok"></i>&nbsp;Completed</button>
                                                </td>
                                                <td>{{report.modified_at | date:'MM-dd-yyyy'}}</td>
                                            </tr>
                                        </div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
