<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Issues</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <div class="panel panel-default" ng-init="getAllIssues()">
        <div class="panel-heading">
            Manage Issues
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Priority</th>
                            <th>Student Name</th>
                            <th>Parent Name</th>
                            <th>Description</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="issues.length > '0'">
                            <tr ng-repeat="issue in issues">
                                <td>{{issue.subject}}</td>
                                <td>{{issue.priority}}</td>
                                <td>{{issue.student_name}}</td>
                                <td>{{issue.parent_name}}</td>
                                <td>{{issue.description}}</td>
                                <td>{{issue.created_at | date:'MM-dd-yyyy'}}</td>
                                <td>
                                    <select class="form-control" ng-model="issue.status" ng-change="changeStatus(issue)">
                                        <option value="0" ng-value="0">Pending</option>
                                        <option value="1" ng-value="1">In Progress</option>
                                        <option value="2" ng-value="2">Solved</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn btn-primary" ng-click="viewIssues(issue.id)"><i class="fa fa-plus-square-o"></i>&nbsp;&nbsp; View & Respond</button>
                                    <button class="btn btn-danger" ng-click="removeIssue(issue.id)"><i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp; Delete</button>
                                    <!-- <button type="button" class="btn m-b-xs  btn-primary" ng-click="response(issue.id)"><i class="fa fa-mail-forward"></i>&nbsp;Response</button> -->

                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
