<div class="wrapper-md" style="min-height:82vh;" ng-controller="parentVideoConferenceLiveController" ng-init="getRoomData()">
  <div class="bg-light lter b-b wrapper-md">
        <h3 class="m-n font-thin h3">{{room_title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6" ng-repeat="video in remoteVideo">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video ng-attr-id="{{video.id}}" ng-src="{{video.source|trusted}}" autoplay controls></video>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4 right-chat-div">
          <div class="row">
              <div class="">
                  <div class="embed-responsive embed-responsive-16by9">
                      <video autoplay id="localVideo" controls muted="true"></video>
                  </div>
              </div>
          </div>
            <div class="row" style="max-height:300px;overflow:auto;min-height:300px;">
                <div class="panel-body">
                    <ul class="chat">
                        <li class="clearfix" ng-repeat="message in group_messages.slice().reverse()">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{message.from}}</strong>
                                    <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time">
                                    </span>{{message.datetime | date: "hh:mm:ss"}}
                                    </small>
                                </div>
                                <p>
                                    {{message.message}}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:-15px;">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <form id="message-form" class="form-search form-horizontal">
                <div class="input-group" style="position:relative;margin-top:0%;">
                    <input id="btn-input" type="text" class="form-control" placeholder="Type your message here..." ng-model="groupMessage" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="sendGroupMessage()" id="btn-chat"> Send Message </button>
                        </span>
                </div>
            </form>
        </div>
    </div>
</div>
