<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Homework</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <div class="panel panel-default" ng-init="getStudentsHomework()">
        <div class="panel-heading">
            Manage Homework
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <!-- <th>Title</th> -->
                            <!-- <th>Subject</th>
                            <th>Class</th>
                            <th>Staff name</th>
                            <th>Description</th>
                            <th>End Date</th>
                            <th>Download File</th>
                            <th>Status</th>
                            <th>Created Date</th> -->

                            <th>Staff name</th>
                            <th>Subject</th>
                            <th>Class</th>
                            <!-- <th>Title</th> -->
                            <th><center>Achived Grade</center></th>
                            <th>End Date</th>
                            <th>Description</th>
                            <th>Download File</th>
                            <!-- <th>Upload File</th> -->
                            <th>Status</th>
                            <th>Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <div ng-if="homeworks.length > '0'">
                            <tr ng-repeat="homework in homeworks">
                                <td>{{homework.title}}</td>
                                <td>{{homework.subject_name}}</td>
                                <td>{{homework.class_name}}</td>
                                <td>{{homework.staff_name}}</td>
                                <td>{{homework.description}}</td>
                                <td>{{homework.due_date | date:'MM-dd-yyyy'}}</td>
                                <td>
                                    <button class="btn btn-default" ng-click="DownloadHomework(homework)" style="width:150px;"><i class="glyphicon glyphicon-download-alt"></i>&nbsp; {{homework.title}}</button>
                                </td>
                                <td ng-if="homework.status == '1'">
                                <button type="button" class="btn btn-success" style="width:118px;">Completed</button>
                                </td>
                                <td ng-if="homework.status == '0'">
                                    <button type="button" class="btn btn-danger">Not Completed</button>
                                </td>
                                <td>{{homework.created_at | date:'MM-dd-yyyy'}}</td>
                            </tr>
                        </div> -->

                        <div ng-if="homeworks.length > '0'">
                            <tr ng-repeat="homework in homeworks">
                                <td>{{homework.staff_name}}</td>
                                <td>{{homework.subject_name}}</td>
                                <td>{{homework.class_name}}</td>
                                <!-- <td>{{homework.title}}</td> -->
                                  <td ng-if="homework.achieved_grade === null">
                                    <button type="button" name="button" class="btn btn-default" disabled="true"><i class="glyphicon glyphicon-remove"></i>&nbsp;
                                      Homework Pending
                                    </button>
                                </td>
                                <td ng-if="homework.achieved_grade !== null">
                                   <center>{{homework.achieved_grade}}</center>
                                </td>
                                <td>{{homework.due_date | date:'MM-dd-yyyy'}}</td>
                                <td>{{homework.homework_description}}</td>
                                <td>
                                    <button class="btn btn-default" ng-click="DownloadHomework(homework)" style="width:150px;"><i class="glyphicon glyphicon-download-alt"></i>&nbsp; {{homework.homework_title}}</button>
                                </td>
                                <!-- upload File -->
                                <!-- <td ng-if="homework.status == '1'">
                                    <button type="button" class="btn btn-default" disabled="true" style="width:100px;"><i class="glyphicon glyphicon-book"></i>&nbsp; Upload</button>
                                </td>
                                <td ng-if="homework.status == '0'">
                                    <button type="button" class="btn btn-default" ng-click="submitHomework(homework)" style="width:100px;"><i class="glyphicon glyphicon-book"></i>&nbsp; Upload</button>
                                </td> -->
                                <!-- / upload File -->
                                <td ng-if="homework.status == '1'">
                                  <button type="button" class="btn btn-success" style="width:118px;" disabled="true">Completed</button>
                                </td>
                                <td ng-if="homework.status == '0'">
                                    <button type="button" class="btn btn-danger" disabled="true">Not Completed</button>
                                </td>
                                <td>{{homework.created_at | date:'MM-dd-yyyy'}}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
