<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Staff/Employee</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-controller="districtCreateStaffController">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createStaff()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Staff/Employee</strong>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select School</label>
                            <div class="col-sm-9">
                                <select ng-model="staff.school_id" class="form-control" ng-change="getSchoolDepartmentsDesignation(staff.school_id);">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="school in Schools" value="{{school.id}}">{{school.school_name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Department</label>
                            <div class="col-sm-9">
                                <select ng-model="staff.department_id" class="form-control" ng-change="getSchoolDepartments(staff.school_id);">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="department in Departments" value="{{department.id}}">{{department.department_name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Designation</label>
                            <div class="col-sm-9">
                                <select ng-model="staff.designation_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="designation in Designations" value="{{designation.id}}">{{designation.designation}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Role</label>
                            <div class="col-sm-9">
                                <select ng-model="staff.role_id" class="form-control" ng-change="">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="role in roles" value="{{role.id}}">{{role.role_name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Session</label>
                            <div class="col-sm-9">
                                <select ng-model="staff.session_id" class="form-control" ng-change="getSchoolSessions()">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="session in Sessions" value="{{session.id}}">{{session.session_name}}</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Type</label>
                            <div class="col-sm-9">
                                <select ng-model="staff.type" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-value="academics">Academics</option>
                                    <option ng-value="nonacademics">Non-Academics</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <div class="info-section">
                                    <button ngf-select="uploadFile($file)" ng-model="staff.photo" class="btn btn-primary" > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp;   Select Profile Image</button>
                                </div>
                                <div class="" ng-init="uploadedFile()">
                                    <div class="inline" ng-if="imagename === undefined">
                                    </div>
                                    <div class="inline bg-white wrapper-sm b-a" ng-if="imagename !== undefined">
                                        <div class="bg-light">
                                            <img ng-src="/upload/staffImages/{{imagename}}" alt="No Image Selected" height="160px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.first_name" placeholder="First Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Middle Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.middle_name" placeholder="Middle Name (Optional)">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.last_name" placeholder="Last Name" required>
                            </div>
                        </div>

                         <div class="form-group">
                            <label class="col-sm-3 control-label">Gender</label>
                            <div class="radio col-sm-8">
                                <label class="i-checks">
                                    <input ng-model="staff.gender" type="radio" name="rdoGender" ng-value="'male'">
                                    <i></i>Male
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                    <input ng-model="staff.gender" type="radio" name="rdoGender" ng-value="'female'">
                                    <i></i>Female
                                </label> &nbsp;&nbsp;&nbsp;
                                 <label class="i-checks">
                                    <input ng-model="staff.gender" type="radio" name="rdoGender" ng-value="'other'">
                                    <i></i>Other
                                </label> &nbsp;&nbsp;&nbsp;
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address 1</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.address_1" placeholder="Address" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address 2</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.address_2" placeholder="Address">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.city" placeholder="City" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.state" placeholder="State" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.country" placeholder="Country" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Zipcode</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.pincode" placeholder="Zipcode" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mobile number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.phonenumber" placeholder="Mobile number" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Office number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.officenumber" placeholder="Phone number" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Date of Birth</label>
                            <div class="col-sm-9">
                                <datepicker date-format="'yyyy-MM-dd">
                                    <input type="text" placeholder="Date of Birth" data-ng-model="staff.date_of_birth" class="form-control">
                                </datepicker>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Hire Date</label>
                            <div class="col-sm-9">
                                <datepicker date-format="'yyyy-MM-dd">
                                    <input type="text" placeholder="Hire Date" data-ng-model="staff.date_of_joining" class="form-control">
                                </datepicker>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Employee/Staff Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.employee_username" placeholder="Employee/Staff Username" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email id</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.email_id" placeholder="Email id" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" pattern=".{6,}"   required title="minimum six character required!"  class="form-control" ng-model="staff.password" placeholder="Password" minlength=6 required>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Medical Immunizations</label>
                            <div class="col-sm-9">
                                <select ng-model="staff.medical_immunizations" class="form-control" multiple="true">
                                    <option ng-repeat="info in infos" ng-if="info.type == 'Immunizations'" value="{{info.id}}">{{info.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Medical Allergies</label>
                            <div class="col-sm-9">
                                <select ng-model="staff.medical_allergies" class="form-control" multiple="true">
                                    <option ng-repeat="info in infos" ng-if="info.type == 'Allergies'" value="{{info.id}}">{{info.name}}</option>
                                </select>
                            </div>
                        </div>

                        
                        

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Social (Behavioral)</label>
                            <div class="col-sm-9">
                                <textarea rows="2" class="form-control" ng-model="staff.social_behavioral" placeholder="Social (Behavioral) Information"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Physical (Handicaps)</label>
                            <div class="col-sm-9">
                                <textarea rows="2" class="form-control" ng-model="staff.physical_handicaps" placeholder="Physical (Handicaps) Information"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Other Medical Information</label>
                            <div class="col-sm-9">
                                <textarea rows="2" class="form-control" ng-model="staff.medicalinfo" placeholder="Medical Information"></textarea>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-3 control-label">Facebook Profile Link</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.facebook_profile" placeholder="Facebook Profile Link">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Linkedin Profile Link</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.linkedin_profile" placeholder="Linkedin Profile Link">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Twitter Profile Link</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.twitter_profile" placeholder="Twitter Profile Link">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Social Security-number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="staff.socialsecuritynumber" placeholder="Social Security-number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Emergency Contacts</label>
                            <div class="col-sm-8">
                                <textarea ng-model="staff.emergency_contacts" class="form-control ng-pristine ng-valid ng-empty ng-touched" rows="8" cols="20" style=""></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Notes</label>
                            <div class="col-sm-8">
                                <textarea ng-model="staff.notes" class="form-control ng-pristine ng-valid ng-empty ng-touched" rows="8" cols="20" style=""></textarea>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelStaffForm()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
