<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Staff</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="districtListStaffController">
    <button class="btn btn-default" ng-click="addNewStaff()">Add New Staff</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllStaff()">
        <div class="panel-heading">
            Manage Staff
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>User name</th>
                            <th>School name</th>
                            <th>Email</th>
                            <th>Image</th>
                            <th>Designation</th>
                            <th>Created On</th>
                            <th>Login</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="staffs.length > '0'">
                            <tr ng-repeat="staff in staffs">
                                <td>{{staff.first_name | capitalize}} {{staff.last_name | capitalize}}</td>
                                <td>{{staff.school_name}}</td>
                                <td>{{staff.email_id}}</td>
                                <td>
                                    <img ng-src="/upload/staffImages/{{staff.photo}}" alt="Image" height="70px" width="70px" on-error-src="/img/a0.jpg"//>
                                </td>
                                <td>{{staff.created_at | date:'MM-dd-yyyy'}}</td>
                                <td>{{staff.designation}}</td>
                                <td>
                                    <!-- <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveStaff(staff.id)">Login</button> -->
                                    <a ng-click="loginSchoolStaff(staff.id)">
                                        <b class="badge dk pull-right"></b>
                                        <i class="fa icon-login" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td ng-if="staff.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveStaff(staff.id)">Active</button>
                                </td>
                                <td ng-if="staff.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeStaff(staff.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editStaff(staff.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteStaff(staff.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
