<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">View Attendance</h1>
</div>
<div class="wrapper-md" ng-controller="parentAttendenceListController" data-ng-init="getAllStudentAttendence()" style="min-height:78vh;">

    <div class="panel panel-default">
        <div class="panel-heading">
            Attendance List
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-striped table-hover table-condensed table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Staff Name</th>
                            <th>Grade</th>
                            <th>Class</th>
                            <th>Attend Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="attendance_list.length > '0'">
                            <tr ng-repeat="attendance in attendance_list">
                                <td>{{attendance.subject_name}}</td>
                                <td>{{attendance.staff_name}}</td>
                                <td>{{attendance.grade}}</td>
                                <td>{{attendance.class_name}}</td>
                                <td>{{attendance.date | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="attendance.status == '0'">
                                    <button style="width:168px;" class="btn btn-danger" disabled="true"> Student was absent.</button>
                                </td>
                                <td ng-if="attendance.status == '1'">
                                    <button style="width:168px;" class="btn btn-success" disabled="true"> Student was present.</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
