<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Product</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="listSchoolProductController">
    <button class="btn btn-default" ng-click="addNewProduct()">Add New Product</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllSchoolProducts()">
        <div class="panel-heading">
            Manage Product
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Product Name</th>
                            <th>Image</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Discount</th>
                            <th>Created On</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="products.length > '0'">
                            <tr ng-repeat="product in products">
                                <td>{{product.name}}</td>
                                <td>{{product.product_name}}</td>
                                <td><img ng-src="/upload/productImages/{{product.product_image}}" alt="product" height="70px" width="70px" /></td>
                                <td>{{product.product_quantity}}</td>
                                <td>{{product.product_price}}</td>
                                <td>{{product.product_discount}}</td>
                                <td>{{product.created_at | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="product.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveProduct(product.id)">Active</button>
                                </td>
                                <td ng-if="product.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeProduct(product.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editProduct(product.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteProduct(product.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
