<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit School Department</h1>
</div>
<div class="wrapper-md" ng-controller="editDistrictDeptController" style="min-height:78vh;">
    <div class="row">
        <div class="col-sm-8" ng-init="getEditSchoolDept()">
            <form name="formValidate" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create School Department</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Department Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="schooldept.department_name" placeholder="Department Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select School</label>
                            <div class="col-sm-9">
                                <select ng-model="schooldept.school_id" change-to-number class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="school in schools" ng-value="{{school.id}}" value="{{school.id}}">{{school.school_name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Message</label>
                            <div class="col-sm-9">
                                <textarea rows="8" class="form-control" cols="40" ng-model="schooldept.department_description" placeholder="Message" required></textarea>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" ng-click=saveEditSchoolDept() style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelSchoolDeptEdit()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
