<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Super Admin</h1>
</div>
<div class="wrapper-md">
    <div class="row" style="min-height:74vh;">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createSuperAdmin()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Super Admin</strong>
                    </div>
                    <br>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-9">
                                <input type="hidden" name="role_id" value="25" ng-model="superadmin.role_id">
                                <input type="text" class="form-control" placeholder="First Name" name="first_name" ng-model="superadmin.first_name" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Last Name" ng-model="superadmin.last_name" name="last_name" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" placeholder="Email" ng-model="superadmin.email" name="email" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" pattern=".{6,}"   required title="minimum six character required!" class="form-control" placeholder="Enter Password" ng-model="superadmin.password" name="password" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mobile</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Mobile Number" ng-model="superadmin.mobile" name="mobile" ng-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <div class="info-section">
                                    <button ngf-select="uploadFile($file)" class="btn btn-primary" > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp;   Select Profile Image</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">User Type</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Admin" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                        <label class="col-sm-3 control-label">Gender</label>
                        <div class="radio col-sm-8">
                            <label class="i-checks">
                                <input ng-model="superadmin.gender" type="radio" name="rdoGender" ng-value="'male'">
                                <i></i>Male
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="superadmin.gender" type="radio" name="rdoGender" ng-value="'female'">
                                <i></i>Female
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="superadmin.gender" type="radio" name="rdoGender" ng-value="'other'">
                                <i></i>Other
                            </label> &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Birth Date</label>
                        <div class="col-sm-8">
                            <datepicker date-format="'yyyy-MM-dd">
                                <input type="text" placeholder="Date of Birth" data-ng-model="superadmin.birth_date" class="form-control">
                            </datepicker>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-8">
                            <textarea ng-model="superadmin.address" class="form-control" rows="8" cols="40" placeholder="Address"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">City</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="superadmin.city" class="form-control" placeholder="City">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">State</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="superadmin.state" class="form-control" placeholder="State">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Zip code</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="superadmin.zipcode" class="form-control" placeholder="Enter zip code">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Country</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="superadmin.country" class="form-control" placeholder="Country">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Height</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="superadmin.height" class="form-control" placeholder="Height">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Weight</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="superadmin.weight" class="form-control" placeholder="Weight">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Blood Group</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="superadmin.blood_group" class="form-control" placeholder="Blood Group">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Other Medical Info</label>
                        <div class="col-sm-8">
                            <textarea ng-model="superadmin.medicalinfo" class="form-control ng-pristine ng-valid ng-empty ng-touched" rows="8" cols="20" style=""></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Emergency Contacts</label>
                        <div class="col-sm-8">
                            <textarea ng-model="superadmin.emergency_contacts" class="form-control ng-pristine ng-valid ng-empty ng-touched" rows="8" cols="20" style=""></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Notes</label>
                        <div class="col-sm-8">
                            <textarea ng-model="superadmin.notes" class="form-control ng-pristine ng-valid ng-empty ng-touched" rows="8" cols="20" style=""></textarea>
                        </div>
                    </div>
                    
                        <div class="form-group">
                            <label class="col-sm-10 control-label"></label>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-success" ng-disabled='form.$invalid' style="width: 64.44px;">Save</button>
                                <button class="btn btn-default" ng-click="cancelCreateSuperAdminForm()" type="button" >Cancel</button>
                            </div>
                        </div>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
