<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Super Admin</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewSuperAdmin()">Add New Super Admin</button>
    <br>
    <br>
    <div class="panel panel-default" data-ng-init="listSuperAdmin()">
        <div class="panel-heading">
            Manage Super Admin
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Profile Image</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="superAdmins.length > '0'">
                            <tr ng-repeat="superAdmin in superAdmins">
                                <td>{{superAdmin.first_name | capitalize}} {{superAdmin. last_name | capitalize}}</td>
                                <td>{{superAdmin.email}}</td>
                                <td>{{superAdmin.mobile}}</td>
                                <td>
                                  <img ng-src="/upload/users/{{superAdmin.profile_image}}" alt="superAdmin Image" height="70px" width="70px" class="r r-2x" on-error-src="/img/a0.jpg" />
                                </td>
                                <td>{{superAdmin.created_at| date:'MM-dd-yyyy'}}</td>
                                <td ng-if="superAdmin.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveSuperAdmin(superAdmin.id)">Active</button>
                                </td>
                                <td ng-if="superAdmin.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeSuperAdmin(superAdmin.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editSuperAdmin(superAdmin.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteSuperAdmin(superAdmin.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
