<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Blog</h1>
</div>
<div class="wrapper-md" ng-controller="blogController" style="min-height:78vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit="createBlog()" class="form-horizontal form-validation" enctype="multipart/form-data">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Blog</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="blog_title" ng-model="blog_title" placeholder="Blog title" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Content</label>
                            <div class="col-sm-9">
                                <trix-editor angular-trix ng-model="blog_content" col="5" style="min-height: 190px !important;"></trix-editor>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <div class="info-section">
                                    <button ngf-select="uploadFile($file)" accept=".jpeg,.jpg,.png,image/*" ng-model="image_url" class="btn btn-primary" > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp;   Select Image</button>
                                </div>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" ng-show="saveDisable" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelBlog()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
