<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Blog</h1>
</div>
<div class="wrapper-md">
    <div class="row" style="min-height:78vh;">
        <div class="col-sm-8" ng-controller="editBlogController" ng-init="getEditBlog()">
            <form name="formValidate" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Blog</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="blog.blog_name" placeholder="Blog title" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Content</label>
                            <div class="col-sm-9">
                                <trix-editor angular-trix ng-model="blog.blog_content" col="5" style="min-height: 150px !important;"></trix-editor>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <div class="info-section">
                                    <button ngf-select="uploadFile($file)" ng-model="image_url" class="btn btn-primary" > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp;   Select Image</button>
                                     <!-- <img ng-src="/upload/blogImages/{{blog.blog_thumb_image_path}}" alt="Image" width="150px" height="150px"> -->
                                </div>
                            </div>
                        </div>


                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" ng-click="saveEditBlog()" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelBlog()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
