<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add New Blog</h1>

</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="listBlogController">
    <button class="btn btn-default" ng-click="addNewBlog()">Add New Blog</button>
    <br>
    <br>
    <div class="panel panel-default" data-ng-init="listBlog()">
        <div class="panel-heading">
            Add New Blog
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Image</th>
                            <th>Created on</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="blogs.length > '0'" ng-repeat="blog in blogs">
                            <td>{{blog.blog_name}}</td>
                            <td>
                                <img ng-src="/upload/blogImages/{{blog.image_url}}" alt="Image" height="70px" width="70px" />
                            </td>
                            <td>{{blog.created_at| date:'MM-dd-yyyy'}}</td>
                            <td ng-if="blog.status == '1'">
                                <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveBlog(blog.id)">Active</button>
                            </td>
                            <td ng-if="blog.status == '0'">
                                <button class="btn m-b-xs w-xs btn-danger" ng-click="activeBlog(blog.id)">Inactive</button>
                            </td>
                            <td>
                                <button class="btn m-b-xs w-xs btn-primary" ng-click="editBlog(blog.id)">Edit</button>
                                <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteBlog(blog.id)">Delete</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
