<div class="bg-light lter b-b wrapper-md hidden-print">
    <h1 class="m-n font-thin h3">Manage Admission Inquiry</h1>
</div>
<div class="wrapper-md" ng-init="getAllSchoolStaff()" style="min-height:78vh;">
    <button type="button" name="button" class="btn btn-default" ng-click="createAdmissionInquiry()">Create Inquiry</button>
    <div class="well m-t bg-light lt">
        <div class="row">
            <div class="col-xs-3" ng-repeat="admission in admissions" ng-if="admission.admission_status == 'false'" style="width:400px;">
                <div class="panel b-a">
                    <!-- <div class="panel-heading b-b b-light">Admission Inquiry</div> -->
                    <div collapse="isCollapsed" class="panel-body collapse in" style="min-height: auto;">
                      <a ng-click="deleteAdmission(admission.id)"><i class="fa fa-times text-danger pull-right" ></i></a>
                      <a ng-if="admission.admission_status == 'false'" ng-click="editProfile(admission.id)"><i class="glyphicon glyphicon-edit pull-right"></i>
                        <center>
                            <img ng-src="/upload/studentImages/{{admission.image}}" alt="Student Image" height="100px" width="100px" class="r r-2x" on-error-src="/img/a0.jpg" />
                            <br>
                            <strong style="margin: 0px 32px 0px 0px;">{{admission.first_name | capitalize}} {{admission. last_name | capitalize}}</strong>
                        </center>
                        <!-- <span class="badge pull-right">{{admission.inquiry_status}}</span> -->
                        <hr style="color:#ccc;height:1px;margin-top: 5px;margin-bottom: 10px;" />
                        <p style="padding-left:80px;position:relative;"><b style="position:absolute;left:0px;">Email : </b>{{admission.email}}</p>
                        <p style="padding-left:80px;position:relative;"> <b style="position:absolute;left:0px;">Phone : </b>{{admission.phone}}</p>
                        <p style="padding-left:80px;position:relative;"> <b style="position:absolute;left:0px;">Birth Date : </b>{{admission.birth_date | date:'MM-dd-yyyy'}}</p>
                        <p style="padding-left:80px;position:relative;"> <b style="position:absolute;left:0px;">Grade : </b>{{admission.grade}}</p>
                        <p style="padding-left:80px;position:relative;"> <b style="position:absolute;left:0px;">Address : </b>{{admission.address}}, <br/>{{admission.city}},{{admission.state}},{{admission.country}}</p>
                        <p style="padding-left:80px;position:relative;"> <b style="position:absolute;left:0px;">Inquiry On : </b>{{admission.created_at | date:'MM-dd-yyyy'}}</p>
                        <hr style="color:#ccc;height:1px;margin-top: 5px;margin-bottom: 5px;" />
                        <p style="margin-top:10px;">
                            <strong>Created By: <br></strong>
                            <div ng-if="admission.staff_id == null">
                          <a herf="" class="pull-left thumb-sm m-r">
                                <img ng-src="/img/a0.jpg" alt="Image" class="avatar" style="min-height: 40px;">
                            </a>
                            <div class="clear">
                                <div style="margin-top:10px;"><a href="">Admin</a></div>
                            </div>
                        </div>
                        <div ng-if="admission.staff_id != null">
                            <a herf="" class="pull-left thumb-sm m-r">
                                <img ng-src="/upload/staffImages/{{admission.photo}}" alt="Image" class="avatar" style="min-height: 40px;" on-error-src="/img/a0.jpg">
                            </a>
                            <div class="clear">
                                <div style="margin-top:10px;"><a href="">{{admission.username}}</a></div>
                            </div>
                        </div>
                            <!-- <img ng-src="/upload/staffImages/{{admission.photo}}" alt="Image" height="30px" width="30px" /> {{admission.username}}</strong> -->
                        </p>
                    </div>
                    <center>
                    <button class="btn btn-dafault" ng-if="admission.admission_status == 'true'" disabled="true">Admitted</button>
                        <!-- <button class="btn btn-primary" ng-if="admission.admission_status == 'false'" ng-click="editProfile(admission.id)">Edit</button> -->
                        <button class="btn btn-info" ng-if="admission.admission_status == 'false'" ng-click="studentProfile(admission.id)">Proceed to Addmission</button>
                        <button class="btn btn-danger" ng-click="viewFollowups(admission.id)">View/Add Follow-up Info</button>
                    </center>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
