<!-- <div class="animated fadeInRight container w-xxl w-auto-xs"  ng-controller="SigninFormController" ng-init="app.settings.container = false;">
    <a href class="navbar-brand block m-t" style="color:#ffffff;">{{app.name}}</a>
    <div class="panel panel-default">
        <div class='panel-body'>
            <div class="m-b-lg">
                <div class="wrapper text-center">
                    <strong>Sign in to start your session</strong>
                </div>
                <form name="form" class="form-validation">
                    <div class="text-danger wrapper text-center" ng-show="authError">
                        {{authError}}
                    </div>
                    <div class="list-group list-group-sm">
                        <div class="list-group-item">
                            <input type="email" placeholder="Email" class="form-control no-border" ng-model="user.email" required>
                        </div>
                        <div class="list-group-item">
                            <input type="password" placeholder="Password" class="form-control no-border" ng-model="user.password" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>Log in</button>
                    <a ui-sref="staffSignin" style="margin-top:10px;" class="list-group-item" href="/">
                        <i class="fa fa-chevron-right text-muted"></i>
                        <i class="fa fa-fw fa-sign-in m-r-xs"></i>Staff Sign in
                    </a>
                    <a ui-sref="studentSignin" style="margin-top:10px;" class="list-group-item" href="/">
                        <i class="fa fa-chevron-right text-muted"></i>
                        <i class="fa fa-fw fa-sign-in m-r-xs"></i>Student Sign in
                    </a>
                    <a ui-sref="parentSignin" style="margin-top:10px;" class="list-group-item" href="/">
                        <i class="fa fa-chevron-right text-muted"></i>
                        <i class="fa fa-fw fa-sign-in m-r-xs"></i>Parent Sign in
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    Loading(false);
</script> -->