<!-- <h2>Image Album</h2>
<hr>
<div class="" style="min-height:72vh;" data-ng-init="viewAlbum()">
    <br>
    <div class="m-b">
        <button ngf-select="uploadFile($file)" ng-model="image_name">Add New Image</button>
    </div>
    <div class="inline bg-white wrapper-sm b-a" ng-repeat="image in galleryImages">
        <a href="#">
            <img ng-src="/upload/galleryImages/{{image.image_name}}" class="img-responsive" height="350px" width="350px">
        </a>
        <a href="#" class="pull-right" ng-click="deleteImage(image.id)">Remove</a>
    </div>
</div> -->
