<span class="pull-right">1.0.0 <a href="#app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span> &copy; 2017 Copyright.

<script type="text/javascript">
	Loading(false);
</script>