<div class="app-header navbar">
    <!-- navbar header logo-->
    <div class="navbar-header bg-danger">
        <button class="pull-right visible-xs dk" data-toggle="class:show" data-target=".navbar-collapse">
            <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" data-toggle="class:off-screen" data-target=".app-aside" ui-scroll="app">
            <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt">
            <!-- <i class="fa fa-btc"></i>-->
            <img src="/img/logo.png" alt="." class="hide">
            <span class="thumb avatar img-circle"><img src="/img/1472530977_tmp_Socrates_Logo.jpg"> &nbsp;Thunder</span>
        </a>
        <!-- / brand -->
    </div>
    <!-- / navbar header logo-->
    
    <!-- navbar collapse -->
    <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
            <a href="#" class="btn no-shadow navbar-btn" data-toggle="class:app-aside-folded" data-target=".app">
                <i class="fa fa-dedent fa-fw text"></i>
                <i class="fa fa-indent fa-fw text-active"></i>
            </a>
        </div>
        <!-- / buttons -->
        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right" ng-controller="headerController">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle clear" data-toggle="dropdown">
                    <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
            <!-- <img src="img/a0.jpg" alt="..."> -->
            <img ng-src="/upload/users/{{user.profile_image}}" alt="superAdmin Image" height="70px" width="70px" class="r r-2x" on-error-src="/img/a0.jpg" style="height: 41px!important; max-width: 100%!important" />
            <div class="">
                {{}}
            </div>
            <i class="on md b-white bottom"></i>
          </span>
                    <span class="hidden-sm hidden-md">Welcome&nbsp;{{user.first_name | capitalize}} {{user. last_name | capitalize}}</span> <b class="caret"></b>
                </a>
                <!-- dropdown -->
                <ul class="dropdown-menu animated fadeInRight w" style="width:230px;">
                    <li>
                        <a ui-sref="users.changepassword">
                            <span class="badge bg-danger pull-right"></span>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="userProfile(user.id)">Profile</a>
                    </li>
                    <!-- <li>
                        <a ui-sref="app.docs">
                            <span class="label bg-info pull-right">new</span> Help
                        </a>
                    </li> -->
                    <li class="divider"></li>
                    <li>
                        <a ui-sref="signout">Logout</a>
                    </li>
                </ul>
                <!-- / dropdown -->
            </li>
        </ul>
        <!-- / navbar right -->

    </div>
    <!-- / navbar collapse -->
</div>
<toaster-container></toaster-container>
