<!-- nav -->
<nav ng-if= ui-nav class="navi" ng-include="'/partials/superAdmin/navbar.html'"></nav>
<!-- <nav ui-nav class="navi" ng-include="'/partials/superSchoolAdmin/navbar.html'"></nav> -->
<!-- <nav ui-nav class="navi" ng-include="'/partials/students/navbar.html'"></nav> -->
<!-- <nav ui-nav class="navi" ng-include="'/partials/parents/navbar.html'"></nav> -->
<!-- <nav ui-nav class="navi" ng-include="'/partials/staff/navbar.html'"></nav> -->
<!-- <nav ui-nav class="navi" ng-include="'/partials/schoolSubAdmin/navbar.html'"></nav> -->
<!-- / nav -->
