<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Source</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit="createSource()" class="form-horizontal form-validation" enctype="multipart/form-data">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Source</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="source.source_title" placeholder="Souce title" required>
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelSource()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
