<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Source</h1>
</div>
<div class="wrapper-md" ng-init="getEditSource()">
    <div class="row" style="min-height:71vh;">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit='saveEditSource()' class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Source</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="source.source_title" placeholder="Source title" required>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" value="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelSource()" type="button" >Cancel</button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
