<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Source</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewSource()">Add New Source</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="listSource()">
        <div class="panel-heading">
            Manage Source
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>School Name</th>
                            <th>Title</th>
                            <th>Created on</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div class="" ng-if="sources.length > 0">
                            <tr ng-repeat="source in sources">
                                <td>{{source.school_name}}</td>
                                <td>{{source.source_title}}</td>
                                <td>{{source.created_at| date:'MM-dd-yyyy'}}</td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editSource(source.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteSource(source.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
