<div class="bg-light lter b-b wrapper-md">
    <button class="btn btn-default pull-right" ng-click="listBooks()">&nbsp;List Books</button>
    <h1 class="m-n font-thin h3">BookStore</h1>
</div>
<div class="PDFJS" style="width:100%;min-height:78vh;height:100px" ng-init="getEditBook()">
    <div class='some-pdf-container' style="width: 100%;height: 100%;">
        <pdfjs-viewer src="{{book}}" scale="scale" download="false" print="false" open="false" on-init="onInit()" on-page-load="onPageLoad(page)"></pdfjs-viewer>
    </div>
</div>
