<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Time-Table</h1>
</div>
<div class="wrapper-md" ng-controller="createSchoolTimeTableController" style="min-height:76vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit="createTimeTable()" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Time-Table</strong>
                    </div>
                    <div class="panel-body" ng-init="">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Grade</label>
                            <div class="col-sm-9">
                                <select ng-model="timeTable.grade_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Subject</label>
                            <div class="col-sm-9">
                                <select ng-model="timeTable.subject_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="subject in subjects" value="{{subject.id}}">{{subject.subject_name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Class</label>
                            <div class="col-sm-9">
                                <select ng-model="timeTable.class_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="class in classes" value="{{class.id}}">{{class.class_name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Day</label>
                            <div class="col-sm-9">
                                <select ng-model="timeTable.day" class="form-control">
                                  <option value="" selected="selected">Please Select</option>
                                  <option value="Monday">Monday</option>
                                  <option value="Tuesday">Tuesday</option>
                                  <option value="Wednesday">Wednesday</option>
                                  <option value="Thursday">Thursday</option>
                                  <option value="Friday">Friday</option>
                                  <option value="Saturday">Saturday</option>
                                  <option value="Sunday">Sunday</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Start Time</label>
                            <div class="col-sm-9">
                                <input type="text" name="startTime" ng-model="timeTable.startTime">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">End Time</label>
                            <div class="col-sm-9">
                                <input type="text" name="endTime" ng-model="timeTable.endTime">
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelTimeTableForm()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
