<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage TimeTable</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="listTimeTableController">
    <button class="btn btn-default" ng-click="addNewTimeTable()">Add New TimeTable</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="">
        <div class="panel-heading">
            Time-table
        </div>
        <div>
            <div class="table-responsive">
                <!-- <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="timeTables.length > 0">
                            <tr ng-repeat="class in timeTables">
                                <td>{{class.school_name}}</td>
                                <td>{{class.class_name}}</td>
                                <td>{{class.user_name}}</td>
                                <td>{{class.department_name}}</td>
                                <td>{{class.message}}</td>
                                <td>{{class.created_at | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="class.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveClass(class.id)">Active</button>
                                </td>
                                <td ng-if="class.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeClass(class.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editClass(class.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteClass(class.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table> -->
            </div>
        </div>
    </div>
</div>
</div>
