<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add New Assignment</h1>
</div>
<div class="wrapper-md" style="min-height:100vh;" ng-init="getSchoolGrades()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createAssignments()" enctype="multipart/form-data">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Add New Assignment</strong>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Grade</label>
                        <div class="col-sm-8">
                            <select ng-model="assignment.grade_id" class="form-control" ng-change="getSubject(assignment.grade_id);" required="true">
                                <option value="">Please Select</option>
                                <option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Subjects</label>
                        <div class="col-sm-8">
                            <select ng-model="assignment.subject_id" class="form-control" required="true" ng-change="getClassSubjectWise(assignment.subject_id);">
                                <option value="">Please Select</option>
                                <option ng-repeat="subject in subjects" value="{{subject.id}}">{{subject.subject_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Class</label>
                        <div class="col-sm-8">
                            <select ng-model="assignment.class_id" class="form-control" required="true">
                                <option value="">Please Select</option>
                                <option ng-repeat="class in classes" value="{{class.id}}">{{class.class_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Title</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="assignment.title" placeholder="Enter File title" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" ng-model="assignment.description" placeholder="Enter File description" required rows="8" cols="40"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select </label>
                        <div class="col-sm-8">
                            <button ngf-select="uploadFile($file)" ng-model="assignment.file" class="btn btn-primary"> <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp; Add New File</button>
                          <!-- <button type="button" name="button" ngf-select="uploadFile($file)" ng-model="assignment.file" class="btn btn-primary" accept=" application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"><span class="glyphicon glyphicon-upload" aria-hidden="true" ></span> &nbsp; Add New File</button> -->
                            <!--  -->
                            <label ng-if="!assignment.file" style="color:red;">No File Uploaded</label>
                            <label ng-if="assignment.file" style="color:green;">File Uploaded</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Due Date</label>
                        <div class="col-sm-8">
                            <datepicker date-format="'yyyy-MM-dd">
                                <input type="text" placeholder="Enter Date" data-ng-model="assignment.due_date" class="form-control" required="true">
                            </datepicker>
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                        <button class="btn btn-default" ng-click="listAssignments()" type="button">Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
