<div style="min-height:85vh;" ng-init="getStudentsAssignment()">
    <button class="btn btn-default" ng-click="listAssignment()">List Student Assignment</button>
    <div class="row">
        <div class="wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Students List
                </div>
                <div>
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>Uploaded Assignment</th>
                                    <th>Achieved Grade</th>
                                    <th>Status</th>
                                    <th>Last Updated On</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div ng-if="assignment_report_lists.length > '0'">
                                    <tr ng-repeat="assignment_report_list in assignment_report_lists">
                                        <td>{{assignment_report_list.student_name}}</td>
                                        <td ng-if="assignment_report_list.file_path === null">
                                          Assignment not uploaded!
                                        </td>
                                        <td ng-if="assignment_report_list.file_path !== null">
                                          <button class="btn btn-default" ng-click="DownloadStudentAssignment(assignment_report_list)"><i class="glyphicon glyphicon-download-alt"></i>&nbsp; Download</button>
                                          </td>
                                        <td>
                                          <input type="text" ng-if="assignment_report_list.status == '1'" readonly="true" ng-model="assignment_report_list.achieved_grade" value="{{assignment_report_list.achieved_grade}}" class="form-control" style="width:150px; float: left; margin-right: 15px;" >
                                          <input type="text" ng-if="assignment_report_list.status == '0'" ng-model="assignment_report_list.achieved_grade" value="{{assignment_report_list.achieved_grade}}" class="form-control" style="width:150px; float: left; margin-right: 15px;" >
                                          <button type="button" name="button" ng-click="updateStudentGrades(assignment_report_list)" class="btn btn-primary">update</button>
                                        </td>

                                        <td ng-if="assignment_report_list.status == '0'">
                                            <button class="btn btn-danger" ng-click="studentCompletedAssignment(assignment_report_list.id)" style="width:109px;!important"><i class="glyphicon glyphicon-remove"></i>&nbsp;In Complete</button>
                                        </td>
                                        <td ng-if="assignment_report_list.status == '1'">
                                            <button class="btn btn-success" ng-click="studentInCompletedAssignment(assignment_report_list.id)" style="width:109px;!important"><i class="glyphicon glyphicon-ok"></i>&nbsp;Complete</button>
                                        </td>
                                        <td>{{assignment_report_list.modified_at | date:'MM-dd-yyyy'}}</td>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
