<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Assignments</h1>
</div>
<div class="wrapper-md" style="min-height:80vh;">
    <button class="btn btn-default" ng-click="addNewAssignment()">Add New Assignment</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllAssignments()">
        <div class="panel-heading">
            Manage Assignments
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Staff Name</th>
                            <th>Grade</th>
                            <th>Class Name</th>
                            <th>Subject</th>
                            <th>Given Date</th>
                            <th>Due Date</th>
                            <th>Download File</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="assignments.length > '0'">
                            <tr ng-repeat="assignment in assignments">
                                <td>{{assignment.staff_name}}</td>
                                <td>{{assignment.grade}}</td>
                                <td>{{assignment.class_name}}</td>
                                <td>{{assignment.subject_name}}</td>
                                <td>{{assignment.created_at | date:'MM-dd-yyyy'}}</td>
                                <td>{{assignment.due_date | date:'MM-dd-yyyy'}}</td>
                                <td>
                                    <button class="btn btn-default" ng-click="downloadAssignment(assignment)" style="width:100px;"><i class="glyphicon glyphicon-download-alt"></i>&nbsp;Download</button>&nbsp;&nbsp;<b>{{assignment.title}}</b>
                                </td>
                                <td>
                                    <button class="btn btn-primary" ng-click="assignmentReport(assignment.id)"><i class="glyphicon glyphicon-book"></i>&nbsp;Assignment Report</button>
                                    <button class="btn btn-primary" ng-click="editAssignment(assignment.id)"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit</button>
                                    <button class="btn btn-danger" ng-click="deleteAssignment(assignment.id)"><i class="glyphicon glyphicon-remove"></i>&nbsp;Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
