<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Events</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <div class="panel panel-default" ng-init="listEvents()">
        <div class="panel-heading">
            Events
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Event name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Address</th>
                            <th>School Name</th>
                            <th>Gallery Title</th>
                            <th>View</th>
                            <th>Action</th>
                            <!-- <th>Reg</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="events.length > '0'">
                            <tr ng-repeat="event in events">
                                <td>{{event.title}}</td>
                                <td>{{event.start_date | date:'MM-dd-yyyy'}}</td>
                                <td>{{event.end_date | date:'MM-dd-yyyy'}}</td>
                                <td>{{event.address}}</td>
                                <td>{{event.school_name}}</td>
                                <td>{{event.gallery_title}}</td>
                                <td>
                                    <button class="btn btn-primary" ng-click="ViewGallery(event.gallery_id)"><i class="fa fa-eye"></i>&nbsp;View Gallery</button>
                                </td>
                                <td ng-if="event.student_status == '1'">
                                  <button class="btn btn-default" disabled="true">&nbsp;Already Registered</button>
                                </td>
                                <td ng-if="!event.student_status">
                                  <button class="btn btn-default" ng-click="studentRegistration(event)">&nbsp;Register Me</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
