<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage E-mails</h1>
</div>
<div class="wrapper-md" ng-controller="viewParentProfileController as tab" style="min-height:78vh;">
    <ul class="nav nav-pills">
        <li ng-class="{active:tab.isSet(1)}"><a href ng-click="tab.setTab(1)">Mail to Staff</a>
        </li>
        <li ng-class="{active:tab.isSet(2)}"><a href ng-click="tab.setTab(2)">Mail to Students</a>
        </li>
        <li ng-class="{active:tab.isSet(3)}"><a href ng-click="tab.setTab(3)">Mail to Parents</a>
        </li>
        <li ng-class="{active:tab.isSet(4)}"><a href ng-click="tab.setTab(4)">E-mail List</a>
        </li>
    </ul>
    <div ng-show="tab.isSet(1)">
        <br>
        <div class="wrapper" ng-controller="getStaffEmailsListController" ng-init="listStaff()">
            <form name="newMail" class="form-horizontal m-t-lg" ng-submit="sendEmailToStaff()">
                <input type="hidden" name="name" value="staff" ng-model="staffMail.to_usertype">
                <div class="form-group">
                    <label class="col-lg-2 control-label">To:</label>
                    <div class="col-lg-8">
                        <tags-input ng-model="staffMail.tags" placeholder="Add Emails" replace-spaces-with-dashes="false" add-from-autocomplete-only="true">
                            <auto-complete source="loadStaffs($query)" min-length="0" debounce-delay="0"></auto-complete>
                        </tags-input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Subject:</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="staffMail.subject" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Content:</label>
                    <div class="col-sm-8">
                        <trix-editor angular-trix ng-model="staffMail.content" id="copyTarget_staff" class="form-control" col="5" style="min-height: 190px !important;"></trix-editor>
                        <button type="button" class="pull-right btn btn-primary" id="copyButton_staff">Copy Content</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-2">
                        <button class="btn btn-info w-xs">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-show="tab.isSet(2)">
        <br>
        <div class="wrapper" ng-controller="getStudentEmailsListController" ng-init="listStudent()">
            <form name="newMail" class="form-horizontal m-t-lg" ng-submit="sendStudentEmail()">
                <input type="hidden" name="name" value="student" ng-model="mail.to_usertype">
                <div class="form-group">
                    <label class="col-lg-2 control-label">To:</label>
                    <div class="col-lg-8">
                        <tags-input ng-model="studentMail.tags" placeholder="Add Emails" replace-spaces-with-dashes="false" add-from-autocomplete-only="true">
                            <auto-complete source="loadTags($query)" min-length="0" debounce-delay="0"></auto-complete>
                        </tags-input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Subject:</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="studentMail.subject">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Content:</label>
                    <div class="col-sm-8">
                        <trix-editor angular-trix ng-model="studentMail.content" id="copyTarget_student" class="form-control" col="5" style="min-height: 190px !important;"></trix-editor>
                        <button type="button" class="pull-right btn btn-primary" id="copyButton_student">Copy Content</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-2">
                        <button class="btn btn-info w-xs">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-show="tab.isSet(3)">
        <br>
        <div class="wrapper" ng-controller="getParentEmailsListController" ng-init="listParents()">
            <form name="newMail" class="form-horizontal m-t-lg" ng-submit="sendParentsEmail()">
                <input type="hidden" name="name" value="student" ng-model="mail.to_usertype">
                <div class="form-group">
                    <label class="col-lg-2 control-label">To:</label>
                    <div class="col-lg-8">
                        <tags-input ng-model="parentMail.tags" placeholder="Add Emails" replace-spaces-with-dashes="false" add-from-autocomplete-only="true">
                            <auto-complete source="loadParent($query)" min-length="0" debounce-delay="0"></auto-complete>
                        </tags-input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Subject:</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="parentMail.subject">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Content:</label>
                    <div class="col-sm-8">
                        <trix-editor angular-trix ng-model="parentMail.content" id="copyTarget_parent" class="form-control" col="5" style="min-height: 190px !important;"></trix-editor>
                        <button type="button" class="pull-right btn btn-primary" id="copyButton_parent">Copy Content</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-2">
                        <button class="btn btn-info w-xs">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-show="tab.isSet(4)">
        <div class="wrapper-md" ng-controller="emailSubListController as tab_sub">
            <div class="wrapper-md" ng-controller="parentAllSentReceiveEmailListController" data-ng-init="ParentAllSentReceiveEmailList()">
                <ul class="nav nav-pills">
                    <li ng-class="{active:tab_sub.isSet_sub(1)}"><a href ng-click="tab_sub.setTab_sub(1)">Sent List</a>
                    </li>
                    <li ng-class="{active:tab_sub.isSet_sub(2)}"><a href ng-click="tab_sub.setTab_sub(2)">Received List</a>
                    </li>
                </ul>
                <div ng-show="tab_sub.isSet_sub(1)">
                    <div class="wrapper-md">
                        <div class="table-responsive">
                            <table datatable="ng" class="table table-bordered table-striped table-hover table-condensed table-striped m-b-none">
                                <thead>
                                    <tr>
                                        <th style="width:10%;">Email From</th>
                                        <th style="width:40%;">Emails To</th>
                                        <th style="width:10%;">Subject</th>
                                        <th style="width:10%;">Content</th>
                                        <th style="width:10%;">Sent Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div ng-if="events.length > '0'">
                                        <tr ng-repeat="email in email_lists">
                                            <td>{{email.email_from}}</td>
                                            <td style="word-wrap: break-word;word-break: break-all;">{{email.email_to}}</td>
                                            <td>{{email.subject}}</td>
                                            <td ng-bind-html="email.content"></td>
                                            <td>{{email.created_at | date:'MM-dd-yyyy'}}</td>
                                        </tr>
                                    </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
             <div ng-show="tab_sub.isSet_sub(2)">
                    <div class="wrapper-md">
                        <div class="table-responsive">
                            <table datatable="ng" class="table table-bordered table-striped table-hover table-condensed table-striped m-b-none">
                                <thead>
                                    <tr>
                                        <th style="width:10%;">Email From</th>
                                        <th style="width:40%;">Emails To</th>
                                        <th style="width:10%;">Subject</th>
                                        <th style="width:10%;">Content</th>
                                        <th style="width:10%;">Sent Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div ng-if="events.length > '0'">
                                        <tr ng-repeat="email in email_received_lists">
                                            <td>{{email.email_from}}</td>
                                            <td style="word-wrap: break-word;word-break: break-all;">{{email.email_to}}</td>
                                            <td>{{email.subject}}</td>
                                            <td ng-bind-html="email.content"></td>
                                            <td>{{email.created_at | date:'MM-dd-yyyy'}}</td>
                                        </tr>
                                    </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementById("copyButton_staff").addEventListener("click", function() {
        copyToClipboard(document.getElementById("copyTarget_staff"));
    });
    document.getElementById("copyButton_student").addEventListener("click", function() {
        copyToClipboard(document.getElementById("copyTarget_student"));
    });
    document.getElementById("copyButton_parent").addEventListener("click", function() {
        copyToClipboard(document.getElementById("copyTarget_parent"));
    });

    function copyToClipboard(elem) {
        // create hidden text element, if it doesn't already exist
        var targetId = "_hiddenCopyText_";
        var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
        var origSelectionStart, origSelectionEnd;
        if (isInput) {
            // can just use the original source element for the selection and copy
            target = elem;
            origSelectionStart = elem.selectionStart;
            origSelectionEnd = elem.selectionEnd;
        } else {
            // must use a temporary form element for the selection and copy
            target = document.getElementById(targetId);
            if (!target) {
                var target = document.createElement("textarea");
                target.style.position = "absolute";
                target.style.left = "-9999px";
                target.style.top = "0";
                target.id = targetId;
                document.body.appendChild(target);
            }
            target.textContent = elem.textContent;
        }
        // select the content
        var currentFocus = document.activeElement;
        target.focus();
        target.setSelectionRange(0, target.value.length);

        // copy the selection
        var succeed;
        try {
            succeed = document.execCommand("copy");
        } catch (e) {
            succeed = false;
        }
        // restore original focus
        if (currentFocus && typeof currentFocus.focus === "function") {
            currentFocus.focus();
        }

        if (isInput) {
            // restore prior selection
            elem.setSelectionRange(origSelectionStart, origSelectionEnd);
        } else {
            // clear temporary content
            target.textContent = "";
        }
        return succeed;
    }
</script>
