<div class="app-content-body fade-in-up ng-scope" ui-view=""><!-- uiView:  --><div ui-view="" class="fade-in-up ng-scope"><div class="bg-light lter b-b wrapper-md ng-scope">
  <a></a>
  <a ui-sref="users.dashboard" style="margin-top:10px;" >
     <h1 class="m-n font-thin h3">Thunder System</h1>
  </a>
</div>
<div class="wrapper-md ng-scope" ng-init="getBlogs()" ng-controller="liveBlogController">
  
  <div class="row" ng-repeat="blog in blogs">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="panel b-a">
        <div class="panel-heading no-border bg-primary">          
          <span class="text-u-c h3 m-b-sm text-primary-lter ng-binding">{{blog.blog_name}}</span>
        </div>
        <div class="item m-l-n-xxs m-r-n-xxs">
          <div ng-init="x = 3" class="top text-right padder m-t-xs w-full">
            <span ng-mouseleave="reset()" ng-keydown="onKeydown($event)" tabindex="0" role="slider" aria-valuemin="0" aria-valuemax="5" aria-valuenow="3" ng-model="x" max="5" state-on="'fa fa-star text-white'" state-off="'fa fa-star-o text-white'" class="ng-isolate-scope ng-valid" aria-invalid="false">
    <!-- ngRepeat: r in range track by $index --><i ng-repeat="r in range track by $index" ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon ng-scope fa fa-star text-white" ng-class="$index < value &amp;&amp; (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')" role="button" tabindex="0">
        <span class="sr-only ng-binding">(*)</span>
    </i><!-- end ngRepeat: r in range track by $index --><i ng-repeat="r in range track by $index" ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon ng-scope fa fa-star text-white" ng-class="$index < value &amp;&amp; (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')" role="button" tabindex="0">
        <span class="sr-only ng-binding">(*)</span>
    </i><!-- end ngRepeat: r in range track by $index --><i ng-repeat="r in range track by $index" ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon ng-scope fa fa-star text-white" ng-class="$index < value &amp;&amp; (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')" role="button" tabindex="0">
        <span class="sr-only ng-binding">(*)</span>
    </i><!-- end ngRepeat: r in range track by $index --><i ng-repeat="r in range track by $index" ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon ng-scope fa fa-star-o text-white" ng-class="$index < value &amp;&amp; (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')" role="button" tabindex="0">
        <span class="sr-only ng-binding">( )</span>
    </i><!-- end ngRepeat: r in range track by $index --><i ng-repeat="r in range track by $index" ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon ng-scope fa fa-star-o text-white" ng-class="$index < value &amp;&amp; (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')" role="button" tabindex="0">
        <span class="sr-only ng-binding">( )</span>
    </i><!-- end ngRepeat: r in range track by $index -->
</span>
          </div>
          <div class="center text-center w-full" style="margin-top:-60px">
            <div ui-jq="easyPieChart" ui-refresh="x" ui-options="{
                percent: 45,
                lineWidth: 60,
                trackColor: 'rgba(255,255,255,0)',
                barColor: 'rgba(35,183,229,0.7)',
                scaleColor: false,
                size: 120,
                lineCap: 'butt',
                rotate: 0,
                animate: 1000
              }" class="inline easyPieChart" style="width: 120px; height: 120px; line-height: 120px;">
            <canvas width="120" height="120"></canvas></div>
          </div>
          <div class="bottom wrapper bg-gd-dk text-white">            
            <div class="text-lt">Published Date:</div>
            <div>{{blog.created_at | date:"yyyy-mm-dd"}}</div>
          </div>
          <img ng-src="/upload/blogImages/{{blog.image_url}}" class="img-full"/>
        </div>
        <div class="hbox text-center b-b b-light text-sm">          
          <a href="" class="col padder-v text-muted b-r b-light">
            <i class="fa fa-info fa-2x"></i>
            <span style="font-size:20px;" ng-bind-html="blog.blog_content"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
</div></div>
<script type="text/javascript">
    Loading(false);
</script>