<div class="animated fadeInRight  container w-xl w-auto-xs" ng-init="app.settings.container = false;">
    <a href class="navbar-brand block m-t" style="color:#ffffff;">{{app.name}}</a>
    <div class="panel panel-default">
        <div class='panel-body'>
            <div class="m-b-lg">
                <div class="wrapper text-center">
                    <strong>Reset your password</strong>
                </div>
                <form ng-init="isCollapsed=true" ng-submit="forgotPassword()">
                  <div class="text-danger wrapper text-center" ng-show="authError">
                      {{authError}}
                  </div>
                  <div class="text-success wrapper text-center" ng-show="authSuccess">
                      {{authSuccess}}
                  </div>
                    <div class="list-group list-group-sm">
                        <div class="form-group">
                            <label><b>Are you ?</b></label>
                            <select class="form-control" ng-model="fgtpwd.type" required>
                                      <option value="">Please Select</option>
                                      <option value="users">Admin</option>
                                      <option value="staff">Staff</option>
                                      <option value="admissions">Student</option>
                                      <option value="parents">Parent</option>
                            </select>
                        </div>
                        <div class="list-group-item">
                            <input type="email" placeholder="Enter your email" ng-model="fgtpwd.email" class="form-control no-border" required>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="reset.$invalid" class="btn btn-lg btn-primary btn-block" ng-click="isCollapsed = !isCollapsed">Send Reset Link</button>
                </form>
                <div collapse="isCollapsed" class="m-t">
                    <a ui-sref="signin" class="btn btn-lg btn-primary btn-block">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    Loading(false);
</script>
