<div class="animated fadeInRight  container w-xl w-auto-xs" ng-init="app.settings.container = false;">
    <a href class="navbar-brand block m-t" style="color:#ffffff;">{{app.name}}</a>
    <div class="panel panel-default">
        <div class='panel-body'>
            <div class="m-b-lg">
                <div class="wrapper text-center">
                    <strong>Reset your password</strong>
                </div>
                <form name="resetPasswordForm" ng-submit="resetPassword()" ng-controller="resetPasswordController">
                    <div class="text-danger wrapper text-center" ng-show="authError">
                        {{authError}}
                    </div>
                    <div class="text-success wrapper text-center" ng-show="authSuccess">
                        {{authSuccess}}
                    </div>
                    <div class="list-group list-group-sm">
                        <div class="list-group-item">
                              <input type="password" placeholder="Enter new Password" ng-model="resetpwd.new_password" class="form-control no-border" required>
                        </div>
                        <div class="list-group-item">
                            <input type="password" placeholder="Enter confirm Password" ng-model="resetpwd.confirm_new_password" class="form-control no-border" required>
                        </div>
                    </div>
                    <button type="submit" value="submit" class="btn btn-lg btn-primary btn-block">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    Loading(false);
</script>
