<div class="container w-xxl w-auto-xs animated fadeInRight " ng-controller="SignupFormController" ng-init="app.settings.container = false;">
    <a href class="navbar-brand block m-t">{{app.name}}</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Sign up to find interesting thing</strong>
        </div>
        <form name="form" class="form-validation">
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input placeholder="First name" class="form-control no-border" ng-model="user.first_name" required>
                </div>
                <div class="list-group-item">
                    <input placeholder="Last name" class="form-control no-border" ng-model="user.last_name" required>
                </div>
                <div class="list-group-item">
                    <input type="email" placeholder="Email" class="form-control no-border" ng-model="user.email" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Password" class="form-control no-border"  pattern=".{6,}"   required title="6 characters minimum"  ng-model="user.password" required>
                </div>
                <input type="hidden" ng-model="role_id">
                <div class="list-group-item">
                    <label class="i-checks">
                        <input type="checkbox" ng-model="admin" name="admin" value="admin" required><i></i>Admin
                    </label>
                </div>
            </div>
            <div class="checkbox m-b-md m-t-none">
                <label class="i-checks">
                    <input type="checkbox" ng-model="agree" required><i></i> Agree the <a href>terms and policy</a>
                </label>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signup()" ng-disabled='form.$invalid'>Sign up</button>
            <div class="line line-dashed"></div>
            <p class="text-center"><small>Already have an account?</small></p>
            <a ui-sref="signin" class="btn btn-lg btn-default btn-block">Sign in</a>
        </form>
    </div>
</div>
<script type="text/javascript">
    Loading(false);
</script>
