<div class="animated fadeInRight container w-xxl w-auto-xs" ng-init="app.settings.container = false;" ng-controller="studentSigninFormController">
    <a href class="navbar-brand block m-t" style="color:#ffffff;">{{app.name}}</a>
    <div class="panel panel-default">
        <div class='panel-body'>
            <div class="m-b-lg">

                <div class="wrapper text-center">
                    <strong>Student Sign in</strong>
                </div>
                <form name="form" class="form-validation" ng-submit="studentLogin()">
                    <div class="text-danger wrapper text-center" ng-show="authError">
                        {{authError}}
                    </div>
                    <div class="list-group list-group-sm">
                        <div class="list-group-item">
                            <input type="email" placeholder="Enter Email" class="form-control no-border" ng-model="student.email" required>
                        </div>
                        <div class="list-group-item">
                            <input type="password" placeholder="Enter Password"  class="form-control no-border" ng-model="student.password" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled='form.$invalid'>Log in</button>
                    <a ui-sref="forgotpwd" style="margin-top:10px;" class="list-group-item " href="/">
                        <i class="fa fa-key "></i>&nbsp;&nbsp;Forgot Password ?
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    Loading(false);
</script>
