<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">My Schedule</h1>
</div>
<br>
<style type="text/css">
        .mymousehower:hover { background-color: #98d0a6; }
        .panel-heading:hover { background-color: #98d0a6; }
</style>
<br>
<br>
<div class="" style="min-height:78vh;" ng-controller="myScheduleListStaffController" ng-init="getAllMyScheduleList()">
    <div class="panel panel-default col-md-4 mymousehower" >
        <div class="panel-heading">
            <h2>Monday</h2>
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Grade / Subject / Class</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="staffs.length > 0">
                            <tr ng-repeat="mySchedule in mySchedules | filter:'Monday'">
                                <td>{{mySchedule.grade}} / {{mySchedule.subject_name}} / {{mySchedule.class_name}}</td>
                                <td>{{mySchedule.start_time}}</td>
                                <td>{{mySchedule.end_time}}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default col-md-4 mymousehower" >
        <div class="panel-heading">
            <h2>Tuesday</h2>
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Grade / Subject / Class</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="staffs.length > 0">
                            <tr ng-repeat="mySchedule in mySchedules | filter:'Tuesday'">
                                <td>{{mySchedule.grade}} / {{mySchedule.subject_name}} / {{mySchedule.class_name}}</td>
                                <td>{{mySchedule.start_time}}</td>
                                <td>{{mySchedule.end_time}}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default col-md-4 mymousehower" >
        <div class="panel-heading">
            <h2>Wednesday</h2>
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Grade / Subject / Class</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="staffs.length > 0">
                            <tr ng-repeat="mySchedule in mySchedules | filter:'Wednesday'">
                                <td>{{mySchedule.grade}} / {{mySchedule.subject_name}} / {{mySchedule.class_name}}</td>
                                <td>{{mySchedule.start_time}}</td>
                                <td>{{mySchedule.end_time}}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12"></div>
    <div class="panel panel-default col-md-4 mymousehower" >
        <div class="panel-heading">
            <h2>Thursday</h2>
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Grade / Subject / Class</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="staffs.length > 0">
                            <tr ng-repeat="mySchedule in mySchedules | filter:'Thursday'">
                                <td>{{mySchedule.grade}} / {{mySchedule.subject_name}} / {{mySchedule.class_name}}</td>
                                <td>{{mySchedule.start_time}}</td>
                                <td>{{mySchedule.end_time}}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default col-md-4 mymousehower" >
        <div class="panel-heading">
            <h2>Friday</h2>
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Grade / Subject / Class</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="staffs.length > 0">
                            <tr ng-repeat="mySchedule in mySchedules | filter:'Friday'">
                                <td>{{mySchedule.grade}} / {{mySchedule.subject_name}} / {{mySchedule.class_name}}</td>
                                <td>{{mySchedule.start_time}}</td>
                                <td>{{mySchedule.end_time}}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default col-md-4 mymousehower" >
        <div class="panel-heading">
            <h2>Saturday</h2>
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Grade / Subject / Class</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="staffs.length > 0">
                            <tr ng-repeat="mySchedule in mySchedules | filter:'Saturday'">
                                <td>{{mySchedule.grade}} / {{mySchedule.subject_name}} / {{mySchedule.class_name}}</td>
                                <td>{{mySchedule.start_time}}</td>
                                <td>{{mySchedule.end_time}}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default col-md-4 mymousehower" >
        <div class="panel-heading">
            <h2>Sunday</h2>
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Grade / Subject / Class</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="staffs.length > 0">
                            <tr ng-repeat="mySchedule in mySchedules | filter:'Sunday'">
                                <td>{{mySchedule.grade}} / {{mySchedule.subject_name}} / {{mySchedule.class_name}}</td>
                                <td>{{mySchedule.start_time}}</td>
                                <td>{{mySchedule.end_time}}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
