<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Materials</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewMaterial()">Add New Material</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllMaterials()">
        <div class="panel-heading">
            Manage Materials
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>School Name</th>
                            <th>Grade</th>
                            <th>Material Title</th>
                            <th>Description</th>
                            <th>Download Material</th>
                            <th>Due Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="materials.length > '0'">
                            <tr ng-repeat="material in materials">
                                <td>{{material.school_name}}</td>
                                <td>{{material.grade}}</td>
                                <td>{{material.title}}</td>
                                <td>{{material.description}}</td>
                                <td>
                                  <button class="btn btn-default" ng-click="DownloadMaterial(material)"><i class="glyphicon glyphicon-download-alt"></i>&nbsp;Download</button>
                                </td>
                                <td>{{material.due_date | date:'MM-dd-yyyy'}}</td>
                                <td>
                                    <button class="btn btn-primary" ng-click="editMaterial(material.id)"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit</button>
                                    <button class="btn btn-danger" ng-click="deleteMaterials(material.id)"><i class="glyphicon glyphicon-remove"></i>&nbsp;Delete</button>

                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
