<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">To-Dos</h1>
</div>
<div class="wrapper-md" ng-controller="studentTodoListController" data-ng-init="getAllMyTodos()" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewTodoRedirect()">Add To-Do</button>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            To-Dos List
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-striped table-hover table-condensed table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>To-Do Date</th>
                            <th>Description</th>
                            <th>Created on</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="todos.length > '0'">
                            <tr ng-repeat="todo in todos">
                                <td>{{todo.date | date:'MM-dd-yyyy'}}</td>
                                <td>{{todo.description}}</td>
                                <td>{{todo.created_at | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="todo.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="doneTodo(todo.id)"><i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;Done</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteTodo(todo.id)"><i class="glyphicon glyphicon-remove"></i>&nbsp;Delete</button>
                                </td>
                                <td ng-if="todo.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="doneTodo(todo.id)"><i class="glyphicon  glyphicon-thumbs-down"></i>&nbsp;Pending</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteTodo(todo.id)"><i class="glyphicon glyphicon-remove"></i>&nbsp;Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
