<!-- <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Parent/Guardian</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-init="getStudentsParents()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createStudentsParents()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Parent/Guardian Information</strong>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Full Name</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.full_name" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-8">
                            <input type="password" ng-model="parents.password" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Relation</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.relation" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Gender</label>
                        <div class="radio col-sm-8">
                            <label class="i-checks">
                                <input ng-model="parents.gender" type="radio" name="rdoGender" ng-value="'male'">
                                <i></i>Male
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="parents.gender" type="radio" name="rdoGender" ng-value="'female'">
                                <i></i>Female
                            </label> &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.email" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.phone" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mobile Number</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.mobile" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.address" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">City</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.city" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">State</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.state" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Country</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.country" class="form-control">
                        </div>
                    </div>

                    <footer class="panel-footer text-right bg-light lter">
                        <button class="btn btn-default" type="submit" ui-toggle-class="btn-success">
                            <span class="text">Save & Next</span>
                            <i class="fa fa-chevron-right text-muted"></i>
                        </button>
                        <button class="btn btn-default" ng-click="cancelAdmissionForm()" type="button" >Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div> -->
