<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Follow Up</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit="createFollowUp()" class="form-horizontal form-validation" enctype="multipart/form-data">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Follow Up</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Followup Through</label>
                            <div class="radio col-sm-8">
                                <label class="i-checks">
                                    <input ng-model="student.followup" type="radio" name="rdoFollowup" ng-value="'call'">
                                    <i></i>Call
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                    <input ng-model="student.followup" type="radio" name="rdoFollowup" ng-value="'email'">
                                    <i></i>Email
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                    <input ng-model="student.followup" type="radio" name="rdoFollowup" ng-value="'visit'">
                                    <i></i>Visit
                                </label> &nbsp;&nbsp;&nbsp;
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Remarks</label>
                            <div class="col-sm-9">
                                <textarea ng-model="student.remarks" class="form-control" rows="8" cols="20"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Next Follow Update</label>
                            <div class="col-sm-8">
                                <datepicker date-format="'yyyy-MM-dd">
                                    <input type="text" placeholder="Next Follow Update" data-ng-model="student.next_follow_date" class="form-control">
                                </datepicker>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Status</label>
                            <div class="col-sm-8">
                                <select ng-model="student.normal_status" class="form-control" ng-change="student.status">
                                    <option value="">Please Select</option>
                                    <option value="warm" ng-value="warm">Warm</option>
                                    <option value="cold" ng-value="cold">Cold</option>
                                    <option value="hot" ng-value="hot">Hot</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Inquiry Active Status</label>
                            <div class="radio col-sm-8">
                                <label class="i-checks">
                                    <input ng-model="student.inquiry_status" type="radio" name="rdoInquiry_status" ng-value="'open'">
                                    <i></i>Open
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                    <input ng-model="student.inquiry_status" type="radio" name="rdoInquiry_status" ng-value="'close'">
                                    <i></i>Close
                                </label> &nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelFollowup()">Back</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
