<div class="bg-light lter b-b wrapper-md hidden-print">
    <h1 class="m-n font-thin h3">Manage Student asd List</h1>
</div>
<div class="wrapper-md" style="min-height:76vh">
    <div class="well m-t bg-light lt">
        <div class="row">
            <div class="panel-body">
                <!-- <div class="form-inline"> -->
                    <!-- <div class="form-group">
                        <label class="control-label" >Select Grade</label>
                          <select  class="form-control" id="grade" ng-model="grade" ng-options="grade.id as grade.grade for grade in grades">
                              <option value="">Please Select</option>
                          </select>
                    </div> -->
                    <div class="col-xs-3">
                        <label class="control-label" for="txtsearch">Search</label>
                        <input type="text" class="form-control" ng-model='txtsearch' placeholder=" Search Name, Email, Address, Grade">
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>

    <div class="row" ng-init="getStudentsList()">
        <div class="col-xs-3" ng-repeat="student in students | filter:{id: grade_id, name:grade} | filter:txtsearch">
            <div class="panel b-a">
                <div class="panel-heading b-b b-light">Students</div>
                <div collapse="isCollapsed" class="panel-body collapse in" style="min-height: auto;">
                    <strong>{{student.first_name | capitalize}} {{student. last_name | capitalize}}</strong>
                    <p>Admission On:{{student.created_at | date:'MM-dd-yyyy'}}<span class="badge pull-right">{{student.inquiry_status}}</span></p>
                    <strong>Created_By:<span class="badge"><img ng-src="/upload/staffImages/{{student.photo}}" alt="Image" height="30px" width="30px" /> {{student.username}}</span></strong>
                    <p>
                        <br> Phone: {{student.phone}}
                        <br> Email: {{student.email}}
                        <br>Birth Date:{{student.birth_date | date:'MM-dd-yyyy'}}
                        <br> Grades:{{student.grade}}
                    </p>
                </div>
                <center>
                    <button class="btn btn-info" ng-click="viewDetails(student.id)">View Details</button>
                    <button class="btn btn-danger" ng-click="viewAttendance(student.id)">View Attendence</button>
                </center>
                <br>
            </div>
        </div>
    </div>
</div>
</div>
