<div class="wrapper-lg bg-white-opacity" ng-controller="studentViewProfile">
    <div class="row m-t">
        <div class="col-sm-7" ng-init="getStudent()">
            <a href="" class="thumb-lg pull-left m-r">
                <img src="img/a0.jpg" ng-model="students.image" ng-if="students.image == null" class="img-circle" style="min-height:120px!important;width:170px!important">
                <img ng-src="/upload/studentImages/{{students.image}}" ng-model="students.image" ng-if="students.image != null" class="img-circle" alt="Image" style="min-height:120px!important;width:170px!important" />
            </a>
            <div class="clear m-b">
                <div class="m-b m-t-sm">
                    <strong class="h3 text-black">{{students.first_name | capitalize}} {{students. last_name | capitalize}}</strong>
                    <br>
                    <strong class="text-black">{{students.email}}</strong>
                    <br>
                    <small class="text-black"></small>
                    <small class="text-black">{{students.phone}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Profile</h1>
</div>
<div class="wrapper-md" ng-controller="viewStudentProfileController as tab">
    <ul class="nav nav-pills">
        <li ng-class="{active:tab.isSet(1)}"><a href ng-click="tab.setTab(1)">Basic Details</a></li>
        <li ng-class="{active:tab.isSet(2)}"><a href ng-click="tab.setTab(2)">Parents  Details</a></li>
        <li ng-class="{active:tab.isSet(3)}"><a href ng-click="tab.setTab(3)">Academic Details</a></li>
    </ul>
    <div ng-show="tab.isSet(1)">
        <br>
        <div class="row" ng-controller="editStaffAdmissionController" ng-init="getEditAdmission()">
            <div class="col-sm-8">
                <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveEditAdmissionTab()">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Manage Student Admission</strong>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.first_name" placeholder="First Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.last_name" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Middle Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.middle_name" placeholder="Last Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Gender</label>
                            <div class="radio col-sm-8">
                                <label class="i-checks">
                                    <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'male'">
                                    <i></i>Male
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                    <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'female'">
                                    <i></i>Female
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                    <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'other'">
                                    <i></i>Other
                                </label> &nbsp;&nbsp;&nbsp;
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Birth Date</label>
                            <div class="col-sm-8">
                                <datepicker date-format="'yyyy-MM-dd">
                                    <input type="text" placeholder="Date of Birth" data-ng-model="admission.birth_date" class="form-control">
                                </datepicker>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <div class="info-section">
                                    <button ngf-select="uploadFile($file)" class="btn btn-primary" > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp;   Select Profile Image</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Contact Address</strong>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.email" disabled="disabled" placeholder="Email" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.phone" placeholder="Phone Number" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mobile Number</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.mobile_number" placeholder="Mobile Number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-8">
                                <textarea ng-model="admission.address" class="form-control" rows="8" cols="40" placeholder="Address" required></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">City</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="admission.city" class="form-control" placeholder="City" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="admission.state" class="form-control" placeholder="State" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="admission.country" class="form-control" placeholder="Country" required>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                        </footer>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div ng-show="tab.isSet(2)">
        <br>
        <!-- <div class="row" ng-controller="saveStudentsParentsController" ng-init="getStudentsParents()"> -->
        <div class="row" ng-controller="saveStudentsParentsController">
            <div class="col-sm-8">
                <form name="formValidate" class="form-horizontal form-validation" ng-submit="createStudentsParentsTab()">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Parent/Guardian Information</strong>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Full Name</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.full_name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Relation</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.relation" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Gender</label>
                            <div class="radio col-sm-8">
                                <label class="i-checks">
                                    <input ng-model="parents.gender" type="radio" name="rdoGender" ng-value="'male'">
                                    <i></i>Male
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                    <input ng-model="parents.gender" type="radio" name="rdoGender" ng-value="'female'">
                                    <i></i>Female
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                    <input ng-model="parents.gender" type="radio" name="rdoGender" ng-value="'other'">
                                    <i></i>Other
                                </label> &nbsp;&nbsp;&nbsp;
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.email" class="form-control" disabled="disabled">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.phone" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mobile Number</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.mobile" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.address" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">City</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.city" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.state" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.country" class="form-control">
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                        </footer>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div ng-show="tab.isSet(3)">
        <br>
        <div class="row" ng-controller="editStaffAdmissionController" ng-init="getEditAdmission()">
            <div class="col-sm-8">
                <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveEditAcademicsTab()">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Manage Student Admission</strong>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Grade</label>
                            <div class="col-sm-8">
                                <select ng-model="admission.grade_id" class="form-control" ng-change="getSchoolGrades(admission.grade_id);">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="grade in grades" ng-value="{{grade.id}}" value="{{grade.id}}">{{grade.grade}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Session</label>
                            <div class="col-sm-8">
                                <select ng-model="admission.session_id" class="form-control" ng-change="getSchoolGrades(admission.session_id);">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="session in sessions" ng-value="{{session.id}}" value="{{session.id}}">{{session.session_name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Comments</label>
                            <div class="col-sm-8">
                                <textarea ng-model="admission.comments" class="form-control" rows="8" cols="20"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Previous Academic History</label>
                            <div class="col-sm-8">
                                <trix-editor angular-trix ng-model="admission.academic_history" col="5" style="min-height: 190px !important;"></trix-editor>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                        </footer>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
