<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Menu</h1>
</div>
<div class="wrapper-md" ng-controller="schoolController">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Menu</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Menu Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="menu_title" ng-model="menu_title" placeholder="Menu Title" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Parent</label>
                            <div class="col-sm-9">
                                <select class="form-control" required="">
                                    <option value="">Please select</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Position</label>
                            <div class="radio col-sm-9">
                                <label class="i-checks">
                                    <input type="radio" name="position" value="header">
                                    <i></i> Header
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                    <input type="radio" name="position" value="footer">
                                    <i></i> Footer
                                </label>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelMenuList()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
