<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add New Menu</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewMenu()">Add New Menu</button>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            Add New Menu
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only">
                    <thead>
                        <tr>
                            <th style="width:15%">Menu Name</th>
                            <th style="width:15%">Position</th>
                            <th style="width:15%">Status</th>
                            <th style="width:10%">Created On</th>
                            <th style="width:15%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
