<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add Resource</h1>
</div>
<div class="wrapper-md" ng-controller="schoolNewEventResourceController" style="min-height:78vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit="createResource()" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Add Resource</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Resource Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="resource_name" ng-model="resource.resource_name" placeholder="Resource Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Quantity</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="resource_value" ng-change="changeInTotal()" ng-model="resource.resource_value" placeholder="Quantity" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Per unit Cost</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="cost" ng-change="changeInTotal()" ng-model="resource.cost" placeholder="Per unit Cost" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Total Cost</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-value="{{resource.cost * resource.resource_value}}" name="resource_value" readonly="true" ng-model="resource.total_cost" placeholder="Total Cost" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Arrival Date</label>
                            <div class="col-sm-9">
                                <datepicker date-format="'yyyy-MM-dd">
                                    <input type="text" placeholder="Arrival Date" data-ng-model="resource.arrival_date" class="form-control">
                                </datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Vendor Phone Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="vendor_phone" ng-model="resource.vendor_phone" placeholder="Vendor Phone Number" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="resource.status" required="true">
                                    <option value="">Please Select</option>
                                    <option value="pending">Pending</option>
                                    <option value="arrived">Arrived</option>
                                    <option value="in_place">In Place</option>
                                </select>
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success">Add</button>
                            <button class="btn btn-default" ng-click="cancelResource()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
