<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Event Resources</h1>
</div>
<div class="wrapper-md" ng-controller="schoolAllEventResourceListController" data-ng-init="getAllEventResourceList()" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewEventResourceRedirect()">Add New Resource</button>
    <br>
    <br>
    <div class="panel panel-default" >
        <div class="panel-heading" >
            Manage Event Resources
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Resource Name</th>
                            <th>Quantity</th>
                            <th>Resource Cost</th>
                            <th>Resource Total Cost</th>
                            <th>Arrival Date</th>
                            <th>Phone Number</th>
                            <th>Created on</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="resources.length > '0'">
                            <tr ng-repeat="resource in resources">
                                <td>{{resource.resource_name}}</td>
                                <td>{{resource.resource_value}}</td>
                                <td>{{resource.cost}}</td>
                                <td>{{resource.total_cost}}</td>
                                <td>{{resource.arrival_date | date:'MM-dd-yyyy' }}</td>
                                <td>{{resource.vendor_phone}}</td>
                                <td>{{resource.created_at| date:'MM-dd-yyyy'}}</td>
                                <td>{{resource.status}}</td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editResource(resource.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteResource(resource.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
