<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Event Registrations</h1>
</div>
<div class="wrapper-md" data-ng-init="getAllEventRegisteredStudentParentsController()" style="min-height:78vh;">
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            Manage Event Registrations
        </div>
        <div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Event Name</th>
                            <!-- <th>School Name</th> -->
                            <th>Students Name</th>
                            <th>Parents Name</th>
                            <th>Student Status</th>
                            <th>Parents Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="registrations.length > '0'">
                            <tr ng-repeat="registration in registrations">
                                <td>{{registration.event_name}}</td>
                                <!-- <td>{{registration.school_name}}</td> -->
                                <td>{{registration.first_name}} {{registration.last_name}}</td>
                                <td>{{registration.full_name}}</td>
                                <td ng-if="registration.student_status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" disabled="true">Active</button>
                                </td>
                                <td ng-if="registration.student_status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" disabled="true">Inactive</button>
                                </td>
                                <td ng-if="registration.parent_status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" disabled="true">Active</button>
                                </td>
                                <td ng-if="registration.parent_status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" disabled="true">Inactive</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
