<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Event Registrations</h1>
</div>
<div class="wrapper-md" ng-controller="schoolAllEventRegistrationsListController" data-ng-init="getAllEventSchoolRegistrations()" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewEventRegistrationRedirect()">New Registration</button>
    <br>
    <br>
    <div class="panel panel-default" >
        <div class="panel-heading" >
            Manage Event Registrations
        </div>
        <div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Reg Name</th>
                            <th>Event Name</th>
                            <th>Email</th>
                            <th>Mobile No.</th>
                            <th>Message</th>
                            <th>Created on</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="registrations.length > '0'">
                            <tr ng-repeat="registration in registrations">
                                <td>{{registration.reg_name}}</td>
                                <td>{{registration.event_name}}</td>
                                <td>{{registration.email}}</td>
                                <td>{{registration.mobile}}</td>
                                <td>{{registration.message}}</td>
                                <td>{{registration.created_at| date:'MM-dd-yyyy'}}</td>
                                <td ng-if="registration.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveRegistration(registration.id)">Active</button>
                                </td>
                                <td ng-if="registration.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeRegistration(registration.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editRegistration(registration.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteRegistration(registration.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
