<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Newsletter</h1>
</div>
<div class="wrapper-md" style="min-height:79vh">
    <div class="row" >
        <div class="col-sm-8" ng-controller="editNewsletterController" ng-init="getEditNewsletter()">
            <form name="formValidate" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Newsletter</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Subject</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="newsletter.subject" placeholder="Subject" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Users to understand</label>
                            <div class="col-sm-9">
                                <div class="checkbox col-sm-4">
                                    <label class="i-checks">
                                        <input type="checkbox" name="users" ng-model="newsletter.users_to_understand.all" class="users_to_understand">
                                        <i></i> All
                                    </label>
                                </div>
                                <div class="checkbox col-sm-4">
                                    <label class="i-checks">
                                        <input type="checkbox" name="users" ng-model="newsletter.users_to_understand.school" class="users_to_understand">
                                        <i></i> Schools
                                    </label>
                                </div>
                                <div class="checkbox col-sm-4">
                                    <label class="i-checks">
                                        <input type="checkbox" name="users" ng-model="newsletter.users_to_understand.students" class="users_to_understand">
                                        <i></i> Students
                                    </label>
                                </div>
                                <div class="checkbox col-sm-4">
                                    <label class="i-checks">
                                        <input type="checkbox" name="users" ng-model="newsletter.users_to_understand.teachers" class="users_to_understand">
                                        <i></i> Teachers
                                    </label>
                                </div>
                                <div class="checkbox col-sm-4">
                                    <label class="i-checks">
                                        <input type="checkbox" name="users" ng-model="newsletter.users_to_understand.parents" class="users_to_understand">
                                        <i></i> Parents
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Content</label>
                            <div class="col-sm-9">
                                <trix-editor angular-trix ng-model="newsletter.content" col="5" style="min-height: 190px !important;"></trix-editor>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Time Period</label>
                            <div class="radio col-sm-9">
                                <label class="i-checks">
                                    <input ng-model="newsletter.time_period" type="radio" name="rdoTimeperiod" ng-value="'daily'">
                                    <i></i>Daily
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                    <input ng-model="newsletter.time_period" type="radio" name="rdoTimeperiod" ng-value="'weekly'">
                                    <i></i>Weekly
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                    <input ng-model="newsletter.time_period" type="radio" name="rdoTimeperiod" ng-value="'monthly'">
                                    <i></i> Monthly
                                </label>&nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                    <input ng-model="newsletter.time_period" type="radio" name="rdoTimeperiod" ng-value="'yearly'">
                                    <i></i> Yearly
                                </label>
                            </div>
                        </div>
                    </div>

                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success" ng-click="saveEditNewsletter()" style="width: 64.44px;">Save</button>
                        <button class="btn btn-default" ng-click="cancelNewsletterlist()" type="button" >Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
