<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Newsletters</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="newsletterController">
    <button class="btn btn-default" ng-click="addNewsletter()">Add New Newsletter</button>
    <br>
    <br>
    <div class="panel panel-default" data-ng-init="listNewsletter()">
        <div class="panel-heading">
            Manage Newsletters
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only">
                    <thead>
                        <tr>
                            <th style="width:15%">Subject</th>
                            <th style="width:20%">Send to user</th>
                            <!-- <th style="width:20%">Time Period</th> -->
                            <th style="width:20%">Created on</th>
                            <th style="width:25%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="newsletters.length > '0'" ng-repeat="newsletter in newsletters">
                            <td>{{newsletter.subject}}</td>
                            <td>{{newsletter.users_to_understand}}</td>
                            <td>{{newsletter.created_at| date:'MM-dd-yyyy'}}</td>
                            <td >
                                <button ng-if="newsletter.status == '1'" class="btn m-b-xs w-xs btn-success" ng-click="inactiveNewsletter(newsletter.id)">Active</button>
                                <button ng-if="newsletter.status == '0'" class="btn m-b-xs w-xs btn-danger" ng-click="activeNewsletter(newsletter.id)">Inactive</button>
                                <button class="btn m-b-xs w-xs btn-primary" ng-click="editNewsletter(newsletter.id)">Edit</button>
                                <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteNewsletter(newsletter.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
