<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Student Admission</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;">
    <div class="row" ng-init="getEditAdmission()">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveEditAdmission()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Manage Student Admission</strong>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="admission.first_name" placeholder="First Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="admission.last_name" placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Middle Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="admission.middle_name" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Gender</label>
                        <div class="radio col-sm-8">
                            <label class="i-checks">
                                <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'male'">
                                <i></i>Male
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'female'">
                                <i></i>Female
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'other'">
                                <i></i>Other
                            </label> &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Birth Date</label>
                        <div class="col-sm-8">
                            <datepicker date-format="'yyyy-MM-dd">
                                <input type="text" placeholder="Date of Birth" data-ng-model="admission.birth_date" class="form-control">
                            </datepicker>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="info-section">
                                <button ngf-select="uploadFile($file)" class="btn btn-primary" > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp;   Select Profile Image</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Contact Address</strong>
                    </div>
                    <br>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="admission.email" placeholder="Email" required disabled="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="admission.phone" placeholder="Phone Number" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mobile Number</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="admission.mobile_number" placeholder="Mobile Number">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-8">
                            <textarea ng-model="admission.address" class="form-control" rows="8" cols="40" placeholder="Address" required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">City</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="admission.city" class="form-control" placeholder="City" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">State</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="admission.state" class="form-control" placeholder="State" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Country</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="admission.country" class="form-control" placeholder="Country" required>
                        </div>
                    </div>

                    <footer class="panel-footer text-right bg-light lter">
                        <!-- <button type="submit" class="btn btn-success">Save & Next<i class="fa fa-chevron-right text-muted"></i></button> -->
                        <button class="btn btn-default" type="submit" ui-toggle-class="btn-success">
                            <span class="text">Save & Next</span>
                            <i class="fa fa-chevron-right text-muted"></i>
                        </button>
                        <button class="btn btn-default" ng-click="cancelAdmissionForm()">Back</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
