<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Parent/Guardian</h1>
</div>
<!-- <div class="wrapper-md" style="min-height:76vh;" ng-init="getStudentsParents()"> -->
<div class="wrapper-md" style="min-height:76vh;" ng-init="getStudentRelations()">

    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createStudentsParents()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Parent/Guardian Information</strong>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Full Name</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.full_name" class="form-control" placeholder="Full Name" required="true">
                        </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">Relation</label>
                          <div class="col-sm-8">
                              <select ng-model="parents.relation" class="form-control" required="true" convert-To-Number>
                                  <option value="">Please Select</option>
                                  <option ng-repeat="relation in relations" value="{{relation.id}}" ng-value="{{relation.id}}">{{relation.relation_name}}</option>
                              </select>

                              <!-- <select data-ng-options="usr.Name for usr in JSON.ResponseObject relation.id for relation.relation_name in relations" ng-model="parents.relation" class="form-control" required="true">
                              </select> -->
                          </div>
                      </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Gender</label>
                        <div class="radio col-sm-8">
                            <label class="i-checks">
                                <input ng-model="parents.gender" type="radio" name="rdoGender" ng-value="'male'">
                                <i></i>Male
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="parents.gender" type="radio" name="rdoGender" ng-value="'female'">
                                <i></i>Female
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="parents.gender" type="radio" name="rdoGender" ng-value="'other'">
                                <i></i>Other
                            </label> &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-8">
                            <input type="email" ng-model="parents.email" class="form-control" placeholder="Email Address" required="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-8">
                            <input type="password" ng-model="parents.password" pattern=".{6,}" title="minimum six character required!" class="form-control" placeholder="Password" required="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.phone" class="form-control" placeholder="Phone">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mobile Number</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.mobile" class="form-control" placeholder="Mobile Number">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Work Phone Number</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.work_phone_number" class="form-control" placeholder="Work Phone Number">
                        </div>
                    </div>

                    <!-- Parent Images -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="info-section">
                                <button ngf-select="uploadFile($file)" class="btn btn-primary ng-pristine ng-valid ng-empty ng-touched" accept="image/x-png,image/gif,image/jpeg,image/*">
                                  <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp; Select Parent Profile Image
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.address" class="form-control" placeholder="Address">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">City</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.city" class="form-control" placeholder="City">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">State</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.state" class="form-control" placeholder="State">
                        </div>
                    </div>

                    <div class="form-group">
                            <label class="col-sm-3 control-label">Zipcode</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.zipcode" class="form-control" placeholder="Zipcode">
                            </div>
                        </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Country</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.country" class="form-control" placeholder="Country">
                        </div>
                    </div>

                    <footer class="panel-footer text-right bg-light lter">
                        <button class="btn btn-success" type="submit" ui-toggle-class="btn-success" style="width: 64.44px;">Save</button>
                        <button class="btn btn-default" ng-click="cancelParentsForm()" type="button" >Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
