<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Parent/Guardiansss</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-init="getStudentsParents()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveUpdatedStudentsParents()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Parent/Guardian Information</strong>
                    </div>
                    <br>
                    <br>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Full Name</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.full_name" class="form-control">
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <label class="col-sm-3 control-label">Relation</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-selected="expression" ng-model="parents.relation">
                              <option value="">Please Select</option>
                              <option>{{parents.relation}}</option>
                              <option value="father">Father</option>
                              <option value="mother">Mother</option>
                              <option value="uncle">Uncle</option>
                              <option value="guarantor">Guarantor</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Relation</label>
                          <div class="col-sm-8">
                              <select ng-model="parents.relation" class="form-control" required="true">
                                  <option value="">Please Select</option>
                                  <option ng-repeat="relation in relations" value="{{relation.id}}" ng-value="{{relation.id}}">{{relation.relation_name}}</option>
                              </select>
                          </div>
                      </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Gender</label>
                        <div class="radio col-sm-8">
                            <label class="i-checks">
                                <input ng-model="parents.gender" type="radio" name="rdoGender" ng-value="'male'">
                                <i></i>Male
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="parents.gender" type="radio" name="rdoGender" ng-value="'female'">
                                <i></i>Female
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="parents.gender" type="radio" name="rdoGender" ng-value="'other'">
                                <i></i>Other
                            </label> &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.email" class="form-control" ng-disabled="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.phone" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mobile Number</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.mobile" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Work Phone Number</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.work_phone_number" class="form-control" placeholder="Work Phone Number">
                        </div>
                    </div>

                    <!-- Parent Images -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="info-section">
                                <button ngf-select="uploadFile($file)">Select Parent Profile Image</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.address" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">City</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.city" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">State</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.state" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Zipcode</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.zipcode" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Country</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="parents.country" class="form-control">
                        </div>
                    </div>

                    <footer class="panel-footer text-right bg-light lter">
                        <button class="btn btn-success" type="submit" ui-toggle-class="btn-success" style="width: 64.44px;">Save</button>
                        <button class="btn btn-default" ng-click="cancelParentsForm()" type="button" >Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
