<div class="bg-light lter b-b wrapper-md hidden-print">
    <h1 class="m-n font-thin h3">Student List</h1>
</div>
<div class="wrapper-md" ng-init="getStudentsList()" style="min-height:78vh;">
    <div class="well m-t bg-light lt">
        <div class="row">
            <div class="panel-body">
                <div class="col-xs-3">
                    <label class="control-label" for="txtsearch">Search</label>
                    <input type="text" class="form-control" ng-model='txtsearch' placeholder=" Search Email, Address, Grade">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3" ng-repeat="student in students | filter:txtsearch" ng-if="student.admission_status == 'true'" style="width:400px;">
            <div class="panel b-a">
                <div collapse="isCollapsed" class="panel-body collapse in" style="min-height: auto;">
                    <center>
                        <img ng-src="/upload/studentImages/{{student.image}}" alt="Student Image" height="100px" width="100px" class="r r-2x" on-error-src="/img/a0.jpg" />
                        <br>
                        <br>
                        <strong>{{student.first_name | capitalize}} {{student. last_name | capitalize}}</strong>
                    </center>
                    <hr style="color:#ccc;height:1px;margin-top: 5px;margin-bottom: 10px;" />
                    <p style="padding-left:80px;position:relative;"><b style="position:absolute;left:0px;">Email : </b>{{student.email}}</p>
                    <p style="padding-left:80px;position:relative;"> <b style="position:absolute;left:0px;">Phone : </b>{{student.phone}}</p>
                    <p style="padding-left:80px;position:relative;"> <b style="position:absolute;left:0px;">Birth Date : </b>{{student.birth_date | date:'MM-dd-yyyy'}}</p>
                    <p style="padding-left:80px;position:relative;"> <b style="position:absolute;left:0px;">Grade : </b>{{student.grade}}</p>
                    <p style="padding-left:80px;position:relative;"> <b style="position:absolute;left:0px;">Address : </b>{{student.address}}, <br/>{{student.city}},{{student.state}},{{student.country}}</p>
                    <p style="padding-left:80px;position:relative;"> <b style="position:absolute;left:0px;">Inquiry On : </b>{{student.created_at | date:'MM-dd-yyyy'}}</p>
                    <hr style="color:#ccc;height:1px;margin-top: 5px;margin-bottom: 5px;" />
                    <p style="margin-top:10px;">
                        <strong>Created By: <br></strong>
                        <div ng-if="student.staff_id == null">
                          <a herf="" class="pull-left thumb-sm m-r">
                                <img ng-src="/img/a0.jpg" alt="Image" class="avatar" style="min-height: 40px;">
                            </a>
                            <div class="clear">
                                <div style="margin-top:10px;"><a href="">Admin</a></div>
                            </div>
                        </div>
                        <div ng-if="student.staff_id != null">
                            <a herf="" class="pull-left thumb-sm m-r">
                                <img ng-src="/upload/staffImages/{{student.photo}}" alt="Image" class="avatar" style="min-height: 40px;" on-error-src="/img/a0.jpg">
                            </a>
                            <div class="clear">
                                <div style="margin-top:10px;"><a href="">{{student.username}}</a></div>
                            </div>
                        </div>
                    </p>
                </div>
                <center>
                    <button class="btn btn-info" ng-click="viewDetails(student.id)">View/Edit Details</button>
                    <!-- <button class="btn btn-danger" ng-click="viewAttendance(student.id)">View Attendence</button> -->
                </center>
                <br>
            </div>
        </div>
    </div>

</div>
</div>
