<div class="wrapper-lg bg-white-opacity" ng-controller="studentViewProfile">
    <div class="row m-t">
        <div class="col-sm-7" ng-init="getStudent()">
            <a href="" class="thumb-lg pull-left m-r">
                <!-- <img src="img/a0.jpg" ng-model="students.image" ng-if="students.image == null" class="img-circle" style="min-height:120px!important;width:170px!important">
                <img ng-src="/upload/studentImages/{{students.image}}" ng-model="students.image" ng-if="students.image != null" class="img-circle" alt="Image" style="min-height:120px!important;width:170px!important" /> -->
                <img src="" ng-src="/upload/studentImages/{{students.image}}" ng-model="students.image" class="img-circle" alt="Student Images" style="min-height:120px!important;width:170px!important" on-error-src="/img/a0.jpg" />
            </a>
            <div class="clear m-b">
                <div class="m-b m-t-sm">
                    <strong class="h3 text-black">{{students.first_name | capitalize}} {{students. last_name | capitalize}}</strong>
                    <br>
                    <strong class="text-black">{{students.email}}</strong>
                    <br>
                    <small class="text-black"></small>
                    <small class="text-black">{{students.phone}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Profile</h1>
</div>
<div class="wrapper-md" ng-controller="viewStudentProfileController as tab">
    <ul class="nav nav-pills">
        <li ng-class="{active:tab.isSet(1)}">
            <a href ng-click="tab.setTab(1)">Basic Details</a>
        </li>
        <li ng-class="{active:tab.isSet(2)}">
            <a href ng-click="tab.setTab(2)">Parents Details</a>
        </li>
        <li ng-class="{active:tab.isSet(3)}">
            <a href ng-click="tab.setTab(3)">Academic Details</a>
        </li>
        <li ng-class="{active:tab.isSet(4)}">
            <a href ng-click="tab.setTab(4)">Medical Details</a>
        </li>
    </ul>
    <div ng-show="tab.isSet(1)">
        <br>
        <div class="row" ng-controller="editStaffAdmissionController" ng-init="getEditAdmission()">
            <div class="col-sm-8">
                <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveEditAdmissionTab()">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Manage Student Admission</strong>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.first_name" placeholder="First Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.last_name" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Middle Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.middle_name" placeholder="Middle Name (Optional)">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Gender</label>
                            <div class="radio col-sm-8">
                                <label class="i-checks">
                                    <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'male'">
                                    <i></i>Male
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                    <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'female'">
                                    <i></i>Female
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                    <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'other'">
                                    <i></i>Other
                                </label> &nbsp;&nbsp;&nbsp;
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Birth Date</label>
                            <div class="col-sm-8">
                                <datepicker  date-format="'yyyy-MM-dd">
                                    <input type="text" placeholder="Date of Birth" data-ng-model="admission.birth_date" class="form-control" required="true">
                                </datepicker>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-3">
                                <div class="info-section">
                                    <button ngf-select="uploadFile($file)" class="btn btn-primary" > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp;   Select Profile Image</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <img src="/upload/studentImages/{{admission.image}}" height="100px" width="100px">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Contact Address</strong>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.email" disabled="disabled" placeholder="Email" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.phone" placeholder="Phone Number" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mobile Number</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.mobile_number" placeholder="Mobile Number" required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-8">
                                <textarea ng-model="admission.address" class="form-control" rows="8" cols="40" placeholder="Address" required></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">City</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="admission.city" class="form-control" placeholder="City" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="admission.state" class="form-control" placeholder="State" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="admission.country" class="form-control" placeholder="Country" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Zip code</label>
                            <div class="col-sm-8">
                              <input type="number" ng-model="admission.zipcode" class="form-control" placeholder="Zip code" required>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                        </footer>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div ng-show="tab.isSet(2)">
        <br>
        <div class="row" ng-controller="saveStudentsParentsController" ng-init="getStudentsParentsList()">
            <!-- <div class="col-sm-8">
                <form name="formValidate" class="form-horizontal form-validation"  ng-submit="createStudentsParentsTab()">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Parent/Guardian Information</strong>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Full Name</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.full_name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Relation</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.relation" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Gender</label>
                            <div class="radio col-sm-8">
                                <label class="i-checks">
                                    <input ng-model="parents.gender" type="radio" name="rdoGender" ng-value="'male'">
                                    <i></i>Male
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                    <input ng-model="parents.gender" type="radio" name="rdoGender" ng-value="'female'">
                                    <i></i>Female
                                </label> &nbsp;&nbsp;&nbsp;
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.email" class="form-control" disabled="disabled">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.phone" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mobile Number</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.mobile" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.address" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">City</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.city" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.state" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="parents.country" class="form-control">
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                        </footer>
                    </div>
                </form>
            </div> -->
            <button class="btn btn-default" ng-click="addNewParents()">Add Parents</button>
            <br>
            <br>
            <div class="panel panel-default" style="min-height:68vh;">
                <div class="panel-heading">
                    Manage Class
                </div>
                <div>
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Relation</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th>Mobile Number</th>
                                    <th>Image</th>
                                    <th>Created At</th>
                                    <!-- <th>Status</th> -->
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div ng-if="parents.length > '0'">
                                    <tr ng-repeat="parent in parents">
                                        <td>{{parent.full_name}}</td>
                                        <td>{{parent.relation_name}}</td>
                                        <td>{{parent.gender}}</td>
                                        <td>{{parent.email}}</td>
                                        <td>{{parent.mobile}}</td>
                                        <td>
                                          <img ng-src="/upload/parents/{{parent.parentImage}}" alt="Image not found" height="70px" width="70px" src="/upload/parents/{{parent.parentImage}}">
                                        </td>
                                        <td>{{parent.created_at | date:'MM-dd-yyyy'}}</td>
                                        <td>
                                            <button class="btn m-b-xs w-xs btn-primary" ng-click="editParent(parent.id)">Edit</button>
                                            <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteParent(parent.id)">Delete</button>
                                        </td>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="tab.isSet(3)">
        <br>
        <div class="row" ng-controller="editStaffAdmissionController" ng-init="getEditAdmission()">
            <div class="col-sm-8">
                <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveEditAcademicsTab()">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Manage Student Admission</strong>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Grade</label>
                            <div class="col-sm-8">
                                <select ng-model="admission.grade_id" class="form-control" disabled="true">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="grade in grades" ng-value="{{grade.id}}" value="{{grade.id}}">{{grade.grade}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Session</label>
                            <div class="col-sm-8">
                                <select ng-model="admission.session_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="session in sessions" ng-value="{{session.id}}" value="{{session.id}}">{{session.session_name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Comments</label>
                            <div class="col-sm-8">
                                <textarea ng-model="admission.comments" class="form-control" rows="8" cols="20"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Previous Academic History</label>
                            <div class="col-sm-8">
                                <trix-editor angular-trix ng-model="admission.academic_history" col="5" style="min-height: 190px !important;"></trix-editor>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                        </footer>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div ng-show="tab.isSet(4)">
        <br>
        <div class="row" ng-controller="editStaffAdmissionController" ng-init="getEditAdmission()">
            <div class="col-sm-8">
                <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveEditAcademicsTab()">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Student Medical Info</strong>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Medical Immunizations</label>
                            <div class="col-sm-8">
                                <select ng-model="admission.medical_immunizations" class="form-control" multiple="true">
                                    <option ng-repeat="info in infos" ng-if="info.type == 'Immunizations'" value="{{info.id}}">{{info.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Medical Allergies</label>
                            <div class="col-sm-8">
                                <select ng-model="admission.medical_allergies" class="form-control" multiple="true">
                                    <option ng-repeat="info in infos" ng-if="info.type == 'Allergies'" value="{{info.id}}">{{info.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Social (Behavioral)</label>
                            <div class="col-sm-8">
                                <textarea rows="2" class="form-control" ng-model="admission.social_behavioral" placeholder="Social (Behavioral) Information"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Physical (Handicaps)</label>
                            <div class="col-sm-8">
                                <textarea rows="2" class="form-control" ng-model="admission.physical_handicaps" placeholder="Physical (Handicaps) Information"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Other Medical Information</label>
                            <div class="col-sm-8">
                                <textarea rows="2" class="form-control" ng-model="admission.medicalinfo" placeholder="Medical Information"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                        <label class="col-sm-3 control-label">Notes</label>
                        <div class="col-sm-8">
                            <textarea ng-model="admission.notes" class="form-control ng-pristine ng-valid ng-empty ng-touched" rows="8" cols="20" style=""></textarea>
                        </div>
                    </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                        </footer>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
