<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Designation</h1>
</div>
<div class="wrapper-md">
    <div class="row" ng-controller="createSchoolDesignationController" style="min-height:76vh;">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit='createdesignation()' class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Designation</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Designation</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="designation.designation" placeholder="Designation" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea rows="8" class="form-control" cols="40" ng-model="designation.description" placeholder="Description" required></textarea>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="canceldesignationCreate()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
