<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Designation</h1>
</div>
<div class="wrapper-md" ng-controller="editSchoolDesignationController" ng-init="getEditDesignation()">
    <div class="row" style="min-height:71vh;">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Designation</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Designation</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="designation.designation" placeholder="Designation" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea ng-model='designation.description' class="form-control" rows="8" cols="40" placeholder="Description" required></textarea>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" ng-click="saveEditDesignation()" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelEditDesignationForm()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
