<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Exam</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="parentsExamListController">
    <div class="panel panel-default" ng-init="getAllExamList()">
        <div class="panel-heading">
            Manage Exam
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Exam</th>
                            <th>Session</th>
                            <th>Grade</th>
                            <th>Subject</th>
                            <th>Achived Marks</th>
                            <th>Exam Start Date</th>
                            <th>Exam End Date</th>
                            <th>Created At</th>

                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="exams.length > 0">
                            <tr ng-repeat="exam in exams">
                                <td>{{exam.exam_head}}</td>
                                <td>{{exam.session_name}}</td>
                                <td>{{exam.grade}}</td>
                                <td>{{exam.subject_name}}</td>
                                <td>{{exam.max_marks}}</td>
                                <td>{{exam.start_date | date:"MM-dd-yyyy"}}</td>
                                <td>{{exam.end_date | date:"MM-dd-yyyy"}}</td>
                                <td>{{exam.created_at | date:'MM-dd-yyyy'}}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
