<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Exam Result</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="parentsResultListController">
    <div class="panel panel-default" ng-init="getAllExamResultList()">
        <div class="panel-heading">
            Manage Exam Result
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Session</th>
                            <th>Grade</th>
                            <th>Subject</th>
                            <th>Class</th>
                            <th>Student Name</th>
                            <th>Achived Marks</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="results.length > 0">
                            <tr ng-repeat="result in results">
                                <td>{{result.session_name}}</td>
                                <td>{{result.grade}}</td>
                                <td>{{result.subject_name}}</td>
                                <td>{{result.class_name}}</td>
                                <td>{{result.student_name}}</td>
                                <td>{{result.achived_marks}} / {{result.total_marks}}</td>
                                <td ng-if="result.status == '1'">
                                    <button class="btn btn-success">Exam Completed</button>
                                </td>
                                <td ng-if="result.status == '0'">
                                    <button class="btn btn-danger" style="width:129px;">Exam Pending</button>
                                </td>
                                <td ng-if="result.status == '1'">
                                    <button class="btn btn-primary" ng-click="viewReport(result.exam_id,result.student_id)">View / Edit Report</button>
                                </td>
                                <td ng-if="result.status == '0'">
                                    <button class="btn btn-primary" disabled="true">View / Edit Report</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
