<div class="ng-scope" ng-init="getStaffMail()"  style="min-height:82vh;">
    <div class="wrapper b-b ng-binding">
        <img ng-src="img/a10.jpg" class="img-circle thumb-xs m-r-sm" src="img/a10.jpg"> from <a href="" class="ng-binding">{{mail.email_from}}</a> on {{mail.created_at | date:'MM-dd-yyyy'}}
    </div>
    <div class="wrapper ng-binding">
        <div class="text-ellipsis m-t-xs ng-binding" ng-bind-html="mail.content"></div>
    </div>
    <div class="wrapper">
        <div class="panel b-a">
            <div class="panel-heading ng-show" ng-hide="reply" aria-hidden="false">
                <div class="m-b-lg">
                    Click here to <a href="" class="text-u-l" ng-click="reply=!reply">Reply</a>
                </div>
            </div>
            <div class="ng-hide" ng-show="reply" aria-hidden="true">
                <div class="panel-heading b-b b-light ng-binding" ng-model="smail.new_mail_to">
                    {{mail.email_from}}
                </div>
                <div class="wrapper" contenteditable="true" style="min-height:100px" ng-model="smail.new_mail_content"></div>
                <div class="panel-footer bg-light lt">
                    <button class="btn btn-info w-xs font-bold" ng-click="sendMailFromStaff()">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
