<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Role</h1>
</div>
<div class="wrapper-md" ng-controller="schoolRoleEditController" ng-init="getEditRole()" style="min-height:78vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit="editSaveRole()" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Role</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Role Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="role_name" ng-model="role.role_name" placeholder="Role Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Modules to Access</label>
                            <div class="col-sm-9">
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.dashboard">
                                        <i></i> View Dashboard
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.school_admins">
                                        <i></i> School Admins
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.manage_roles">
                                        <i></i> Manage Admin Roles
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.manage_staff_employee">
                                        <i></i> Manage Staff
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.manage_staff_roles">
                                        <i></i> Manage Staff Role 
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.manage_students">
                                        <i></i> Manage Students
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.manage_academics">
                                        <i></i> Manage Academics
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.ecommerce_portal">
                                        <i></i> E-Commerce Portal
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.manage_fees">
                                        <i></i> Manage Fees
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.fee_collections">
                                        <i></i> Fee Collections
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.manage_events">
                                        <i></i> Manage Events
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.manage_materials">
                                        <i></i> Manage Materials
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.push_notification">
                                        <i></i> Push Notification
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.manage_bookstore">
                                        <i></i> Manage Bookstore
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.manage_location">
                                        <i></i> Manage Location
                                    </label>
                                </div>
                                <div class="checkbox col-sm-6">
                                    <label class="i-checks">
                                        <input type="checkbox" name="modules" ng-model="role.modules.email_system">
                                        <i></i> Auto Email System
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Role Description</label>
                            <div class="col-sm-9">
                                <textarea rows="8" name='description' class="form-control" cols="40" ng-model="role.description" placeholder="Role Description" required></textarea>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success"">Update</button>
                            <button class="btn btn-default" ng-click="cancelRole()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
