<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Admin Roles</h1>
</div>
<div class="wrapper-md" ng-controller="schoolRoleListController" data-ng-init="getAllRoleList()" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewRoleRedirect()">Add New Role</button>
    <br>
    <br>
    <div class="panel panel-default" >
        <div class="panel-heading" >
            Manage Roles
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-striped table-hover table-condensed table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>School Name</th>
                            <th>Role Name</th>
                            <th>Description</th>
                            <th>Created on</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="schoolroles.length > '0'">
                            <tr ng-repeat="role in schoolroles">
                                <td>{{role.school_name}}</td>
                                <td>{{role.role_name}}</td>
                                <td>{{role.description}}</td>
                                <td>{{role.created_at| date:'MM-dd-yyyy'}}</td>
                                <td ng-if="role.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveRole(role.id)">Active</button>
                                </td>
                                <td ng-if="role.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeRole(role.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editRole(role.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteRole(role.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
