<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add New Email Notification</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createEmailNotification()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Add New Email Notification</strong>
                    </div>
                    <br>
                    <br>
                    <!-- <div class="form-group">
                        <label class="col-sm-3 control-label">Message</label>
                        <div class="col-sm-8">
                            <textarea name="name" rows="4" cols="40" class="form-control" ng-model="emailnotification.message" placeholder="Enter Message" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Send Notifications to</label>
                        <div class="col-sm-9">
                            <div class="checkbox col-sm-4" ng-repeat="emailnotification in emailnotifications">
                                <label class="i-checks">
                                  <input name="emailnotification" type="checkbox" ng-model="emailnotification.selected" value={{emailnotification.name}}>
                                  <i></i>  {{emailnotification.name}}
                              </label>
                            </div>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Message</label>
                        <div class="col-sm-8">
                          <textarea name="name" rows="4" cols="40" class="form-control" ng-model="emailnotification.message" placeholder="Enter Message" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Send Notice to</label>
                        <div class="col-sm-9">
                            <div class="checkbox col-sm-4" ng-repeat="emailnotification in emailnotifications">
                                <label class="i-checks">
                                  <input name="emailnotification" type="checkbox" ng-model="emailnotification.selected" value={{emailnotification.name}}>
                                  <i></i>  {{emailnotification.name}}
                              </label>
                            </div>
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                        <button class="btn btn-default" ng-click="listEmailNotifications()" type="button">Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
