<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Email Notification</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewEmailNotifications()">Add New Email Notification</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllEmailNotifications()">
        <div class="panel-heading">
            Manage Email Notification
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Message</th>
                            <th>Send Notice to</th>
                            <th>Created On</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="emailnotifications.length > '0'">
                            <tr ng-repeat="emailnotification in emailnotifications">
                                <td>{{emailnotification.message}}</td>
                                <td>{{emailnotification.send_notice_to}}</td>
                                <td>{{emailnotification.created_at | date:'MM-dd-yyyy'}}</td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteEmailNotification(emailnotification.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
