<h2>Image Album</h2>
<hr>
<div style="min-height:72vh;" data-ng-init="viewAlbum()">
    <div class="inline bg-white wrapper b-a" ng-repeat="image in galleryImages" style="margin: 10px 5px 10px 5px;">
        <a prettyp class="image" ng-href="/upload/galleryImages/{{image.image_name}}" rel="prettyPhoto[main]" target="_blank" title="{{image.image_description}}">
            <img ng-src="/upload/galleryImages/{{image.image_name}}" height="100px" />
        </a>
        <p>{{image.image_description}}</p>
    </div>
</div>
