<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Child Menu</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit='createMenu()' class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Child Menu</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="title" ng-model="menu.title" placeholder="Menu Title" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Parent Menu</label>
                            <div class="col-sm-9">
                                <select ng-model="menu.parent_menu_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="menu in ParentMenus" value="{{menu.id}}">{{menu.title}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Position</label>
                            <div class="radio col-sm-9">
                                <label class="i-checks">
                                    <input ng-model="menu.position" type="radio" name="radioposition" ng-value="'header'">
                                    <i></i>Header
                                </label> &nbsp;&nbsp;&nbsp;
                                <label class="i-checks">
                                      <input ng-model="menu.position" type="radio" name="radioposition" ng-value="'footer'">
                                    <i></i>Footer
                                </label> &nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success">Add</button>
                            <button class="btn btn-default" ng-click="cancelMenuPage()" type="button" >Cancel</button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
