<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Menu</h1>
</div>
<div class="wrapper-md" style="min-height:80vh;" ng-init="getAllChildMenus()">
    <button class="btn btn-default" ng-click="addNewMenu()">Add New Menu</button>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            Manage Menu
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Parent Menu</th>
                            <th>Position</th>
                            <th>Creted At</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="childMenus.length > '0'">
                            <tr ng-repeat="menu in childMenus">
                                <td>{{menu.title}}</td>
                                <td>{{menu.parent_title}}</td>
                                <td>{{menu.position}}</td>
                                <td>{{menu.created_at | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="menu.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveChildMenu(menu.id)">Active</button>
                                </td>
                                <td ng-if="menu.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeChildMenu(menu.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editChildMenu(menu.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteChildMenu(menu.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
