<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Relation</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-init='getEditRelation()'>
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveEditRelation()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Relation</strong>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">name</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="relation.relation_name" class="form-control" placeholder="Enter Name" required="true">
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                        <button class="btn btn-default" ng-click="listRelation()" type="button">Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
