<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Relation</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewRelation()">Add New Relation</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllRelations()">
        <div class="panel-heading">
            Manage Relations
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Created On</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="relations.length > '0'">
                            <tr ng-repeat="relation in relations">
                                <td>{{relation.relation_name}}</td>
                                <td>{{relation.created_at | date:'MM-dd-yyyy'}}</td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editRelation(relation.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteRelation(relation.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
