<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Template</h1>
</div>
<div class="wrapper-md" <div class="row" style="min-height:74vh;">
    <div class="col-sm-8">
        <form name="formValidate" class="form-horizontal form-validation" ng-submit="createTemplate()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Create Template</strong>
                </div>
                <br>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Scale Key</label>
                        <div class="col-sm-9">
                              <input type="text" class="form-control" placeholder="Key Scale (Please add only numeric field)" name="ui_key" ng-model="template.ui_key">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Message</label>
                        <div class="col-sm-9">
                            <textarea name="name" rows="8" cols="40" class="form-control" placeholder="Enter your message" ng-model="template.ui_data" ng-required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-10 control-label"></label>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success" ng-disabled='form.$invalid' style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="listTemplates()" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Keywords you can use in Email Templetes using name between <<>></strong>
                </div>
                <div class="panel-body">
                    <div class="control-label" style="font-size:22px;">&lt;&lt;STUDENT_FIRST_NAME&gt;&gt;</div>
                    <div class="control-label" style="font-size:22px;">&lt;&lt;STUDENT_LAST_NAME&gt;&gt;</div>
                    <div class="control-label" style="font-size:22px;">&lt;&lt;STUDENT_EMAIL&gt;&gt;</div>
                    <div class="control-label" style="font-size:22px;">&lt;&lt;STUDENT_CLASS&gt;&gt;</div>
                    <div class="control-label" style="font-size:22px;">&lt;&lt;STUDENT_SUBJECT&gt;&gt;</div>
                    <div class="control-label" style="font-size:22px;">&lt;&lt;STUDENT_MOBILE&gt;&gt;</div>
                    <div class="control-label" style="font-size:22px;">&lt;&lt;EXAM_NAME&gt;&gt;</div>
                    <div class="control-label" style="font-size:22px;">&lt;&lt;EXAM_TOTAL_MARKS&gt;&gt;</div>
                    <div class="control-label" style="font-size:22px;">&lt;&lt;EXAM_ACHIVED_MARKS&gt;&gt;</div>
                    <div class="control-label" style="font-size:22px;">&lt;&lt;EXAM_ACHIVED_SCALE&gt;&gt;</div>
                    <div class="control-label" style="font-size:22px;">&lt;&lt;EXAM_START_DATE&gt;&gt;</div>
                    <div class="control-label" style="font-size:22px;">&lt;&lt;EXAM_END_DATE&gt;&gt;</div>
                    <div class="control-label" style="font-size:22px;">&lt;&lt;EXAM_START_TIME&gt;&gt;</div>
                    <div class="control-label" style="font-size:22px;">&lt;&lt;EXAM_END_TIME&gt;&gt;</div>
                    <div class="control-label" style="font-size:22px;">&lt;&lt;PARENTS_NAME&gt;&gt;</div>
                    <div class="control-label" style="font-size:22px;">&lt;&lt;PARENTS_EMAIL&gt;&gt;</div>
                    <div class="control-label" style="font-size:22px;">&lt;&lt;PARENTS_MOBILE&gt;&gt;</div>
                </div>
            </div>
         </div>
</div>
