<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">List Templates</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewTemplate()">Add New Template</button>
    <br>
    <br>
    <div class="panel panel-default" data-ng-init="listTemplates()">
        <div class="panel-heading">
            List Templates
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Key Grade</th>
                            <th>Description</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="templates.length > '0'">
                            <tr ng-repeat="template in templates">
                                <td>{{template.ui_key}}</td>
                                <td>{{template.ui_data}}</td>
                                <td>{{template.created_at| date:'MM-dd-yyyy'}}</td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editTemplate(template.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteTemplate(template.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
