<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Issues</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-init="getSchoolStaffs()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createIssue()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Issues</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Subject</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="issue.subject" placeholder="Enter Subject" required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Priority</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="issue.priority" required="true">
                                <option value="">Please Select</option>
                                <option value="high">High</option>
                                <option value="medium">Medium</option>
                                <option value="low">Low</option>
                              </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Issue sent to</label>
                            <div class="col-sm-9">
                                <select ng-model="issue.staff_id" class="form-control" required="true">
                                      <option value="">Please Select</option>
                                      <option ng-repeat="staff in staffs" value="{{staff.id}}">{{staff.first_name | capitalize}} {{staff. last_name | capitalize}}</option>
                                  </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea name="name" rows="8" cols="40" ng-model="issue.description" class="form-control" required="true"></textarea>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button type="button" class="btn btn-default" ng-click="cancelIssueForm()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
