<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Issues</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewIssue()">Add New Issue</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllIssues()">
        <div class="panel-heading">
            Manage Issues
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Priority</th>
                            <th>Issue sent to</th>
                            <th>Description</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="issues.length > '0'">
                            <tr ng-repeat="issue in issues">
                                <td>{{issue.subject}}</td>
                                <td>{{issue.priority}}</td>
                                <td>{{issue.staff_name}}</td>
                                <td>{{issue.description}}</td>
                                <td>{{issue.created_at | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="issue.status == '2'">
                                    <button class="btn m-b-xs w-xs btn-primary" disabled="true">Solved</button>
                                </td>
                                <td ng-if="issue.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" disabled="true">In Progress</button>
                                </td>
                                <td ng-if="issue.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" disabled="true">Pending</button>
                                </td>
                                <!-- <td ng-if="issue.response != null">{{issue.response}}</td>
                                <td ng-if="issue.response == null"></td> -->
                                <td>
                                  <button class="btn btn-primary" ng-click="viewResponse(issue.id)"><i class="fa fa-plus-square-o"></i>&nbsp;&nbsp; View & Respond</button>
                                      <!-- <button class="btn m-b-xs btn-primary" ng-click="viewResponse(issue.id)">View Messages</button>
                                        <button class="btn m-b-xs btn-primary" ng-click="viewResponse(issue.id)">Response</button> -->
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
