<!-- <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Admission Inquiry</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-init="getSchoolGrades()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createAdmissionInquiry()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Admission Inquiry</strong>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Inquiry Date</label>
                        <div class="col-sm-8">
                            <div class="dropdown">
                                <a class="dropdown-toggle my-toggle-select" id="inquiry_date" role="button" data-toggle="dropdown" data-target="#" href="">
                                    <div class="input-append">
                                        <input type="text" placeholder="Inquiry Date" data-ng-model="admission.inquiry_date" style="min-height: 34px;padding: 6px 12px;width: 100%;border: 1px solid #ccc;">
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="inquiry_date">
                                    <datetimepicker data-ng-model="admission.inquiry_date" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                    </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.first_name" placeholder="First Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.last_name" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Middle Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.middle_name" placeholder="Last Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" ng-model="admission.password" placeholder="Password" required>
                            </div>
                        </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Gender</label>
                        <div class="radio col-sm-8">
                            <label class="i-checks">
                                <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'male'">
                                <i></i>Male
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'female'">
                                <i></i>Female
                            </label> &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Grade</label>
                        <div class="col-sm-8">
                            <select ng-model="admission.grade_id" class="form-control" ng-change="getSchoolGrades(admission.grade_id);">
                                <option value="">Please Select</option>
                                <option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Session</label>
                        <div class="col-sm-8">
                            <select ng-model="admission.session_id" class="form-control" ng-change="getSchoolGrades(admission.session_id);">
                                <option value="">Please Select</option>
                                <option ng-repeat="session in sessions" value="{{session.id}}">{{session.session_name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Birth Date</label>
                        <div class="col-sm-8">
                            <div class="dropdown">
                                <a class="dropdown-toggle my-toggle-select" id="birth_date" role="button" data-toggle="dropdown" data-target="#" href="">
                                    <div class="input-append">
                                        <input type="text" placeholder="Birth Date" data-ng-model="admission.birth_date" style="min-height: 34px;padding: 6px 12px;width: 100%;border: 1px solid #ccc;">
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="birth_date">
                                    <datetimepicker data-ng-model="admission.birth_date" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="admission.email" placeholder="Email" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="admission.phone" placeholder="Phone Number" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Inquiry By</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="admission.inquiry_by" placeholder="Inquiry by" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Source</label>
                        <div class="col-sm-8">
                            <select ng-model="admission.source" class="form-control">
                                <option value="">Please Select</option>
                                <option ng-value="Hoarding">Hoarding</option>
                                <option ng-value="Advertisement">Advertisement</option>
                                <option ng-value="Magazine">Magazine</option>
                                <option ng-value="Search_Engine">Search Engine</option>
                                <option ng-value="Expo">Expo</option>
                                <option ng-value="Cold_Calling">Cold Calling</option>
                                <option ng-value="Web">Web</option>
                                <option ng-value="Reference">Reference</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Source Details</label>
                        <div class="col-sm-8">
                            <textarea ng-model="admission.source_detail" class="form-control" rows="8" cols="40" placeholder="Source Details" required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-8">
                            <textarea ng-model="admission.address" class="form-control" rows="8" cols="40" placeholder="Address" required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">City</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="admission.city" class="form-control" placeholder="City" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">State</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="admission.state" class="form-control" placeholder="State" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Country</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="admission.country" class="form-control" placeholder="Country" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Inquiry Status</label>
                        <div class="col-sm-8  ">
                            <select ng-model="admission.inquiry_status" class="form-control">
                                <option value="">Please Select</option>
                                <option ng-value="Warm">Warm</option>
                                <option ng-value="Cold">Cold</option>
                                <option ng-value="Hot">Hot</option>
                            </select>
                        </div>
                    </div>

                    <footer class="panel-footer text-right bg-light lter">
                        <!-- <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button> -->
                        <button class="btn btn-default" type="submit" ui-toggle-class="btn-success">
                            <span class="text">Save & Next</span>
                            <i class="fa fa-chevron-right text-muted"></i>
                        </button>
                        <button class="btn btn-default" ng-click="cancelAdmissionForm()" type="button" >Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div> -->
