<!-- <div class="bg-light lter b-b wrapper-md hidden-print">
    <h1 class="m-n font-thin h3">Manage Admission Inquiry</h1>
</div>
<div class="wrapper-md" ng-init="getAllSchoolStaff()" style="min-height:86vh;">
  <button type="button" name="button"  class="btn btn-default"  ng-click="createAdmissionInquiry()">Create Inquiry</button>
    <div class="well m-t bg-light lt">
        <div class="row">
            <div class="col-xs-3" ng-repeat="admission in admissions">
                <div class="panel b-a">
                    <div class="panel-heading b-b b-light">Admission Inquiry</div>
                    <div collapse="isCollapsed" class="panel-body collapse in" style="min-height: auto;">
                        <strong>{{admission.first_name | capitalize}} {{admission. last_name | capitalize}}</strong>
                        <p>Inquiry On:{{admission.created_at | date:'MM-dd-yyyy'}}<span class="badge pull-right">{{admission.inquiry_status}}</span></p>
                        <strong>Created_By:<span class="badge"><img ng-src="/upload/staffImages/{{admission.photo}}" alt="Image" height="30px" width="30px" /> {{admission.username}}</span></strong>
                        <p>
                            <br> Address: {{admission.address}}
                            <br>City:{{admission.city}}
                            <br>State:{{admission.state}}
                            <br> Country: {{admission.country}}
                            <br> Phone: {{admission.phone}}
                            <br> Email: {{admission.email}}
                            <br> Birth Date:{{admission.birth_date | date:'MM-dd-yyyy'}}
                        </p>
                    </div>
                    <center>
                        <button class="btn btn-dafault" ng-if="admission.admission_status == 'true'" disabled="true">Admitted</button>
                        <button class="btn btn-info" ng-if="admission.admission_status == 'false'" ng-click="studentProfile(admission.id)">Proceed to Addmission</button>
                        <button class="btn btn-danger"  ng-click="viewFollowups(admission.id)">View/Add Follow-up Info</button>
                    </center>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div> -->
