<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Admin</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-2">
                    <h3>Manage Admin</h3></div>
                <div class="col-md-3">
                    <br>
                    <button  class="form-control" ng-click="createSuperAdmin()">Create Super Admin</button>
                    <h3>
                    <div class="form-group">
                       <div class="input-group">
                           <input type="text" ng-model="searchText" class="form-control input bg-light no-border rounded padder ng-pristine ng-valid ng-empty ng-touched" placeholder="Search ...">
                           <span class="input-group-btn">
                           <button type="submit" class="btn bg-light rounded"><i class="fa fa-search"></i></button>
                           </span>
                       </div>
                   </div>
                   </h3>
                </div>
            </div>
        </div>
        <div ng-controller="superAdminListController" data-ng-init="superadminusers()">
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="users.length > '0'">
                            <tr ng-repeat="user in users | filter:searchText">
                                <td>{{user.first_name | capitalize}} {{user. last_name | capitalize}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.mobile}}</td>
                                <td>{{user.created_at| date:'MM-dd-yyyy'}}</td>
                                <td ng-if="user.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveUser(user.id)">Active</button>
                                </td>
                                <td ng-if="user.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeUser(user.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editUser(user.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteUser(user.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
                <div class="col-sm-4 text-right text-center-xs " style="float:right">
                    <br>
                    <input type="hidden" ng-model='offset' value='0'>
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li ng-if="offset > 0"><a href="" ng-click="ChengeOffest(-1)"><i class="fa fa-chevron-left"></i></a></li>
                        <li ng-if="users.length != 0"><a href="" ng-click="ChengeOffest(1)"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
