<div class="aside-wrap" style="min-width:auto!imporatnt">
    <div class="navi-wrap">
        <nav ui-nav class="navi clearfix ng-scope">
            <ul class="nav">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-u-c text-xs">
                    <b class="badge bg-info pull-right"></b>
                    <span>Super Admin</span>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="users.dashboard">
                        <b class="badge bg-info pull-right"></b>
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="users.todo_list">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-reorder (alias)" aria-hidden="true"></i>
                        <span>My To-Dos</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="users.listSuperAdmin">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>Manage Admins</span>
                    </a>
                </li>                
                <!-- <li>
                <a href class="auto">
                    <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                    <b class="badge bg-info pull-right"></b>
                    <i class="glyphicon icon-user"></i>
                    <span>Role Management</span>
                </a>
                <ul class="nav nav-sub dk">
                    <li class="nav-sub-header">
                        <a href="#">
                            <span>Role Management</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="#">
                            <span>Manage Admin Roles</span>
                        </a>
                    </li>
                </ul>
                </li> -->
                <li>
                    <a href class="auto">
                        <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                        <b class="badge bg-info pull-right"></b>
                        <i class="fa fa-bank (alias)"></i>
                        <span>Manage Schools</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                                <span>Manage Schools</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="users.school_create">
                              <i class="fa fa-building-o" aria-hidden="true"></i>
                                <span>New District/School</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="users.district_list">
                              <i class="fa fa-building" aria-hidden="true"></i>
                                <span>District Management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="users.school_list">
                              <i class="fa fa-bank (alias)" aria-hidden="true"></i>
                                <span>School Management</span>
                            </a>
                        </li>
                        <!-- <li ui-sref-active="active">
                        <a ui-sref="#">
                            <span>School Payments</span>
                        </a>
                        </li> -->
                    </ul>
                </li>
                <!-- <li>
                    <a href class="auto">
                        <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                        <i class="glyphicon glyphicon-file"></i>
                        <span>Manage Pages</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                                <span>Manage Pages</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="users.parent_menus_list">
                                <span>Manage Parent Menu</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="users.child_menus_list">
                                <span>Manage Menus</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="users.parent_pages_list">
                                <span>Manage Parent Page</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="users.child_pages_list">
                                <span>Manage Pages</span>
                            </a>
                            <a ui-sref="#">
                            <span>Manage Pages</span>
                            </a>
                        </li>
                    </ul>
                </li> -->

                <li ui-sref-active="active">
                    <a ui-sref="users.banner_list">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                        <span>Manage Banners</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="users.blogs_list">
                        <!-- <a ui-sref="#"> -->
                        <b class="badge dk pull-right"></b>
                        <i class="fa  fa-th-large " aria-hidden="true"></i>
                        <span>Manage Blogs</span>
                    </a>
                </li>

                <li>
                    <a href class="auto">
                        <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                        <b class="badge bg-info pull-right"></b>
                        <i class="glyphicon glyphicon-calendar"></i>
                        <span>Manage Events</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                                <span>Manage Events</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="users.events_list">
                              <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                <span>Events</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="users.event_registration_list">
                              <i class="glyphicon  glyphicon-registration-mark" aria-hidden="true"></i>
                                <span>Event Registrations</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- <li ui-sref-active="active">
                <a ui-sref="users.gallery_list">
                    <b class="badge dk pull-right"></b>
                    <i class="fa  fa-file-image-o" aria-hidden="true"></i>
                    <span>Manage Gallery</span>
                </a>
                </li> -->

                <li ui-sref-active="active">
                    <a ui-sref="users.package_list">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-sitemap" aria-hidden="true"></i>
                        <span>Manage Packages</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="users.newsleter_list">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        <span>Newsletters</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="users.templates_list">
                        <b class="badge dk pull-right"></b>
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        <span>Global Templates</span>
                    </a>
                </li>

                <!-- <li ui-sref-active="active">
                <a ui-sref="#">
                <b class="badge dk pull-right"></b>
                <i class="fa  icon-speech" aria-hidden="true"></i>
                <span>Push Notification</span>
                </a>
            </li> -->
                <!-- <li ui-sref-active="active">
                <a ui-sref="users.gallery_list">
                    <b class="badge dk pull-right"></b>
                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                    <span>Manage Gallery</span>
                </a>
                </li>

                <li ui-sref-active="active">
                <a ui-sref="#">
                    <b class="badge dk pull-right"></b>
                    <i class="fa fa-paypal" aria-hidden="true"></i>
                    <span>E-portal Payments</span>
                </a>
                </li>
                </ul> -->
        </nav>
    </div>
</div>
