<div class="aside-wrap">
    <div class="navi-wrap">
        <nav ui-nav class="navi">
            <ul class="nav">

                <li class="hidden-folded padder m-t m-b-sm text-muted text-u-c text-xs">
                    <span>School Sub Admin</span>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="users.dashboard">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>School Admins</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>School Departments</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Manage Security</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Manage Session</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Manage Admin Roles</span>
                    </a>
                </li>

                <li>
                    <a href class="auto">
                        <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
              </span>
                        <i class="glyphicon glyphicon-th"></i>
                        <span>E-Commerce Portal</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                                <span>E-Commerce Portal</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="#">
                                <span>Product Category</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="#">
                                <span>Manage Products</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Manage Staff</span>
                    </a>
                </li>

                <li>
                    <a href class="auto">
                        <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                        <i class="glyphicon glyphicon-th"></i>
                        <span>Accounting</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                                <span>Accounting</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="#">
                                <span>Fee Collection</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="#">
                                <span>Manage Fees</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href class="auto">
                        <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
              </span>
                        <i class="glyphicon glyphicon-th"></i>
                        <span>Manage Academics</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                                <span>Manage Academics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="#">
                                <span>Manage Grades</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="#">
                                <span>Manage Depts.</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="#">
                                <span>Manage Classes</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="#">
                                <span>Manage Subjects</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Send Messages</span>
                    </a>
                </li>

                <li>
                    <a href class="auto">
                        <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
              </span>
                        <i class="glyphicon glyphicon-th"></i>
                        <span>School Events</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                                <span>School Events</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="#">
                                <span>Manage Events</span>
                            </a>
                        </li>


                        <li ui-sref-active="active">
                            <a ui-sref="#">
                                <span>Event Registration</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="#">
                                <span>Manage Classes</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="#">
                                <span>Manage Subjects</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="account.manageadmin">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Push Notification></span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</div>
