<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Gallery</h1>
</div>
<div class="wrapper-md" ng-init="getEditGallery()">
    <div class="row" style="min-height:71vh;">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit='saveEditGallery()' class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Gallery</strong>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Event</label>
                            <div class="col-sm-9">
                                <select ng-model="gallery.event_id" class="form-control" ng-change="getEvent(gallery.event_id);">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="event in events" value="{{event.id}}" ng-value="{{event.id}}">{{event.title}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="gallery.gallery_title" placeholder="Gallery title" required>
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" value="submit" class="btn btn-success">Save</button>
                            <button class="btn btn-default" ng-click="cancelGallery()" type="button" >Cancel</button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
