<button class="btn btn-default" ng-click="galleryList()">Back to List</button>
<br>
<br>
<h2>Image Album</h2>
<hr>
<div class="" style="min-height:72vh;" data-ng-init="viewAlbum()">
    <form class="form-inline ng-pristine ng-valid" role="form" name="form" id="form" ng-submit="saveImage()">
        <div class="form-group" style="position:relative">
            <span style="position:absolute;top:-20px;left:50%;transform:translateX(-50%);">Step-1</span>
            <label class="sr-only" for="exampleInputEmail2">Email address</label>
            <input type="text" class="form-control" ng-model="image_description" placeholder="Type Image Description" required="true">
        </div>
        <div class="form-group" style="position:relative">
            <span style="position:absolute;top:-20px;left:50%;transform:translateX(-50%);">Step-2</span>
            <button type="submit" ngf-select="uploadFile($file)" ng-model="image_name" class="btn btn-default"><i class="fa fa-arrow-circle-o-up"></i> Select an Image</button>
        </div>
        <div class="form-group" style="position:relative">
            <span style="position:absolute;top:-20px;left:50%;transform:translateX(-50%);">Step-3</span>
            <button type="submit" class="btn btn-success">Add to Gallery</button>
        </div>
    </form>
    <br>
    <div class="bg-light panel-body">
        <div class="inline bg-white wrapper b-a" ng-repeat="image in galleryImages" style="margin: 10px 5px 10px 5px;">
            <i class="fa fa-times text-danger pull-right" ng-click="deleteImage(image.id)"></i>
            <a prettyp class="image" ng-href="/upload/galleryImages/{{image.image_name}}" rel="prettyPhoto[main]" target="_blank" title="{{image.image_description}}">
                <img ng-src="/upload/galleryImages/{{image.image_name}}" height="100px" />
            </a>
            <p>{{image.image_description}}</p>
        </div>
    </div>
</div>
