<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Assignments</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <br>
    <div class="panel panel-default" ng-init="getAllAssignmentsForStudents()">
        <div class="panel-heading">
            Manage Assignments
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Staff Name</th>
                            <th>Subject</th>
                            <!-- <th>Assignment Title</th> -->
                            <th>Achived Grade</th>
                            <th>Due Date</th>
                            <th>Status</th>
                            <th>Download File</th>
                            <th>Upload File</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="assignments.length > '0'">
                            <tr ng-repeat="assignment in assignments">
                                <td>{{assignment.staff_name}}</td>
                                <td>{{assignment.subject_name}}</td>
                                <!-- <td>{{assignment.title}}</td> -->
                                <td ng-if="assignment.achieved_grade === null">
                                    <button type="button" name="button" class="btn btn-default" disabled="true"><i class="glyphicon glyphicon-remove"></i>&nbsp; Assignment Pending</button>
                                </td>
                                <td ng-if="assignment.achieved_grade !== null">
                                    {{assignment.achieved_grade}}</td>
                                <td>{{assignment.due_date | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="assignment.status == '1'">
                                    <button class="btn btn-success" disabled="true"><i class="glyphicon glyphicon-ok"></i>&nbsp; Assignment Completed</button>
                                </td>
                                <td ng-if="assignment.status == '0'">
                                    <button class="btn btn-danger" disabled="true"><i class="glyphicon glyphicon-remove"></i>&nbsp; Assignment InComplete</button>
                                </td>
                                <td>
                                    <button class="btn btn-default" ng-click="DownloadAssignment(assignment)" style="width:150px;"><i class="glyphicon glyphicon-download-alt"></i>&nbsp; {{assignment.title}}</button>
                                </td>
                                <td ng-if="assignment.status == '1'">
                                    <button type="button" class="btn btn-default" disabled="true" style="width:100px;"><i class="glyphicon glyphicon-book"></i>&nbsp; Upload</button>
                                </td>
                                <td ng-if="assignment.status == '0'">
                                    <button type="button" class="btn btn-default" ng-click="submitAssignment(assignment)" style="width:100px;"><i class="glyphicon glyphicon-book"></i>&nbsp; Upload</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
