<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Assignments</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <br>
    <div class="panel panel-default" ng-init="getAllAssignments()">
        <div class="panel-heading">
            Download Assignments
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Staff Name</th>
                            <th>Grade</th>
                            <th>Class</th>
                            <!-- <th>Assignment Title</th> -->
                            <th>Due Date</th>
                            <th>Download File</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="assignments.length > '0'">
                            <tr ng-repeat="assignment in assignments">
                                <td>{{assignment.staff_name}}</td>
                                <td>{{assignment.grade}}</td>
                                <td>{{assignment.class_name}}</td>
                                <!-- <td>{{assignment.title}}</td> -->
                                <td>{{assignment.due_date | date:'MM-dd-yyyy'}}</td>
                                <td>
                                    <button class="btn btn-default" ng-click="DownloadAssignment(assignment)" style="width:150px;"><i class="glyphicon glyphicon-download-alt"></i>&nbsp; {{assignment.title}}</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
