<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage School Department</h1>
</div>
<div class="wrapper-md" ng-controller="listSchoolDeptController" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewDeptRedirect()">Add New Department</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllSchoolDepartment()">
        <div class="panel-heading">
            Manage School Department
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Department Name</th>
                            <th>School</th>
                            <th>Description</th>
                            <th>Created On</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="schooldepts.length > '0'">
                            <tr ng-repeat="schooldept in schooldepts">
                                <td>{{schooldept.department_name}}</td>
                                <td>{{schooldept.school_name}}</td>
                                <td>{{schooldept.department_description}}</td>
                                <td>{{schooldept.created_at | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="schooldept.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveSchoolDept(schooldept.id)">Active</button>
                                </td>
                                <td ng-if="schooldept.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeSchoolDept(schooldept.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editSchoolDept(schooldept.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteSchoolDept(schooldept.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
