<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
    " style="min-height:78vh;">
    <div class="col" ng-init="getAllSchoolAdminDashboardData()">
        <div class="bg-light lter b-b wrapper-md" id="12345">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">School Admin Dashboard</h1>
                    <small class="text-muted">Welcome to Thunder School</small>
                </div>
            </div>
        </div>
        <div class="wrapper-md" style="min-height:78vh;">
            <div class="row">
                <div class="col-md-6">
                    <div class="row row-sm text-center">
                        <div class="col-xs-6">
                            <a href="#" class="block panel padder-v bg-primary item">
                                <div class="h3 text-white font-thin h3"><i class="fa  fa-list-alt text-muted m-r-sm"></i>Payments Received</div>
                                <span class="text-muted text-xs h3">0</span>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" class="block panel padder-v bg-info  item" ng-click="studentEnrolledRedirect()">
                            <span class="text-white font-thin h3 block"><i class="fa  fa-image (alias) text-muted m-r-sm"></i>Students Enrolled</span>
                            <span class="text-muted text-xs h3">{{total_students}}</span>
                            </a>
                        </div>
                        <div class="col-xs-6" ng-click="departmentEnrolledRedirect()">
                            <a href="#" class="block panel padder-v bg-primary item">
                                <div class="h3 text-white font-thin h3"><i class="fa  fa-list-alt text-muted m-r-sm"></i>Department Enrolled</div>
                                <span class="text-muted text-xs h3">{{total_departments}}</span>
                            </a>
                        </div>
                        <div class="col-xs-6" ng-click="staffEnrolledRedirect()">
                            <a href="#" class="block panel padder-v bg-info  item">
                            <span class="text-white font-thin h3 block"><i class="fa  fa-image (alias) text-muted m-r-sm"></i>Staff Enrolled</span>
                            <span class="text-muted text-xs h3">{{total_staffs}}</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="calendar" id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
                    </div>
                    <div class="row">
                        <br>
                        <div class="panel no-border">
                            <div ng-repeat="studeCollapsed in studentCollapsed">
                                <div class="panel-heading wrapper b-b b-light">
                                    <button class="btn btn-primary pull-right" style="margin-top:-6px;" ng-click="studeCollapsed.isCollapsed = !studeCollapsed.isCollapsed" aria-expanded="true">Show Student List</button>
                                    <h4 class="font-thin m-t-none m-b-none text-muted">Registered Students</h4>
                                </div>
                                <div style="max-height:380px;overflow-x: hidden;">
                                    <ul class="list-group list-group-lg m-b-none">
                                        <div collapse="studeCollapsed.isCollapsed">
                                            <div ng-show="!studeCollapsed.isCollapsed">
                                                <div class="row">
                                                    <div class="col-md-8"></div>
                                                    <div class="col-md-4">
                                                        <input type="text" style="margin-top:10px;margin-bottom:10px;" ng-model="student_search.student_name" class="form-control bg-light no-border rounded ng-touched" placeholder="Search Student Name" style="">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="m-b list-group-item" ng-repeat="student in students_lists | filter:student_search" style="padding-bottom: 30px;">
                                                            <span style="margin-top: 5px;" class="label text-base bg-success pos-rlt m-r"><i class="arrow right arrow-success"></i> {{student.created_at | date:'MM-dd-yyyy'}}</span>
                                                            <a href="#">{{student.student_name}}</a>
                                                            <span class="pull-right">Phone : {{student.phone}}</span>
                                                            <br/>
                                                            <span class="pull-right">{{student.city}}, {{student.state}}, {{student.country}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel no-border">
                            <div ng-repeat="stafCollapsed in staffCollapsed">
                                <div class="panel-heading wrapper b-b b-light">
                                    <button class="btn btn-primary pull-right" style="margin-top:-6px;" ng-click="stafCollapsed.isCollapsed = !stafCollapsed.isCollapsed" aria-expanded="true">Show Staff List</button>
                                    <h4 class="font-thin m-t-none m-b-none text-muted">Registered Staffs</h4>
                                </div>
                                <div style="max-height:380px;overflow-x: hidden;">
                                    <ul class="list-group list-group-lg m-b-none">
                                        <div collapse="stafCollapsed.isCollapsed">
                                            <div ng-show="!stafCollapsed.isCollapsed">
                                                <div class="row">
                                                    <div class="col-md-8"></div>
                                                    <div class="col-md-4">
                                                        <input type="text" style="margin-top:10px;margin-bottom:10px;" ng-model="staff_search.staff_name" class="form-control bg-light no-border rounded ng-touched" placeholder="Search Staff Name" style="">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="m-b list-group-item" ng-repeat="staff in staffs_lists | filter:staff_search" style="padding-bottom: 30px;">
                                                            <span style="margin-top: 5px;" class="label text-base bg-success pos-rlt m-r"><i class="arrow right arrow-success"></i> {{staff.created_at | date : 'MM-dd-yyyy'}}</span>
                                                            <a href="#">{{staff.staff_name}}</a>
                                                            <span class="pull-right">Phone : {{staff.phone}}</span>
                                                            <br/>
                                                            <span class="pull-right">{{staff.city}}, {{staff.state}}, {{staff.country}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row"  style="margin-top:-10px;">
                        <div>
                            <h2>
                                <center>Student Enrolled Past Week</center>
                            </h2>
                        </div>
                        <canvas id="base" class="chart-bar"
                            chart-data="chart_data" chart-labels="chart_labels" chart-colors="chart_colors"
                            chart-dataset-override="chart_datasetOverride" >
                        </canvas>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="wrapper">
                                <ul class="timeline">
                                    <li class="tl-header">
                                        <div class="btn btn-success">Upcoming Events</div>
                                    </li>
                                    <li class="tl-item" ng-repeat="event in events_lists">
                                        <div class="tl-wrap b-success">
                                            <span class="tl-date">
                                            <span style="margin-top: 5px;margin-left: -15px;" class="label text-base bg-primary pos-rlt m-r ng-binding"><i class="arrow right arrow-primary"></i> {{event.start_date | date:'MM-dd-yyyy'}}</span>
                                            </span>
                                            <div class="tl-content panel padder b-a w-md w-auto-xs">
                                                <span class="arrow left pull-up"></span>
                                                <div class="text-lt m-b-sm">
                                                    <h4 class="font-thin m-t-none m-b-none text-muted">{{event.title}}</h4>
                                                </div>
                                                <div class="panel-body pull-in b-t b-light">
                                                    <div class="clear">
                                                        <span ng-bind-html='event.content'></span>
                                                        <br/>
                                                        <span class="pull-right">{{event.city}}, {{event.state}}, {{event.country}}</span>
                                                        <br>
                                                        <button ng-click="dashboardEditEvent(event.id)" class="btn btn-addon pull-right btn-sm btn-info m-t-xs"><i class="fa fa-pencil"></i>Edit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                        <div class="wrapper">
                            <ul class="timeline">
                                <li class="tl-header">
                                    <div class="btn btn-primary">My To-Dos</div>
                                </li>
                                <li class="tl-item" ng-repeat="todo in todo_lists">
                                    <div class="tl-wrap b-success">
                                        <span class="tl-date">
                                        <span style="margin-top: 5px;margin-left: -15px;" class="label text-base bg-primary pos-rlt m-r ng-binding"><i class="arrow right arrow-primary"></i> {{todo.date | date:'MM-dd-yyyy'}}</span>
                                        </span>
                                        <div ng-if="todo.status == '1'" class="tl-content panel bg-success padder">
                                          <span class="arrow arrow-success left pull-up hidden-left"></span>
                                          <span class="arrow arrow-success right pull-up visible-left"></span>
                                          <div class="text-lt">{{todo.description}}</div>
                                        </div>
                                        <div ng-if="todo.status == '0'" class="tl-content panel bg-danger padder">
                                          <span class="arrow arrow-danger left pull-up hidden-left"></span>
                                          <span class="arrow arrow-danger right pull-up visible-left"></span>
                                          <div class="text-lt">{{todo.description}}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>