<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Admission Inquiry</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-init="getSchoolGrades()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createAdmissionInquiry()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Admission Inquiry</strong>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Inquiry Date</label>
                        <div class="col-sm-8">
                            <datepicker date-format="'yyyy-MM-dd">
                                <input type="text" placeholder="Inquiry Date" data-ng-model="admission.inquiry_date" class="form-control" required="true">
                            </datepicker>
                        </div>
                    </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.first_name" placeholder="First Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Middle Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.middle_name" placeholder="Middle Name (Optional)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.last_name" placeholder="Last Name" required>
                            </div>
                        </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Gender</label>
                        <div class="radio col-sm-8">
                            <label class="i-checks">
                                <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'male'">
                                <i></i>Male
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'female'">
                                <i></i>Female
                            </label> &nbsp;&nbsp;&nbsp;
                             <label class="i-checks">
                                <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'other'">
                                <i></i>Other
                            </label> &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Session</label>
                        <div class="col-sm-8">
                            <select ng-model="admission.session_id" class="form-control" ng-change="getSchoolGrades(admission.session_id);">
                                <option value="">Please Select</option>
                                <option ng-repeat="session in sessions" value="{{session.id}}">{{session.session_name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Grade</label>
                        <div class="col-sm-8">
                            <select ng-model="admission.grade_id" class="form-control" ng-change="getSchoolGrades(admission.grade_id);">
                                <option value="">Please Select</option>
                                <option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Birth Date</label>
                        <div class="col-sm-8">
                            <datepicker date-format="'yyyy-MM-dd">
                                <input type="text" placeholder="Date of Birth" data-ng-model="admission.birth_date" class="form-control" required="true">
                            </datepicker>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="admission.email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-8">
                                <input type="password" pattern=".{6,}"   required title="minimum six character required!"  class="form-control" ng-model="admission.password" placeholder="Password" required>
                            </div>
                        </div>

                        <div class="form-group">
                        <label class="col-sm-3 control-label">Student Picture</label>
                        <div class="col-sm-2">
                            <div class="info-section" required="true">
                                <button ngf-select="uploadFile($file)" ng-model="admission.image" ngf-required="true" ng-required="true" class="btn btn-primary" > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp;   Select Image</button>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img height="100px" width="100px" class="r r-2x" src="/upload/studentImages/{{admission.image}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="admission.phone" placeholder="Phone Number" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Inquiry By</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="admission.inquiry_by" placeholder="Inquiry by"  required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Source</label>
                        <div class="col-sm-8">
                            <select ng-model="admission.source_id" class="form-control" required="true">
                                <option value="">Please Select</option>
                                <option ng-repeat="source in sources" value="{{source.id}}">{{source.source_title}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Source Details</label>
                        <div class="col-sm-8">
                            <textarea ng-model="admission.source_detail" class="form-control" rows="8" cols="40" placeholder="Source Details" required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-8">
                            <textarea ng-model="admission.address" class="form-control" rows="8" cols="40" placeholder="Address" required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">City</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="admission.city" class="form-control" placeholder="City" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">State</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="admission.state" class="form-control" placeholder="State" required>
                        </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="control-label col-sm-3">Zip code</label>
                      <div class="col-sm-8">
                          <input type="number" ng-mode="admission.zipcode" class="form-control" placeholder="Zip code" required>
                      </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Country</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="admission.country" class="form-control" placeholder="Country" required>
                        </div>
                    </div>

                    <div class="form-group">
                            <label class="col-sm-3 control-label">Medical Immunizations</label>
                            <div class="col-sm-8">
                                <select ng-model="admission.medical_immunizations" class="form-control" multiple="true">
                                    <option ng-repeat="info in infos" ng-if="info.type == 'Immunizations'" value="{{info.id}}">{{info.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Medical Allergies</label>
                            <div class="col-sm-8">
                                <select ng-model="admission.medical_allergies" class="form-control" multiple="true">
                                    <option ng-repeat="info in infos" ng-if="info.type == 'Allergies'" value="{{info.id}}">{{info.name}}</option>
                                </select>
                            </div>
                        </div>

                        
                        

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Social (Behavioral)</label>
                            <div class="col-sm-8">
                                <textarea rows="2" class="form-control" ng-model="admission.social_behavioral" placeholder="Social (Behavioral) Information"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Physical (Handicaps)</label>
                            <div class="col-sm-8">
                                <textarea rows="2" class="form-control" ng-model="admission.physical_handicaps" placeholder="Physical (Handicaps) Information"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Other Medical Information</label>
                            <div class="col-sm-8">
                                <textarea rows="2" class="form-control" ng-model="admission.medicalinfo" placeholder="Medical Information"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                        <label class="col-sm-3 control-label">Notes</label>
                        <div class="col-sm-8">
                            <textarea ng-model="admission.notes" class="form-control ng-pristine ng-valid ng-empty ng-touched" rows="8" cols="20" style=""></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Inquiry Status</label>
                        <div class="col-sm-8  ">
                            <select ng-model="admission.inquiry_status" class="form-control" required="true">
                                <option value="">Please Select</option>
                                <option ng-value="Warm">Warm</option>
                                <option ng-value="Cold">Cold</option>
                                <option ng-value="Hot">Hot</option>
                            </select>
                        </div>
                    </div>

                    <footer class="panel-footer text-right bg-light lter">
                        <!-- <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button> -->
                        <button class="btn btn-default" type="submit" ui-toggle-class="btn-success">
                            <span class="text">Create Inquery</span>
                        </button>
                        <button class="btn btn-default" ng-click="cancelAdmissionForm()" type="button" >Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
