 <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Admission Inquiry</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-init="getEditAdmission()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="saveEditAdmission()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Admission Inquiry </strong>
                    </div>
                    <br>
                    <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.first_name" placeholder="First Name" required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Middle Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.middle_name" placeholder="Middle Name (Optional)">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="admission.last_name" placeholder="Last Name" required="true">
                            </div>
                        </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Gender</label>
                        <div class="radio col-sm-8">
                            <label class="i-checks">
                                <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'male'">
                                <i></i>Male
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'female'">
                                <i></i>Female
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="admission.gender" type="radio" name="rdoGender" ng-value="'other'">
                                <i></i>Other
                            </label> &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Grade</label>
                        <div class="col-sm-8">
                            <select ng-model="admission.grade_id" class="form-control" ng-change="getSchoolGrades(admission.grade_id);" required="true">
                                <option value="">Please Select</option>
                                <option ng-repeat="grade in grades" value="{{grade.id}}" ng-value="{{grade.id}}">{{grade.grade}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Session</label>
                        <div class="col-sm-8">
                            <select ng-model="admission.session_id" class="form-control" ng-change="getSchoolGrades(admission.session_id);" required="true">
                                <option value="">Please Select</option>
                                <option ng-repeat="session in sessions" value="{{session.id}}" ng-value="{{session.id}}">{{session.session_name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Birth Date</label>
                        <div class="col-sm-8">
                            <datepicker date-format="MM-dd-yyyy" required="true">
                                <input type="text" placeholder="Date of Birth" data-ng-model="admission.birth_date" class="form-control" >
                            </datepicker>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="admission.email" placeholder="Email" required="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="admission.phone" placeholder="Phone Number" required="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Inquiry By</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="admission.inquiry_by" placeholder="Inquiry by" required="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Source</label>
                      <div class="col-sm-8">
                            <select ng-model="admission.source" class="form-control" required="true">
                                <option value="">Please Select</option>
                                <option ng-repeat="source in sources" value="{{source.id}}" ng-value="{{source.id}}"  selected="selected">{{source.source_title}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Source Details</label>
                        <div class="col-sm-8">
                            <textarea ng-model="admission.source_detail" class="form-control" rows="8" cols="40" placeholder="Source Details" required="true"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-8">
                            <textarea ng-model="admission.address" class="form-control" rows="8" cols="40" placeholder="Address" required="true"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">City</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="admission.city" class="form-control" placeholder="City" required="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">State</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="admission.state" class="form-control" placeholder="State" required="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Zipcode</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="admission.zipcode" class="form-control" placeholder="Enter zipcode">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Country</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="admission.country" class="form-control" placeholder="Country" required="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="info-section" required="true">
                                <button ngf-select="uploadFile($file)" ng-model="admission.image" ngf-required="true" ng-required="true" class="btn btn-primary" > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp;   Select Image</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Notes</label>
                        <div class="col-sm-8">
                            <textarea ng-model="admission.notes" class="form-control ng-pristine ng-valid ng-empty ng-touched" rows="8" cols="20" style=""></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Inquiry Status</label>
                        <div class="col-sm-8">
                            <select ng-model="admission.inquiry_status" class="form-control" required="true">
                                <option value="">Please Select</option>
                                <option ng-value="Warm">Warm</option>
                                <option ng-value="Cold">Cold</option>
                                <option ng-value="Hot">Hot</option>
                            </select>
                        </div>
                    </div>

                    <footer class="panel-footer text-right bg-light lter">
                        <button class="btn btn-default" type="submit" ui-toggle-class="btn-success">
                            <span class="text">Update</span>
                            <i class="fa fa-chevron-right text-muted"></i>
                        </button>
                        <button class="btn btn-default" ng-click="cancelAdmissionForm()" type="button" >Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
