<div class="col-md-12  bg-light" style="min-height:80vh;">
    <div class="wrapper">
        <div class="multipleChoiceQuestions">
            <br>
            <h3 class="m-n font-thin">Home Work <span style="font-size:15px;">Details</span></h3>
            <br>
            <blockquote class="bg-white">
                <p ng-bind="homework.title" class="ng-binding">test binit</p>
                <p class="pull-right ng-binding" ng-bind="homework.created_at | date: MM-dd-yyyy">Oct 13, 2016</p>
                <br>
                <small ng-bind="homework.description" class="ng-binding">test test</small>
            </blockquote>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <blockquote class="bg-white">
                        <p ng-bind="homework.title" class="ng-binding">test binit</p>
                        <p class="pull-right ng-binding" ng-bind="homework.created_at | date: MM-dd-yyyy">Oct 13, 2016</p>
                        <br>
                        <small ng-bind="homework.description" class="ng-binding">test test</small>
                    </blockquote>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <blockquote class="bg-white">
                        <p ng-bind="homework.title" class="ng-binding">test binit</p>
                        <p class="pull-right ng-binding" ng-bind="homework.created_at | date: MM-dd-yyyy">Oct 13, 2016</p>
                        <br>
                        <small ng-bind="homework.description" class="ng-binding">test test</small>
                    </blockquote>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <blockquote class="bg-white">
                        <p ng-bind="homework.title" class="ng-binding">test binit</p>
                        <p class="pull-right ng-binding" ng-bind="homework.created_at | date: MM-dd-yyyy">Oct 13, 2016</p>
                        <br>
                        <small ng-bind="homework.description" class="ng-binding">test test</small>
                    </blockquote>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <blockquote class="bg-white">
                        <p ng-bind="homework.title" class="ng-binding">test binit</p>
                        <p class="pull-right ng-binding" ng-bind="homework.created_at | date: MM-dd-yyyy">Oct 13, 2016</p>
                        <br>
                        <small ng-bind="homework.description" class="ng-binding">test test</small>
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea name="name" rows="8" cols="40" class="form-control"></textarea>
                </div>
            </div>
            <br>
            <center>
                <button type="button" name="button" class="btn btn-success">Submit</button>
            </center>
        </div>
    </div>
</div>