<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Exam Results</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="studentsResultListStaffController">
    <div class="panel panel-default" ng-init="getAllExamResultList()">
        <div class="panel-heading">
            Exam Results
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Session</th>
                            <th>Grade</th>
                            <th>Subject</th>
                            <th>Class</th>
                            <th>Student Name</th>
                            <th>Score</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="results.length > 0">
                            <tr ng-repeat="result in results">
                                <td>{{result.session_name}}</td>
                                <td>{{result.grade}}</td>
                                <td>{{result.subject_name}}</td>
                                <td>{{result.class_name}}</td>
                                <td>{{result.student_name}}</td>
                                <td>{{result.achived_marks}}</td>
                                <td>{{result.created_at | date:'MM-dd-yyyy'}}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
