<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Exams</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="studentsExamListController">
    <div class="panel panel-default" ng-init="getAllExamList()">
        <div class="panel-heading">
            Exams
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Exam</th>
                            <th>Session</th>
                            <th>Subject</th>
                            <th>Class</th>
                            <th>Achived Marks</th>
                            <th>Start / End Date</th>
                            <th>Start / End Time</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="exams.length > 0">
                            <tr ng-repeat="exam in exams">
                                <td>{{exam.exam_head}}</td>
                                <td>{{exam.session_name}}</td>
                                <td>{{exam.subject_name}}</td>
                                <td>{{exam.class_name}}</td>
                                <td>{{exam.achived_marks}} / {{exam.total_marks}}</td>
                                <td>{{exam.start_date | date:"MM-dd-yyyy"}} / {{exam.end_date | date:"MM-dd-yyyy"}}</td>
                                <td>{{exam.start_time}} / {{exam.end_time}}</td>
                                <td ng-if="exam.status == '0'">
                                    <button type="button" style="width:127px;" class="btn btn-danger">Exam Pending</button>
                                </td>
                                <td ng-if="exam.status == '1'">
                                    <button type="button" class="btn btn-success">Exam Completed</button>
                                </td>
                                <td ng-if="exam.status == '0'">
                                    <button type="button" style="width:96px;" class="btn btn-primary" ng-click="takeExam(exam.exam_id)"> Take Exam</button>
                                </td>
                                <td ng-if="exam.status == '1'">
                                    <button type="button" ng-click="viewReport(exam.exam_id)" class="btn btn-primary">View Report</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
