<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Appointment</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewAppointment()">Add New Appointment</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllAppointments()">
        <div class="panel-heading">
            Manage Appointment
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Appointment Type</th>
                            <th>Description</th>
                            <th>Phone Number</th>
                            <th>Date Time</th>
                            <th>Appointment With Staff</th>
                            <!-- <th>Appointment Arrived ?</th>-->
                            <th>Status</th>
                            <!-- <th>Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="appointments.length > '0'">
                            <tr ng-repeat="appointment in appointments">
                                <td>{{appointment.appointment_type}}</td>
                                <td>{{appointment.description}}</td>
                                <td>{{appointment.phone_number}}</td>
                                <td>{{appointment.datetime| date:'MM-dd-yyyy'}}</td>
                                <td>{{appointment.staff_name}}</td>
                                <td ng-if="appointment.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-disabled="true">Pending</button>
                                </td>
                                <td ng-if="appointment.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-disabled="true">Accepted</button>
                                </td>
                                <td ng-if="appointment.status == '2'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-disabled="true">Declined</button>
                                </td>
                                <td ng-if="appointment.status == '3'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-disabled="true">Rescheduled</button>
                                </td>
                                <td ng-if="appointment.status == '4'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-disabled="true">No Show</button>
                                </td>
                                <td ng-if="appointment.status == '5'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-disabled="true">Completed</button>
                                </td>
                                <!-- <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editAppointment(appointment.id)"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteAppointment(appointment.id)"><i class="glyphicon glyphicon-remove"></i>&nbsp;Delete</button>
                                </td> -->
                            </tr>
                        </div>
                </table>
            </div>
        </div>
    </div>
</div>
