<div class="" style="min-height:82vh">
    <button type="button" class="btn btn-default" name="button" ng-click="btnBack()">Back To List</button>
    <button type="button" class="btn btn-default" name="button" ng-click="btnRefresh()">Refresh</button>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading" ng-repeat="issue in issuesData | limitTo:1">
            <span class="label bg-danger pull-right m-t-xs"></span> {{issue.subject}}
        </div>
        <div class="panel panel-default" ng-init='viewMessage()'>

            <div class="panel" ng-repeat="issue in issuesData">
                <div class="wrapper-lg">
                    <h4 class="m-t-none"><p><a href="">Message:</a>&nbsp;{{issue.message}}</p></h4>
                    <div class="line line-lg b-b b-light"></div>
                    <div class="text-muted" ng-if="issue.student_id">
                        <div class="" ng-show="issue.message_from === issue.student_id">
                            <i class="fa fa-user text-muted"></i> by <a href="" class="m-r-sm">{{issue.student_name}}</a>
                            <i class="fa fa-clock-o text-muted"></i>&nbsp;<a href="" class="m-r-sm">{{issue.created_at | date:'MM-dd-yyyy'}}</a>
                        </div>
                        <div class="" ng-show="issue.message_from === issue.staff_id">
                            <i class="fa fa-user text-muted"></i> by <a href="" class="m-r-sm">{{issue.staff_name}}</a>
                            <i class="fa fa-clock-o text-muted"></i>&nbsp;<a href="" class="m-r-sm">{{issue.created_at | date:'MM-dd-yyyy'}}</a>
                        </div>
                    </div>
                    <div class="text-muted" ng-if="issue.parent_id">
                        <div class="" ng-show="issue.message_from === issue.parent_id">
                            <i class="fa fa-user text-muted"></i> by <a href="" class="m-r-sm">{{issue.full_name}}</a>
                            <i class="fa fa-clock-o text-muted"></i>&nbsp;<a href="" class="m-r-sm">{{issue.created_at | date:'MM-dd-yyyy'}}</a>
                        </div>
                        <div class="" ng-show="issue.message_from === issue.staff_id">
                            <i class="fa fa-user text-muted"></i> by <a href="" class="m-r-sm">{{issue.staff_name}}</a>
                            <i class="fa fa-clock-o text-muted"></i>&nbsp;<a href="" class="m-r-sm">{{issue.created_at | date:'MM-dd-yyyy'}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="responseIssuesFromParentController">
        <form method="post" ng-submit="responseMessageFromParents()">
            <div class="col-sm-8">
                <a href="#" class="h4">Response</a>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default m-t-md m-b-n-sm pos-rlt">
                    <form>
                        <textarea class="form-control no-border" rows="3" placeholder="Your Message..." ng-model="response.message"></textarea>
                    </form>
                    <div class="panel-footer bg-light lter">
                        <button class="btn btn-info pull-right btn-sm">Send</button>
                        <ul class="nav nav-pills nav-sm">
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
