<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Todo</h1>
</div>
<div class="wrapper-md">
    <div class="row" style="min-height:78vh;" ng-controller="superAdminTodoCreateController">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createTodo()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Todo</strong>
                    </div>
                    <br>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Date</label>
                            <div class="col-sm-9">
                                <datepicker date-format="MM-dd-yyyy" ng-click="start_date()" date-min-limit="{{minDate}}">
                                    <input type="text" placeholder="Select Date" data-ng-model="todo.date" class="form-control" required="true" >
                                </datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea rows="8" name='description' class="form-control" cols="40" ng-model="todo.description" placeholder="Description" r  equired></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-10 control-label"></label>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-success">Create</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
