<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Grades</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-controller="createSchoolGradesController">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createGrade()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Grades</strong>
                    </div>
                    <div class="panel-body">
                        <!-- <div class="form-group">
                            <label class="col-sm-3 control-label">Select Grade</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="grade.grade">
                                    <option value="">Select Grade </option>
                                    <option value="Junior KG">Junior KG </option>
                                    <option value="Senior KG">Senior KG</option>
                                    <option value="Grade I">Grade I</option>
                                    <option value="Grade II">Grade II</option>
                                    <option value="Grade III">Grade III</option>
                                    <option value="Grade IV">Grade IV</option>
                                    <option value="Grade V">Grade V</option>
                                    <option value="Grade VI">Grade VI</option>
                                    <option value="Grade VII">Grade VII</option>
                                    <option value="Grade VIII">Grade VIII</option>
                                    <option value="Grade IX">Grade IX</option>
                                    <option value="Grade X">Grade X</option>
                                    <option value="Grade XI">Grade XI</option>
                                    <option value="Grade XII">Grade XII</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Enter Grade</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="grade.grade" placeholder="Enter Grade" required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Position</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" ng-model="grade.position" placeholder="Position" required="true">
                            </div>
                        </div>
                    </div>

                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                        <button class="btn btn-default" ng-click="cancelGradeForm()" type="button" >Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
