<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Grades</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="listSchoolGradesController">
    <button class="btn btn-default" ng-click="addNewGrade()">Add New Grades</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllSchoolGrades()">
        <div class="panel-heading">
            Manage Grades
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>School Name</th>
                            <th>Grade Name</th>
                            <th>Position</th>
                            <th>Created On</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="grades.length > '0'">
                            <tr ng-repeat="grade in grades">
                                <td>{{grade.school_name}}</td>
                                <td>{{grade.grade}}</td>
                                <td>{{grade.position}}</td>
                                <td>{{grade.created_at | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="grade.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveGrades(grade.id)">Active</button>
                                </td>
                                <td ng-if="grade.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeGrades(grade.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editGrades(grade.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteGrades(grade.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
