<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage Subject</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="listSchoolSubjectController">
    <button class="btn btn-default" ng-click="addNewSubject()">Add New Subject</button>
    <br>
    <br>
    <div class="panel panel-default" ng-init="getAllSchoolSubject()">
        <div class="panel-heading">
            Manage Subject
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>School Name</th>
                            <th>Grade</th>
                            <th>Department</th>
                            <th>Subject Name</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="subjects.length > '0'">
                            <tr ng-repeat="subject in subjects">
                                <td>{{subject.school_name}}</td>
                                <td>{{subject.grade}}</td>
                                <td>{{subject.department_name}}</td>
                                <td>{{subject.subject_name}}</td>
                                <td>{{subject.type}}</td>
                                <td>{{subject.description}}</td>
                                <td>{{subject.created_at | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="subject.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveSubject(subject.id)">Active</button>
                                </td>
                                <td ng-if="subject.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeSubject(subject.id)">Inactive</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editSubject(subject.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteSubject(subject.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
