<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Product</h1>
</div>
<div class="wrapper-md" ng-controller="editDistrictProductController" style="min-height:76vh;">
    <div class="row" ng-init="getEditProduct()">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit="saveEditProduct()" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Product</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Category</label>
                            <div class="col-sm-9">
                                <select ng-model="product.category_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="category in categories"  ng-value="{{category.id}}"value="{{category.id}}">{{category.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Product Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="product.product_name" placeholder="Category Name" required>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <div class="info-section">
                                    <button ngf-select="uploadFile($file)" ng-model="product.product_image" class="btn btn-primary" > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp;   Select Image</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Quantity</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model='product.product_quantity' class="form-control" placeholder="Product Quantity" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Price</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model='product.product_price' class="form-control" placeholder="Product Price" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Discount</label>
                            <div class="col-sm-9">
                                <input type="number" ng-model='product.product_discount' class="form-control" placeholder="Product Discount" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Notes</label>
                            <div class="col-sm-9">
                                <textarea ng-model='product.product_notes' class="form-control" rows="8" cols="40" placeholder="Notes" required></textarea>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelProductForm()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
