<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add New Material</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-init="getSchoolGrades()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createMaterials()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Add New Material</strong>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Grade</label>
                        <div class="col-sm-8">
                            <select ng-model="material.grade_id" class="form-control" ng-change="changeSubjects(material.grade_id);" required="true">
                                <option value="">Please Select</option>
                                <option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Subject</label>
                        <div class="col-sm-8">
                            <select ng-model="material.subject_id" class="form-control" required="true">
                                <option value="">Please Select</option>
                                <option ng-repeat="subject in subjects" value="{{subject.id}}">{{subject.subject_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Title</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="material.title" placeholder="Enter File title" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="material.description" placeholder="Enter File description" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Material File</label>
                        <div class="col-sm-8">
                            <button ngf-select="uploadFile($file)" ng-model="material.file" class="btn btn-primary"  > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp; Add Material File</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Due Date</label>
                        <div class="col-sm-8">
                            <datepicker date-format="'yyyy-MM-dd">
                                <input type="text" placeholder="Enter Date" data-ng-model="material.due_date" class="form-control" required="true">
                            </datepicker>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Cover Picture (Optional)</label>
                        <div class="col-sm-3">
                            <button ngf-select="uploadCoverFile($file)" ng-model="material.file" class="btn btn-primary">
                            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp; Add Cover Picture</button>
                        </div>
                        <div class="col-md-3">
                            <img src='/upload/materials/{{material.cover_pic}}' width="100px" height="100px">    
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Publisher</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="material.publisher" placeholder="Enter Publisher Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">ISBN Number</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="material.isbn_number" placeholder="Enter ISBN number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Author</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="material.author" placeholder="Author Name">
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                        <button class="btn btn-default" ng-click="listMaterials()" type="button" >Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
