<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Banner</h1>
</div>
<div class="wrapper-md" ng-controller="bannerController" style="min-height:78vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="createBanner($scope)" enctype="multipart/form-data">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Create Banner</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="banner_title" placeholder="Banner Title" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Order</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" ng-model="banner_order" placeholder="Banner Order" required>
                            </div>
                        </div>

                         <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <div class="info-section">
                                    <button ngf-select="uploadFile($file)" accept=".jpeg,.jpg,.png,image/*" ng-model="image_path" class="btn btn-primary" ><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp;   Select Image</button>
                                </div>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelBanner()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
