<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Banner</h1>
</div>
<div class="wrapper-md">
    <div class="row" style="min-height:76vh;">
        <div class="col-sm-8" ng-controller="editBannerController" ng-init="getEditBanner()">
            <form name="formValidate" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Banner</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="banner.title" placeholder="Banner title" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Order</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" ng-model="banner.order" placeholder="Banner Order" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <div class="info-section">
                                    <button ngf-select="uploadFile($file)" ng-model="image_url" class="btn btn-primary" > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp;   Select Image</button>
                                     <!-- <img ng-src="/upload/blogImages/{{blog.blog_thumb_image_path}}" alt="Image" width="150px" height="150px"> -->
                                </div>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" ng-click="saveEditBanner()" style="width: 64.44px;">Save</button>
                            <button class="btn btn-default" ng-click="cancelBanner()" type="button" >Cancel</button>
                        </footer>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
