<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add New Banner</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="listBannerController">
    <button class="btn btn-default" ng-click="addNewBanner()">Add New Banner</button>
    <br>
    <br>
    <div class="panel panel-default" data-ng-init="listBanner()">
        <div class="panel-heading">
            Add New Banner
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Order</th>
                            <th>Image</th>
                            <th>Created on</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="banners.length > '0'" ng-repeat="banner in banners">
                            <td>{{banner.title}}</td>
                            <td>{{banner.order}}</td>
                            <td>
                                <img ng-src="/upload/bannerImages/{{banner.image_path}}" alt="Image" height="70px" width="70px" />
                            </td>
                            <td>{{banner.created_at| date:'MM-dd-yyyy'}}</td>
                            <td ng-if="banner.status == '1'">
                                <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveBanner(banner.id)">Active</button>
                            </td>
                            <td ng-if="banner.status == '0'">
                                <button class="btn m-b-xs w-xs btn-danger" ng-click="activeBanner(banner.id)">Inactive</button>
                            </td>
                            <td>
                                <button class="btn m-b-xs w-xs btn-primary" ng-click="editBanner(banner.id)">Edit</button>
                                <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteBanner(banner.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
