<div class="bg-light lter b-b wrapper-md">
   <h1 class="m-n font-thin h3">Add New Notice</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-init="listSchools()">
   <div class="row">
      <div class="col-sm-8">
         <form name="formValidate" class="form-horizontal form-validation" ng-submit="createNotices()">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <strong>Add New Notice</strong>
               </div>
               <br>
               <br>
               <br>
               <div class="form-group">
                  <label class="col-sm-3 control-label">Send Options</label>
                  <div class="col-sm-8">
                     <select ng-model="notice.send_option" class="form-control" >
                        <option value="sms">Send SMS only</option>
                        <option value="email">Send Email only</option>
                        <option value="both">Send SMS and Email both</option>
                     </select>
                  </div>
               </div>
               <br>
               <div class="form-group">
                  <label class="col-sm-3 control-label">Message</label>
                  <div class="col-sm-8">
                     <textarea name="name" rows="4" cols="40" class="form-control" ng-model="notice.message" placeholder="Enter Message" required></textarea>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-3 control-label">Send Notice to</label>
                  <div class="col-sm-9">
                     <div class="checkbox col-sm-4" ng-repeat="notice in notices">
                        <label class="i-checks">
                        <input name="notice" type="checkbox" ng-click="checkStudent(notice.name,notice.selected)" ng-model="notice.selected" value={{notice.name}}>
                        <i></i>  {{notice.name}}
                        </label>
                     </div>
                  </div>
               </div>
               <br>
               <div class="form-group">
                  <label class="col-sm-3 control-label">Gender</label>
                  <div class="col-sm-8">
                     <select ng-model="notice.gender" class="form-control" >
                        <option value="">Send To All Genders</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Others</option>
                     </select>
                  </div>
               </div>
               <br>
               <div class="form-group" ng-if="grade_show">
                  <label class="col-sm-3 control-label">Grade</label>
                  <div class="col-sm-8">
                     <select ng-model="notice.grade_id" class="form-control" >
                        <option value="">Send To All Grade Students</option>
                        <option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
                     </select>
                  </div>
               </div>
               <div class="form-group" ng-if="grade_show">
                  <label class="col-sm-3 control-label">Class</label>
                  <div class="col-sm-8">
                     <select ng-model="notice.class_id" class="form-control" >
                        <option value="">Send To All Class Students</option>
                        <option ng-repeat="cls in classes" value="{{cls.id}}">{{cls.class_name}}</option>
                     </select>
                  </div>
               </div>
               <br>
               <footer class="panel-footer text-right bg-light lter">
                  <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                  <button class="btn btn-default" ng-click="listNotices()" type="button">Cancel</button>
               </footer>
            </div>
         </form>
      </div>
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="row">
               <div class="col-md-12">
                  <div class="panel-heading">
                     <strong>Keywords you can use in Email Templetes using name between &lt;&lt;&gt;&gt;</strong>
                  </div>
                  <div class="panel-body">
                     <div class="control-label" style="font-size:18px;">&lt;&lt;FIRST_NAME&gt;&gt;</div>
                     <div class="control-label" style="font-size:18px;">&lt;&lt;LAST_NAME&gt;&gt;</div>
                     <div class="control-label" style="font-size:18px;">&lt;&lt;FULL_NAME&gt;&gt;</div>
                     <div class="control-label" style="font-size:18px;">&lt;&lt;SCHOOL_NAME&gt;&gt;</div>
                     <div class="control-label" style="font-size:18px;">&lt;&lt;TYPE&gt;&gt;</div>
                     <div class="control-label" style="font-size:18px;">&lt;&lt;EMAIL&gt;&gt;</div>
                     <div class="control-label" style="font-size:18px;">&lt;&lt;GRADE&gt;&gt;</div>
                     <div class="control-label" style="font-size:18px;">&lt;&lt;SESSION_NAME&gt;&gt;</div>
                     <div class="control-label" style="font-size:18px;">&lt;&lt;MOBILE_NUMBER&gt;&gt;</div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="panel-heading">
                     <strong>Extra district fields only for students</strong>
                  </div>
                  <div class="panel-body">
                     <div class="control-label" style="font-size:18px;">&lt;&lt;TOTAL_MARKS&gt;&gt;</div>
                     <div class="control-label" style="font-size:18px;">&lt;&lt;ACHIVED_MARKS&gt;&gt;</div>
                     <div class="control-label" style="font-size:18px;">&lt;&lt;ACHIVED_GRADE&gt;&gt;</div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="panel-heading">
                     <strong>Extra district fields only  for parents</strong>
                  </div>
                  <div class="panel-body">
                     <div class="control-label" style="font-size:18px;">&lt;&lt;CHILD_NAME&gt;&gt;</div>
                     <div class="control-label" style="font-size:18px;">&lt;&lt;TOTAL_MARKS&gt;&gt;</div>
                     <div class="control-label" style="font-size:18px;">&lt;&lt;ACHIVED_MARKS&gt;&gt;</div>
                     <div class="control-label" style="font-size:18px;">&lt;&lt;ACHIVED_GRADE&gt;&gt;</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               <strong>Example for Parents:</strong>
            </div>
            <div class="panel-body">
               <div class="control-label" style="font-size:18px;">
                  Hello &lt;&lt;FULL_NAME&gt;&gt;,  
                  <br/>
                  For &lt;&lt;SESSION_NAME&gt;&gt; session your child &lt;&lt;CHILD_NAME&gt;&gt; got &lt;&lt;ACHIVED_MARKS&gt;&gt; from total &lt;&lt;TOTAL_MARKS&gt;&gt;, and achived &lt;&lt;ACHIVED_GRADE&gt;&gt; and will be promoted to the next grade.
               </div>
            </div>
            <div class="panel-heading">
               <strong>Example for Students:</strong>
            </div>
            <div class="panel-body">
               <div class="control-label" style="font-size:18px;">
                  Hello &lt;&lt;FULL_NAME&gt;&gt;,  
                  <br/>
                  For &lt;&lt;SESSION_NAME&gt;&gt; session you got &lt;&lt;ACHIVED_MARKS&gt;&gt; from total &lt;&lt;TOTAL_MARKS&gt;&gt;, and achived &lt;&lt;ACHIVED_GRADE&gt;&gt; and will be promoted to the next grade.
               </div>
            </div>
            <div class="panel-heading">
               <strong>Example for Staff:</strong>
            </div>
            <div class="panel-body">
               <div class="control-label" style="font-size:18px;">
                  Hello &lt;&lt;FULL_NAME&gt;&gt;,  
                  <br/>
                  We are about to end of this &lt;&lt;SESSION_NAME&gt;&gt; if you have any pending grade to give student please update and calculate. 
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
      </div>
   </div>
</div>