<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Notice</h1>
</div>
<div class="wrapper-md" style="min-height:76vh;" ng-init="getEditNotice()">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" class="form-horizontal form-validation" ng-submit="updateNotice()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Notice</strong>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Message</label>
                        <div class="col-sm-8">
                            <textarea name="name" rows="4" cols="40" class="form-control" ng-model="notice.message" placeholder="Enter Message" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Send Notice to</label>
                        <div class="col-sm-9">
                            <div class="checkbox col-sm-4">
                                <label class="i-checks">
                                  <input type="checkbox" name="notice.send_notice" ng-model="notice.send_notice.all" value="notice.send_notice.all" ng-required="notice.send_notice.all">
                                  <i></i> All
                              </label>
                            </div>
                            <div class="checkbox col-sm-4">
                                <label class="i-checks">
                                    <input type="checkbox" name="notice.send_notice" ng-model="notice.send_notice.staff" value="notice.send_notice.staff" >
                                    <i></i> Staff
                                </label>
                            </div>
                            <div class="checkbox col-sm-4">
                                <label class="i-checks">
                                    <input type="checkbox" name="notice.send_notice" ng-model="notice.send_notice.student" value="notice.send_notice.student">
                                    <i></i> Student
                                </label>
                            </div>
                            <div class="checkbox col-sm-4">
                                <label class="i-checks">
                                    <input type="checkbox" name="notice.send_notice" ng-model="notice.send_notice.parents" value="notice.send_notice.parents">
                                    <i></i> Parents
                                </label>
                            </div>
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                        <button class="btn btn-default" ng-click="listNotices()" type="button">Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
