<!-- <div class="app" id="app">
    <div class="app-content">
        <div ui-butterbar></div>
        <a href class="off-screen-toggle hide" data-toggle="class:off-screen" data-target=".app-aside"></a>
        <div class="app-content-body fade-in-up">
            <div class="hbox hbox-auto-xs hbox-auto-sm">
                <div class="col">
                    <div class="wrapper-lg bg-white-opacity">
                        <div class="row m-t">
                            <div id="" ui-view></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->