<div class="bg-light lter b-b wrapper-md">
   <h1 class="m-n font-thin h3">View Staff/Classes</h1>
</div>
<style type="text/css">
   .mymousehower:hover { background-color: #98d0a6; }
   .panel-heading:hover { background-color: #98d0a6; }
</style>
<div class="wrapper-md" style="min-height:78vh;" ng-controller="parentStaffListController">
   <div class="panel panel-default" ng-init="getAllStudentClasses()">
      <div class="" style="min-height:78vh;">
         <div class="panel panel-default col-md-4 mymousehower" >
            <div class="panel-heading">
               <h2>Monday</h2>
            </div>
            <div>
               <div class="table-responsive">
                  <table  class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                     <thead>
                        <tr>
                           <th>Staff Name</th>
                           <th>Grade/ <br/> Subject/ <br/> Class</th>
                           <th>Location</th>
                           <th>Start Time</th>
                           <th>End Time</th>
                        </tr>
                     </thead>
                     <tbody>
                        <div ng-if="staffs.length > 0">
                           <tr ng-repeat="staff in staffs | filter:'Monday'">
                              <td>{{staff.staff_name}}</td>
                              <td>{{staff.grade}}/ <br/> {{staff.subject_name}}/<br/> {{staff.class_name}}</td>
                              <td>{{staff.location}}</td>
                              <td>{{staff.start_time}}</td>
                              <td>{{staff.end_time}}</td>
                           </tr>
                        </div>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="panel panel-default col-md-4 mymousehower" >
            <div class="panel-heading">
               <h2>Tuesday</h2>
            </div>
            <div>
               <div class="table-responsive">
                  <table  class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                     <thead>
                        <tr>
                           <th>Staff Name</th>
                           <th>Grade/ <br/> Subject/ <br/> Class</th>
                           <th>Location</th>
                           <th>Start Time</th>
                           <th>End Time</th>
                        </tr>
                     </thead>
                     <tbody>
                        <div ng-if="staffs.length > 0">
                           <tr ng-repeat="staff in staffs | filter:'Tuesday'">
                              <td>{{staff.staff_name}}</td>
                              <td>{{staff.grade}}/ <br/> {{staff.subject_name}}/<br/> {{staff.class_name}}</td>
                              <td>{{staff.location}}</td>
                              <td>{{staff.start_time}}</td>
                              <td>{{staff.end_time}}</td>
                           </tr>
                        </div>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="panel panel-default col-md-4 mymousehower" >
            <div class="panel-heading">
               <h2>Wednesday</h2>
            </div>
            <div>
               <div class="table-responsive">
                  <table  class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                     <thead>
                        <tr>
                           <th>Staff Name</th>
                           <th>Grade/ <br/> Subject/ <br/> Class</th>
                           <th>Location</th>
                           <th>Start Time</th>
                           <th>End Time</th>
                        </tr>
                     </thead>
                     <tbody>
                        <div ng-if="staffs.length > 0">
                           <tr ng-repeat="staff in staffs | filter:'Wednesday'">
                              <td>{{staff.staff_name}}</td>
                              <td>{{staff.grade}}/ <br/> {{staff.subject_name}}/<br/> {{staff.class_name}}</td>
                              <td>{{staff.location}}</td>
                              <td>{{staff.start_time}}</td>
                              <td>{{staff.end_time}}</td>
                           </tr>
                        </div>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="col-md-12"></div>
         <div class="panel panel-default col-md-4 mymousehower" >
            <div class="panel-heading">
               <h2>Thursday</h2>
            </div>
            <div>
               <div class="table-responsive">
                  <table  class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                     <thead>
                        <tr>
                           <th>Staff Name</th>
                           <th>Grade/ <br/> Subject/ <br/> Class</th>
                           <th>Location</th>
                           <th>Start Time</th>
                           <th>End Time</th>
                        </tr>
                     </thead>
                     <tbody>
                        <div ng-if="staffs.length > 0">
                           <tr ng-repeat="staff in staffs | filter:'Thursday'">
                              <td>{{staff.staff_name}}</td>
                              <td>{{staff.grade}}/ <br/> {{staff.subject_name}}/<br/> {{staff.class_name}}</td>
                              <td>{{staff.location}}</td>
                              <td>{{staff.start_time}}</td>
                              <td>{{staff.end_time}}</td>
                           </tr>
                        </div>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="panel panel-default col-md-4 mymousehower" >
            <div class="panel-heading">
               <h2>Friday</h2>
            </div>
            <div>
               <div class="table-responsive">
                  <table  class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                     <thead>
                        <tr>
                           <th>Staff Name</th>
                           <th>Grade/ <br/> Subject/ <br/> Class</th>
                           <th>Location</th>
                           <th>Start Time</th>
                           <th>End Time</th>
                        </tr>
                     </thead>
                     <tbody>
                        <div ng-if="staffs.length > 0">
                           <tr ng-repeat="staff in staffs | filter:'Friday'">
                              <td>{{staff.staff_name}}</td>
                              <td>{{staff.grade}}/ <br/> {{staff.subject_name}}/<br/> {{staff.class_name}}</td>
                              <td>{{staff.location}}</td>
                              <td>{{staff.start_time}}</td>
                              <td>{{staff.end_time}}</td>
                           </tr>
                        </div>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="panel panel-default col-md-4 mymousehower" >
            <div class="panel-heading">
               <h2>Saturday</h2>
            </div>
            <div>
               <div class="table-responsive">
                  <table  class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                     <thead>
                        <tr>
                           <th>Staff Name</th>
                           <th>Grade/ <br/> Subject/ <br/> Class</th>
                           <th>Location</th>
                           <th>Start Time</th>
                           <th>End Time</th>
                        </tr>
                     </thead>
                     <tbody>
                        <div ng-if="staffs.length > 0">
                           <tr ng-repeat="staff in staffs | filter:'Saturday'">
                              <td>{{staff.staff_name}}</td>
                              <td>{{staff.grade}}/ <br/> {{staff.subject_name}}/<br/> {{staff.class_name}}</td>
                              <td>{{staff.location}}</td>
                              <td>{{staff.start_time}}</td>
                              <td>{{staff.end_time}}</td>
                           </tr>
                        </div>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="panel panel-default col-md-4 mymousehower" >
            <div class="panel-heading">
               <h2>Sunday</h2>
            </div>
            <div>
               <div class="table-responsive">
                  <table  class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                     <thead>
                        <tr>
                           <th>Staff Name</th>
                           <th>Grade/ <br/> Subject/ <br/> Class</th>
                           <th>Location</th>
                           <th>Start Time</th>
                           <th>End Time</th>
                        </tr>
                     </thead>
                     <tbody>
                        <div ng-if="staffs.length > 0">
                           <tr ng-repeat="staff in staffs | filter:'Sunday'">
                              <td>{{staff.staff_name}}</td>
                              <td>{{staff.grade}}/ <br/> {{staff.subject_name}}/<br/> {{staff.class_name}}</td>
                              <td>{{staff.location}}</td>
                              <td>{{staff.start_time}}</td>
                              <td>{{staff.end_time}}</td>
                           </tr>
                        </div>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>