<style type="text/css">
.hover:hover { 
    background-color: #23b7e5;
}
.downloadbutton:hover{
    background-color: #23b7e5;
}
</style>
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Generate Report</h1>
</div>
<div class="wrapper-md" ng-controller="reportTabController as tab" style="min-height:78vh;">
    <ul class="nav nav-pills">
        <li ng-class="{active:tab.isSet(1)}"><a href ng-click="tab.setTab(1)">Students Report</a></li>
        <li ng-class="{active:tab.isSet(2)}"><a href ng-click="tab.setTab(2)">Staff/Parent Report</a></li>
        <li ng-class="{active:tab.isSet(3)}"><a href ng-click="tab.setTab(3)">Grade Report</a></li>
        <li ng-class="{active:tab.isSet(4)}"><a href ng-click="tab.setTab(4)">Homework Grade Report</a></li>
    </ul>
    <div ng-show="tab.isSet(1)">
        <br>
        <div class="wrapper" ng-controller="createStudentReportController" >
            <form name="newMail" class="form-horizontal m-t-lg" ng-submit="generateReport()">                
                <div class="form-group">
                    <label class="col-sm-3 control-label">Select Class</label>
                    <div class="col-sm-6">
                        <select ng-model="class_ids" multiple class="form-control" required="true" style="height:25vh!important">
                            <option ng-repeat="class in classes" value="{{class.id}}">{{class.class_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 col-lg-offset-7">
                        <button type="submit" class="btn btn-primary btn-lg downloadbutton">Get Student Data</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-show="tab.isSet(2)">
        <br>
        <div ng-controller="createStaffReportController">
            <div class="col-lg-4" >
                <div class="panel panel-default">
                    <div class="panel-body hover">
                      <div class="clearfix text-center m-t">
                        <div class="inline">
                          <div class="h4 m-t m-b-xs">Staff Report</div>
                          <small class="text-muted m-b">&nbsp;</small>
                        </div>                      
                      </div>
                    </div>
                    <footer class="panel-footer bg-info text-center no-padder" >
                      <button class="btn btn-primary downloadbutton" ng-click="generateReport()" style="width: 100%;height: 100px;font-size: 24px;">
                        Download
                      </button>
                    </footer>
                </div>
            </div>
            <div class="col-lg-4" >
                <div class="panel panel-default">
                    <div class="panel-body hover">
                      <div class="clearfix text-center m-t">
                        <div class="inline">
                          <div class="h4 m-t m-b-xs">Parent Report</div>
                          <small class="text-muted m-b">&nbsp;</small>
                        </div>                      
                      </div>
                    </div>
                    <footer class="panel-footer bg-info text-center no-padder" >
                      <button class="btn btn-primary downloadbutton" ng-click="generateReportParent()" style="width: 100%;height: 100px;font-size: 24px;">
                        Download
                      </button>
                    </footer>
                </div>
            </div>    
        </div> 
    </div>
    <div>
        <br>
        <div class="wrapper-md ng-scope">
            <div ng-show="tab.isSet(3)">
                <br>
                 <div class="wrapper" ng-controller="studentGradeReportController" >
                    <form name="newMail" class="form-horizontal m-t-lg" ng-submit="generateReport()">                
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Grade</label>
                            <div class="col-sm-6">
                                <select ng-model="grade_ids" multiple class="form-control" required="true" style="height:25vh!important">
                                    <option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-lg-offset-7">
                                <button type="submit" class="btn btn-primary btn-lg downloadbutton">Student Grade Report</button>
                            </div>
                        </div>
                    </form>
                </div> 
            </div>  
        </div>
    </div>

    <div>
        <br>
        <div class="wrapper-md ng-scope">
            <div ng-show="tab.isSet(4)">
                <br>
                 <div class="wrapper" ng-controller="studentGradeReportController" >
                    <form name="newMail" class="form-horizontal m-t-lg" ng-submit="generateHomeworkReport()">                
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Grade</label>
                            <div class="col-sm-6">
                                <select ng-model="grade_ids" multiple class="form-control" required="true" style="height:25vh!important">
                                    <option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-lg-offset-7">
                                <button type="submit" class="btn btn-primary btn-lg downloadbutton">Student Homework Report</button>
                            </div>
                        </div>
                    </form>
                </div> 
            </div>  
        </div>
    </div>
</div>