<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">School Admin Edit</h1>
</div>
<div class="wrapper-md" ng-controller="schoolSchoolSuperAdminEditController" ng-init="getSchoolAdmin()">
    <div class="row"  style="min-height:71vh;">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit="saveEditSchoolAdmin()" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>School Admin Edit</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Role</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="user.role_id" convert-to-number  required>
                                    <option value="">Please Select</option>
                                    <option ng-repeat="role in roles" value="{{role.id}}">{{role.role_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-9">
                                <input type="hidden" name="role_id" value="0" ng-model="user.role_id">
                                <input type="text" class="form-control" placeholder="First Name" ng-model="user.first_name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Last Name" ng-model="user.last_name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" placeholder="Email" ng-model="user.email" required="true" disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mobile</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Mobile Number" ng-model="user.mobile" required>
                            </div>
                        </div>

                        <div class="form-group">
                        <label class="col-sm-3 control-label">Gender</label>
                        <div class="radio col-sm-8">
                            <label class="i-checks">
                                <input ng-model="user.gender" type="radio" name="rdoGender" ng-value="'male'">
                                <i></i>Male
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="user.gender" type="radio" name="rdoGender" ng-value="'female'">
                                <i></i>Female
                            </label> &nbsp;&nbsp;&nbsp;
                            <label class="i-checks">
                                <input ng-model="user.gender" type="radio" name="rdoGender" ng-value="'other'">
                                <i></i>Other
                            </label> &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Profile Picture (Optional)</label>
                        <div class="col-sm-3">
                            <div class="info-section">
                                <button ngf-select="uploadFile($file)" class="btn btn-primary" > <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> &nbsp;   Select Profile Image</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="/upload/users/{{user.profile_image}}" width="100px" height="100px">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Birth Date</label>
                        <div class="col-sm-8">
                            <datepicker date-format="'yyyy-MM-dd">
                                <input type="text" placeholder="Date of Birth" data-ng-model="user.birth_date" class="form-control">
                            </datepicker>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-8">
                            <textarea ng-model="user.address" class="form-control" rows="8" cols="40" placeholder="Address" ></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">City</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="user.city" class="form-control" placeholder="City" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">State</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="user.state" class="form-control" placeholder="State" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Zip code</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="user.zipcode" class="form-control" placeholder="Enter zip code">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Country</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="user.country" class="form-control" placeholder="Country" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Height</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="user.height" class="form-control" placeholder="Height" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Weight</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="user.weight" class="form-control" placeholder="Weight" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Blood Group</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="user.blood_group" class="form-control" placeholder="Blood Group" >
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="col-sm-3 control-label">Medical Immunizations</label>
                            <div class="col-sm-8">
                                <select ng-model="user.medical_immunizations" class="form-control" multiple="true">
                                    <option ng-repeat="info in infos" ng-if="info.type == 'Immunizations'" value="{{info.id}}">{{info.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Medical Allergies</label>
                            <div class="col-sm-8">
                                <select ng-model="user.medical_allergies" class="form-control" multiple="true">
                                    <option ng-repeat="info in infos" ng-if="info.type == 'Allergies'" value="{{info.id}}">{{info.name}}</option>
                                </select>
                            </div>
                        </div>

                        
                        

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Social (Behavioral)</label>
                            <div class="col-sm-8">
                                <textarea rows="2" class="form-control" ng-model="user.social_behavioral" placeholder="Social (Behavioral) Information"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Physical (Handicaps)</label>
                            <div class="col-sm-8">
                                <textarea rows="2" class="form-control" ng-model="user.physical_handicaps" placeholder="Physical (Handicaps) Information"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Other Medical Information</label>
                            <div class="col-sm-8">
                                <textarea rows="2" class="form-control" ng-model="user.medicalinfo" placeholder="Medical Information"></textarea>
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Emergency Contacts</label>
                        <div class="col-sm-8">
                            <textarea ng-model="user.emergency_contacts" class="form-control ng-pristine ng-valid ng-empty ng-touched" rows="8" cols="20" style=""></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Notes</label>
                        <div class="col-sm-8">
                            <textarea ng-model="user.notes" class="form-control ng-pristine ng-valid ng-empty ng-touched" rows="8" cols="20" style=""></textarea>
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="col-sm-10 control-label"></label>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-success" style="width: 64.44px;">Save</button>
                                <button class="btn btn-default" ng-click="cancel()" type="button" >Cancel</button>
                            </div>
                        </div>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
