<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Manage School Admins</h1>
</div>
<div class="wrapper-md" ng-controller="schoolSchoolSuperAdminListController" data-ng-init="schoolsuperadminusers()" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addSchoolSuparAdminRedirect()">Add New School Admin</button>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-3">
                    <h3>Manage School Admins</h3></div>
            </div>
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed table-striped m-b-none table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>School Name</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Profile Image</th>
                            <th>Created On</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="users.length > '0'">
                            <tr ng-repeat="user in users">
                                <td>{{user.school_name}}</td>
                                <td>{{user.first_name | capitalize}} {{user. last_name | capitalize}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.mobile}}</td>
                                <td>
                                    <img src="/upload/users/{{user.profile_image}}" alt="Authorized Person Image" height="70px" width="70px" class="r r-2x" on-error-src="/img/a0.jpg" />

                                </td>
                                <td>{{user.created_at | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="user.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveUser(user.id)">Active</button>
                                </td>
                                <td ng-if="user.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeUser(user.id)">Inactive</button>
                                </td>
                                <td ng-if="user.id != user.authorized_user_id">
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editUser(user.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteUser(user.id)">Delete</button>
                                </td>
                                <td ng-if="user.id == user.authorized_user_id"> 
                                <button class="btn m-b-xs w-xs btn-primary" ng-click="editUser(user.id)">Edit</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
