<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Materials</h1>
</div>
<div class="wrapper-md" style="min-height:78vh;">
    <div class="panel panel-default" ng-init="getAllMaterials()">
        <div class="panel-heading">
            Download Materials
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-hover table-condensed bg-white-only table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th>Subject</th>
                            <th>Due Date</th>
                            <th>Download File</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="materials.length > '0'">
                            <tr ng-repeat="material in materials">
                                <td>{{material.grade}}</td>
                                <td>{{material.subject_name}}</td>
                                <td>{{material.due_date | date:'MM-dd-yyyy'}}</td>
                                <td>
                                    <button class="btn btn-default" ng-click="DownloadMaterial(material)" style="width:180px;"><i class="glyphicon glyphicon-download-alt"></i>&nbsp; {{material.title}}</button>
                                    <!-- <a ng-href="/upload/materials/{{material.file_name}}" ng-click="DownloadMaterial(material.id)" download="{{material.file_name}}">download</a> -->
                                    <!-- <a download="content.txt" ng-href="{{ url }}">download</a> -->
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
