<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Add Registration</h1>
</div>
<div class="wrapper-md" ng-controller="districtNewEventRegistrationController" ng-init="getAllEventDistrictForRegistration()" style="min-height:78vh;">
    <div class="row">
    <div class="col-sm-8">
        <form name="formValidate" ng-submit="createRegistration()" class="form-horizontal form-validation">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Add Registration</strong>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Registration Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="reg_name" ng-model="registration.reg_name" placeholder="Registration Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Event</label>
                        <div class="col-sm-9">
                            <select class="form-control" ng-model="registration.event_id" required="true">
                                <option value="">Please Select</option>
                                <option ng-repeat="event in events" value="{{event.id}}">{{event.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" name="email" ng-model="registration.email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mobile</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="mobile" ng-model="registration.mobile" placeholder="Mobile Number" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Message</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="message" ng-model="registration.message" placeholder="Message" required>
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success"">Add</button>
                        <button class="btn btn-default" ng-click="cancelRegistration()" type="button" >Cancel</button>
                    </footer>
                </div>
        </form>
        </div>
    </div>
</div>
