<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Edit Event</h1>
</div>
<div class="wrapper-md" ng-controller="districtEditEventController" ng-init="getEvent()" style="min-height:78vh;">
    <div class="row">
        <div class="col-sm-8">
            <form name="formValidate" ng-submit="saveEditEvent()" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Edit Event</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Event Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="title" ng-model="event.title" placeholder="Event title" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Event Start  Date</label>
                            <div class="col-sm-9">
                                <datepicker date-format="'yyyy-MM-dd">
                                    <input type="text" placeholder="Event Start Date" data-ng-model="event.start_date" class="form-control">
                                </datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Event End date</label>
                            <div class="col-sm-9">
                                <datepicker date-format="'yyyy-MM-dd">
                                    <input type="text" placeholder="Event End Date" data-ng-model="event.end_date" class="form-control">
                                </datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="address" ng-model="event.address" placeholder="Event address" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="country" ng-model="event.country" placeholder="Event Country" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Event State</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="state" ng-model="event.state" placeholder="Event State" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Event City</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="city" ng-model="event.city" placeholder="Event City" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Zip Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="pin_code" ng-model="event.pin_code" placeholder="Event Zip Code" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Content</label>
                            <div class="col-sm-9">
                                <trix-editor angular-trix ng-model="event.content" col="5" style="min-height: 150px !important;"></trix-editor>
                            </div>
                        </div>

                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" " style="width: 64.44px;">Save</button>
                            <button class="btn btn-default " ng-click="cancelEvent()" type="button" >Cancel</button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
