<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Events</h1>
</div>
<div class="wrapper-md" ng-controller="districtAllEventsListController" data-ng-init="getAllEventList()" style="min-height:78vh;">
    <button class="btn btn-default" ng-click="addNewEventRedirect()">Add New Event</button>
    <br>
    <br>
    <div class="panel panel-default" >
        <div class="panel-heading" >
            Manage Events
        </div>
        <div>
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-striped table-hover table-condensed table-striped m-b-none">
                    <thead>
                        <tr>
                            <th>Event Title</th>
                            <th>School Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Created on</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="events.length > '0'">
                            <tr ng-repeat="event in events">
                                <td>{{event.title}}</td>
                                <td>{{event.school_name}}</td>
                                <td>{{event.start_date | date:'MM-dd-yyyy'}}</td>
                                <td>{{event.end_date}}</td>
                                <td>{{event.address}}</td>
                                <td>{{event.city}}</td>
                                <td>{{event.created_at | date:'MM-dd-yyyy'}}</td>
                                <td ng-if="event.status == '1'">
                                    <button class="btn m-b-xs w-xs btn-success" ng-click="inactiveEvent(event.id)">Active</button>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="eventResources(event.id)">Resources</button>
                                </td>
                                <td ng-if="event.status == '0'">
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="activeEvent(event.id)">Inactive</button>
                                     <button class="btn m-b-xs w-xs btn-primary" ng-click="eventResources(event.id)">Resources</button>
                                </td>
                                <td>
                                    <button class="btn m-b-xs w-xs btn-primary" ng-click="editEvent(event.id)">Edit</button>
                                    <button class="btn m-b-xs w-xs btn-danger" ng-click="deleteEvent(event.id)">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
